{# Status: Stable #}
<div class="region bg-pattern pattern-{{props.pattern}} theme-{{props.theme}}">
    <section class="prose">
        <h2 class="region-headline">{{props.content.headline}}</h2>
        <p>{{props.content.body}}</p>
        <a href="{{props.content.btn.href}}" class="btn">{{props.content.btn.label}}</a>
    </section>
</div>