<div class="region sidebar reverse sidebar-split gap-m">
    <div class="frame square">
        {% set src = './public/img/' + props.content.img.src %}
        {% img src, props.content.img.alt %}
    </div>
    <div class="prose fixed">
        <p class="overline">{{props.content.overline}}</p>
        <h2>{{props.content.headline}}</h2>
        <p>{{props.content.body}}</p>
        <a href="{{props.content.btn.url}}" class="btn {% if props.content.btn.variant %}btn-{{props.content.btn.variant}}{% endif %}">{{props.content.btn.label}}</a>
    </div>
</div>