<div class="sidebar region align-center gap-m">
    <div class="prose">
        <h1>{{props.content.headline}}</h1>
    </div>
    <a href="{{props.content.btn.href}}" class="btn fixed">{{props.content.btn.label}}</a>
</div>