<section class="cover justify-end cover-s theme-{{props.theme}}">
    <div class="principle prose text-end">
        <h1 class="page-headline">Headline Text</h1>
        <p>
            Tempor ad ullamco commodo velit. Sunt fugiat minim qui deserunt nulla
            deserunt id cupidatat qui aliqu.
        </p>
        <div class="sidebar">
            <input class="input" type="email" placeholder="Email Address" /><a href="/" class="btn fixed">Call to Action</a>
        </div>
    </div>
</section>