<div class="cover sidebar reverse sidebar-split gap-m theme-{{props.theme}}">
    <div class="frame-cover">{% img props.content.img.src, props.content.img.alt %}</div>
    <div class="stack fixed gap-xl">
        <div class="prose auto">
            <h1 class="hero-headline">{{props.content.headline}}</h1>
            <p>
                {{props.content.body}}
            </p>
            <a href="{{props.content.btn.href}}" class="btn">{{props.content.btn.label}}</a>
        </div>
    </div>
</div>