.center {
  /* ↓ Remove padding from the width calculation */
  box-sizing: content-box;
  /* ↓ The maximum width is the maximum measure */
  max-width: var(--max, 75ch);
  /* ↓ Only affect horizontal margins */
  margin-left: auto;
  margin-right: auto;
  /* ↓ Apply the minimum horizontal space */
  padding-left: var(--inset);
  padding-right: var(--inset);
}

/* Possibly remove */
.center.intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
