.grid {
  display: grid;
  grid-gap: var(--gap);
  padding: var(--inset);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min, 250px), 100%), 1fr));
}

.grid[gap] > * {
  --gap: initial;
}
