.inline {
  overflow: hidden;
  padding: var(--inset);
}

.inline > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--gap) / 2 * -1);
}

.inline > * > * {
  margin: calc(var(--gap) / 2);
}
