.sidebar {
  overflow: hidden;
  inline-size: 100%;
  padding: var(--inset);
}

.sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--gap) / 2 * -1);
}

.sidebar > * > * {
  margin: calc(var(--gap) / 2);
  flex-grow: 1;
}

.sidebar > * > :not([fixed]) {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--gap));
}
