.stack {
  display: flex;
  flex-direction: column;
  padding: var(--inset);
  align-items: var(--justify, flex-start);
}

.stack > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.stack > * + * {
  margin-block-start: var(--space, var(--gap));
}

/* Split beflow */
.stack > [split-below] {
  margin-block-end: auto;
}
