.switcher > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc((var(--gap) / 2) * -1);
}

.switcher > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--breakpoint) - (100% - var(--gap))) * 999);
  margin: calc(var(--gap) / 2);
}

.switcher > * > :nth-last-child(n + 5),
.switcher > * > :nth-last-child(n + 5) ~ * {
  flex-basis: 100%;
}

.switcher > * > [grow='2'] {
  flex-grow: 2;
}

.switcher > * > [grow='3'] {
  flex-grow: 3;
}

.switcher[collapse='phone'] {
  --breakpoint: 20em;
}

.switcher[collapse='tablet-portrait'] {
  --breakpoint: 38em;
}

.switcher[collapse='tablet-landscape'] {
  --breakpoint: 56em;
}

.switcher[collapse='desktop'] {
  --breakpoint: 75em;
}

.switcher[collapse='lg-desktop'] {
  --breakpoint: 112em;
}
