.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--inset, var(--stack-inset));
}

.stack > * {
    margin-block: 0;
}

.stack > * + * {
    margin-block-start: var(--gap, var(--stack-gap));
}

.stack > .split {
    margin-block-start: auto;
}

.stack:only-child {
    block-size: 100%;
}
