.switcher {
    display: flex;
    flex-wrap: wrap;
    padding: var(--inset, var(--switcher-inset));
    gap: var(--gap, var(--switcher-gap));
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((var(--threshold, 20rem) - 100%) * 999);
    max-inline-size: 100%;
}

.switcher > :nth-last-child(n+5),
.switcher > :nth-last-child(n+5) ~ * {
    flex-basis: 100%;
}