{# Status: TODO #}
<div class="cover region cover-nav {{props.class}}">
    <div class="principle stack align-end">
        <section class="prose">
            <p class="overline">{{props.content.overline}}</p>
            <h1 class="page-headline">
                {{props.content.headline}}
            </h1>
            <p>{{props.content.body}}</p>
        </section>
    </div>
</div>