{# Status: TODO #}
<div class="cover region cover-nav {{props.class}} theme-{{props.theme}}">
    <section class="principle prose">
        <p class="overline">{{props.content.overline}}</p>
        <h1 class="page-headline">
            {{props.content.headline}}
        </h1>
        <p>{{props.content.body}}</p>
    </section>
</div>