select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><path d="M5 5L0 0h10L5 5z"/></svg>')
        no-repeat right center/8px var(--font-size-m) #fff;
    padding-right: calc(var(--font-size-m) * 1.5);
}
