/* Sepperate children into 2 groups, 1 wider than the other */
.columns {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--space-6);
}

.start-heavy > :first-child {
	flex: 2;
}

.start-heavy > :last-child {
	flex: 1;
}

.end-heavy > :first-child {
	flex: 1;
}

.end-heavy > :last-child {
	flex: 2;
}
