label {
  font-size: var(--font-size-s);
  font-weight: 400;
  font-family: var(--font-family-body);
  line-height: var(--light-height-body);
  color: var(--color-label-override, var(--color-on-background));
}

.required::after {
  content: "*";
  font-size: var(--font-size-m);
  color: var(--color-label-accent-override, var(--color-secondary));
}
