.timeline {
  display: grid;
  gap: var(--space-xs);
}

.timeline-inline {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.timeline-block {
  grid-template-columns: max-content 1fr;
  place-items: start;
}

.timeline-block .sparkline {
  inline-size: 1px;
  block-size: 100%;
  background: var(--color-outline-variant);
  grid-column: 1/2;
}

.sparkline::before {
  content: "";
  display: block;
  width: 0.35rem;
  height: 0.35rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  transform: translateX(-50%);
  margin-block-end: var(--space-xs);
}

.timeline-block time {
  grid-column: 2/3;
}

.timeline time {
  color: var(--color-primary);
  display: flex;
  align-items: center;
}

.timeline-inline time::before {
  content: "";
  display: block;
  width: 0.35rem;
  height: 0.35rem;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.timeline-inline time::before {
  margin-inline-end: var(--space-xs);
}

.timeline time > div {
  flex: 1;
  margin-inline-start: var(--space-xs);
  margin-inline-end: calc(-1 * var(--space-s));
  block-size: 0;
  border-block-start: 1px solid var(--color-outline-variant);
  display: none;
}

@media (--tablet-landscape-up) {
  .timeline {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--space-m);
  }

  .timeline-block {
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: max-content max-content 1fr;
    place-items: start;
    row-gap: 0;
  }

  .sparkline::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    transform: translateX(-50%);
    margin-block-end: var(--space-xs);
  }

  .timeline-block > time {
    grid-column: 1/2;
  }

  .timeline time > div {
    display: block;
  }

  .timeline-inline.timeline-staggered {
    grid-template-rows: 1fr max-content 1fr;
  }

  .timeline-inline.timeline-staggered time {
    grid-row: 2/3;
  }

  .timeline-block.timeline-staggered {
    grid-template-columns: 1fr max-content 1fr;
  }

  .timeline-block.timeline-staggered > .sparkline {
    grid-column: 2/3;
  }

  .timeline-block.timeline-staggered > .stack:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .timeline-block.timeline-staggered > .stack:nth-of-type(4) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .timeline-block.timeline-staggered > .stack:nth-of-type(6) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .timeline-block.timeline-staggered > .stack:nth-of-type(8) {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  .timeline-inline.timeline-staggered > .stack:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .timeline-inline.timeline-staggered > .stack:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 3/-1;
  }

  .timeline-inline.timeline-staggered > .stack:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .timeline-inline.timeline-staggered > .stack:nth-of-type(4) {
    grid-column: 4/5;
    grid-row: 3/-1;
  }
}
