{# Status: TODO #}
<div class="stack region gap-xl">
    <section class="prose center center-intrinsic">
        <h2 class="region-headline">{{props.content.headline}}</h2>
    </section>
    <div class="switcher switch-phone">
        {% for card in props.content.cards %}
        <a href="{{card.link}}" class="card card-link prose theme-{{card.theme}}">

            {% if props.storybook %}
            <img class="icon block icon-l" src="../../public/icons/{{card.icon}}.svg" alt="{{card.icon}}" />
            {% else %}
            {% icon card.icon, "block icon-l" %}
            {% endif %}
            <h3 class="title-headline">
                {{card.headline}}
            </h3>
            <p>{{card.body}}</p>
        </a>
        {% endfor %}
    </div>
</div>