<div class="region sidebar reverse sidebar-split gap-m theme-{{props.theme or 'background'}}">
    <div class="frame square">
        {% set src = './public/img/' + props.content.img.src %}
        {% img src, props.content.img.alt %}
    </div>
    <section class="prose fixed">
        <p class="overline">{{props.content.overline}}</p>
        <h2>{{props.content.headline}}</h2>
        <p>{{props.content.body}}</p>
    </section>
</div>