{# Status: TODO #}
<div class="region stack gap-xl">
    <section class="prose center">
        <h2 class="region-headline">{{props.content.headline}}</h2>
    </section>
    <ul class="grid grid-2 gap-s">
        {% for item in props.content.list %}
        <li class="inline align-start gap-xs">
            {% if props.storybook %}
            <img class="icon icon-secondary" src="../../public/icons/{{item.icon}}.svg" alt="{{item.icon}}" />
            {% else %}
            {% if props.storybook %}
            <img class="icon icon-secondary" src="../../public/icons/{{item.icon}}.svg" alt="{item.icon}" />
            {% else %}
            {% icon item.icon, "icon-secondary" %}
            {% endif %}
            {% endif %}
            {{item.text}}
        </li>
        {% endfor %}
    </ul>
</div>