{# Status: TODO #}
<div class="sidebar region sidebar-split-s gap-xl theme-{{props.theme}}">
    <section class="prose fixed">
        <p class="overline">{{props.content.overline}}</p>
        <h1 class="page-headline">
            {{props.content.headline}}
        </h1>
    </section>
    <div class="grid grid-2 gap-s">
        <div class="prose">
            <svg focusable="false" class="icon icon-l block">
                <use href="src/elements/text/icon/icons.svg#remove"></use>
            </svg>
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <svg focusable="false" class="icon icon-l block">
                <use href="src/elements/text/icon/icons.svg#remove"></use>
            </svg>
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <svg focusable="false" class="icon icon-l block">
                <use href="src/elements/text/icon/icons.svg#remove"></use>
            </svg>
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <svg focusable="false" class="icon icon-l block">
                <use href="src/elements/text/icon/icons.svg#remove"></use>
            </svg>
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
    </div>
</div>