<div class="sidebar sidebar-split-s gap-xl theme-{{props.theme}}">
    <div class="prose fixed">
        <h2 class="region-headline">Frequently Asked Questions</h2>
    </div>
    <div class="grid grid-2 gap-s">
        <div class="prose">
            <h3 class="title-headline inline gap-xs align-center">
                <svg focusable="false" class="icon">
                    <use href="src/elements/text/icon/icons.svg#f-check"></use>
                </svg>
                Question Title
            </h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline inline gap-xs align-center">
                <svg focusable="false" class="icon">
                    <use href="src/elements/text/icon/icons.svg#f-check"></use>
                </svg>
                Question Title
            </h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline inline gap-xs align-center">
                <svg focusable="false" class="icon">
                    <use href="src/elements/text/icon/icons.svg#f-check"></use>
                </svg>
                Question Title
            </h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline inline gap-xs align-center">
                <svg focusable="false" class="icon">
                    <use href="src/elements/text/icon/icons.svg#f-check"></use>
                </svg>
                Question Title
            </h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline inline gap-xs align-center">
                <svg focusable="false" class="icon">
                    <use href="src/elements/text/icon/icons.svg#f-check"></use>
                </svg>
                Question Title
            </h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline inline gap-xs align-center">
                <svg focusable="false" class="icon">
                    <use href="src/elements/text/icon/icons.svg#f-check"></use>
                </svg>
                Question Title
            </h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline inline gap-xs align-center">
                <svg focusable="false" class="icon">
                    <use href="src/elements/text/icon/icons.svg#f-check"></use>
                </svg>
                Question Title
            </h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline inline gap-xs align-center">
                <svg focusable="false" class="icon">
                    <use href="src/elements/text/icon/icons.svg#f-check"></use>
                </svg>
                Question Title
            </h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat.
            </p>
        </div>
    </div>
</div>