---
layout: base
title: Page Not Found
permalink: 404.html
description: The page you're looking for could not be found. Please use the navigation to find what you're looking for, or contact me for further assistance.
---

<section class="cover region sidebar  split-screen">
  <div class="fixed center-intrinsic prose">
    <div class="principle">
      <p class="overline">{{error.overline}}</p>
      <h1 class="page-headline">{{error.headline}}</h1>
      <p>{{error.body}}</p>
      <a href="/" class="btn">{{error.btn}}</a>
    </div>
  </div>
  <div class="frame full">
    <img src="{{content.error.img.src}}" alt="{{content.error.img.alt}}" srcset="">
  </div>
</section>