---
layout: base
permalink: /contact.html
title: Start Your Web Design Project with Me
description: Ready to create a website that accurately represents your organization? Get in touch with me today to start your web design project. My comprehensive web design services prioritize accessibility, sustainability, and social impact. I provide customized solutions to meet your unique website needs and requirements, ensuring that your website effectively communicates your vision and is accessible to as many people as possible. Fill out the contact form below to get started.
---

<div class="cover region cover-nav">
  <div class="sidebar align-stretch sidebar-split gap-m">
    <div class="frame square">
      {% image content.contact.img.src, content.contact.img.alt %}
    </div>
    <div class="stack fixed center center-intrinsic">
      <section class="prose">
        <h1 class="page-headline">{{content.contact.headline}}</h1>
        <p>
          {{content.contact.body}}
        </p>
      </section>
      <form class="stack gap-s" name="contact" method="POST" data-netlify="true">
        <label>
          <span class="required">Full Name</span>
          <input type="text" id="full_name" name="full_name" class="input" required>
        </label>
        <label>
          <span class="required">Email</span>
          <input type="email" id="email" name="email" class="input" required>
        </label>
        <label>
          <span class="required">Describe Your Organization</span>
          <textarea id="organization_description" name="organization_description" required></textarea>
        </label>
        <fieldset class="cards switcher switch-phone">
          <legend>
            <span class="required">What Services Are You Interested In?</span>
          </legend>
          <label class="input-card">
            <input type="checkbox" name="services" value="Branding">
            <span>
              <svg focusable="false">
                <use href="/assets/icons.svg#branding"></use>
              </svg>
              Branding
            </span>
          </label>
          <label class="input-card">
            <input type="checkbox" name="services" value="Web Design">
            <span>
              <svg focusable="false">
                <use href="/assets/icons.svg#web-design"></use>
              </svg>
              Web Design
            </span>
          </label>
          <label class="input-card">
            <input type="checkbox" name="services" value="Optimization">
            <span>
              <svg focusable="false">
                <use href="/assets/icons.svg#performance"></use>
              </svg>
              Optimization
            </span>
          </label>
        </fieldset>
        <label for="budget" class="required">
          Budget
        </label>
        <div class="inline gap-2xs">
          <input type="range" id="budget" name="budget" min="500" max="10000" step="500" value="500">
          <output id="budget-value">$500</output>
        </div>
        <button type="submit" class="btn">Send Application</button>
      </form>
    </div>
  </div>
</div>