---
layout: base
permalink: /portfolio.html
title: See Some Past Projects
description: Check out some of my previous web design projects that prioritize accessibility, sustainability, and social impact.
---

<div class="cover cover-nav">
    <div class="principle">
        <div class="sidebar sidebar-split gap-m">
            <div class="prose fixed">
                <h1>{{content.portfolio.headline}}</h1>
                <p>
                    {{content.portfolio.body}}
                </p>
                <button class="btn">Call to Action</button>
            </div>
            <div class="frame photo">
                <img src="https://generative-placeholders.glitch.me/image?width=600&amp;height=300" alt="placeholder" srcset="">
            </div>
        </div>
    </div>
</div>

    <div class="grid grid-2 row-gap-xl">
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                <img src="https://generative-placeholders.glitch.me/image?width=600&amp;height=300" alt="placeholder" srcset="">
            </div>
            <h3 class="link link-navigation">
                <a href="/" class="section-headline">
                    Long Portfolio Work Title that covers 2 lines
                </a>
            </h3>
        </div>
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                <img src="https://generative-placeholders.glitch.me/image?width=600&amp;height=300" alt="placeholder" srcset="">
            </div>
            <h3 class="link link-navigation">
                <a href="/" class="section-headline">
                    Long Portfolio Work Title that covers 2 lines
                </a>
            </h3>
        </div>
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                <img src="https://generative-placeholders.glitch.me/image?width=600&amp;height=300" alt="placeholder" srcset="">
            </div>
            <h3 class="link link-navigation">
                <a href="/" class="section-headline">
                    Long Portfolio Work Title that covers 2 lines
                </a>
            </h3>
        </div>
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                <img src="https://generative-placeholders.glitch.me/image?width=600&amp;height=300" alt="placeholder" srcset="">
            </div>
            <h3 class="link link-navigation">
                <a href="/" class="section-headline">
                    Long Portfolio Work Title that covers 2 lines
                </a>
            </h3>
        </div>
    </div>

<div class="bg-img">
    <img src="https://generative-placeholders.glitch.me/image?width=600&amp;height=400" alt="placeholder" srcset="">
    <div class="cover cover-nav">
        <div class="principle">
            <div class="prose fixed">
                <a href="/" class="badge badge-primary">{{content.cta.overline}}</a>
                <h2 class="region-headline">{{content.cta.headline}}</h2>
                <p>
                    {{content.cta.body}}
                </p>
                <a href="/contact" class="btn">Start a Project</a>
            </div>
        </div>
    </div>
</div>