table {
  border-collapse: collapse;
  margin: var(--space-m) 0;
  width: 100%;
}

col {
  width: 100%;
}

colgroup {
  width: 100%;
}

tbody {
  vertical-align: middle;
}

td,
th {
  border: 1px solid #ccc;
  padding: var(--space-xs) var(--space-s);
  text-align: left;
}

tfoot {
  font-weight: bold;
}

thead {
  font-weight: bold;
}

tr {
  vertical-align: middle;
}

details {
  margin: var(--space-m) 0;
}

dialog {
  padding: var(--space-m);
}
