a,
.link {
    position: relative;
    color: var(--color, var(--color-brand-text));
    text-decoration: none;
    transition: color 0.4s ease-out;
    max-inline-size: max-content;
}

.bg\:dark a,
.bg\:dark .link {
    --color: #fff;
}

a.default,
.link.default {
    --color: var(--color-fg-primary);
}

a:hover,
.link:hover {
    right: 0;
    text-decoration: none;
}

a::after,
.link::after {
    position: absolute;
    right: 0 100%;
    bottom: 0;
    left: 0 100%;
    border-top: 2px solid var(--color, var(--color-brand-text));
    border-radius: var(--radius-pill);
    transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
    content: "";
}

a:hover::after,
.link:hover::after {
    right: 0;
    border-color: var(--color, var(--color-brand-text));
    animation: anchor-underline 10s cubic-bezier(0, 0.5, 0, 1) normal forwards;
}

@keyframes anchor-underline {
    0%,
    10% {
        right: 0 100%;
        left: 0 100%;
    }

    90%,
    100% {
        right: 0;
        left: 0;
    }
}

  /* link: {
    primary: {
      color: 'primary'
    },
    inverse: {
      color: 'lightest'
    },
    success: {
      color: 'success'
    },
    info: {
      color: 'info'
    },
    warning: {
      color: 'warning'
    },
    danger: {
      color: 'danger'
    }
  }, */