.gap\:3xs {
    --gap: var(--space-3xs) !important;
}

.gap\:2xs {
    --gap: var(--space-2xs) !important;
}

.gap\:xs {
    --gap: var(--space-xs) !important;
}

.gap\:s {
    --gap: var(--space-s) !important;
}

.gap\:m {
    --gap: var(--space-m) !important;
}

.gap\:l {
    --gap: var(--space-l) !important;
}

.gap\:xl {
    --gap: var(--space-xl) !important;
}

.gap\:2xl {
    --gap: var(--space-2xl) !important;
}

.gap\:3xl {
    --gap: var(--space-3xl) !important;
}

[class*='gap'] * {
    --gap: initial;
}
