.sidebar {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: var(--inset, 0);
    gap: var(--gap, var(--space-m));
}

.sidebar > .fixed {
    flex-grow: 1;
}

.sidebar > :not(.fixed) {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}