---
layout: base
title: "Donate: Support Ocean's Voice in Our Mission for Ocean Conservation"
description: "Your donation can make a difference. Support Ocean's Voice in our mission to protect and preserve our world's oceans."
---

{{ header({ variant: 'spaced', logo: 'public/svg/logo', config: config }) }}

{{ intro({ variant: 'img-end', img: { src: 'sunset.png', alt: '' }, content: { overline: 'Your Impact', headline: 'Fuel the Wave of Change', body: "Your generous donation to Ocean's Voice can make a tangible difference in the health and vitality of our world's oceans. Every dollar you give helps us continue our critical work in ocean conservation." } }) }}

{{ feature({ variant: 'list', center: true, content: { overline: 'Why Donate', headline: 'The Power of Your Contribution', body: 'Your donation supports our research, advocacy, education, and conservation initiatives. It enables us to influence policies, protect marine life, restore damaged ecosystems, and inspire more people to take action for our oceans.', list: [ {icon: 'check', text: 'Fund research vital for understanding and protecting ocean ecosystems.'}, {icon: 'check', text: 'Advocate for policies that ensure sustainable use of marine resources.'}, {icon: 'check', text: 'Develop educational programs to inspire ocean conservation in youths.'}, {icon: 'check', text: 'Actively restore coral reefs and other crucial marine habitats.'}, {icon: 'check', text: 'Help protect endangered marine species through conservation efforts.'}, {icon: 'check', text: 'Support and empower communities in protecting local marine environments.'} ] } }) }}

{{ form({ variant: 'split-end', img: { src: 'donation.png', alt: '' }, content: { overline: 'How to Donate', headline: "Join the Ocean's Chorus", body: "Donating to Ocean's Voice is simple and secure. Choose the amount you wish to give, fill in your details, and join our chorus of supporters. Every contribution, no matter the size, makes a difference.", inputs: [ { required: true, label: 'Donation Amount', id: 'donation-amount', type: 'range', min: '5', max: '1000', step: '15', value: '5', output: '$' }, { required: true, label: 'Donation Frequency', id: 'donation-frequency', type: 'checkbox-cards', cards: [ { value: 'One Time', icon: 'dollar' }, { value: 'Yearly', icon: 'calendar' }, { value: 'Monthly', icon: 'calendar-month' } ] } ], submit: 'Send Application' } }) }}

{{ footer({ variant: 'mission-bg', logo: 'public/svg/logo', config: config }) }}