---
layout: base
title:
description:
---

{{ hero({ variant: 'bg-center-hero', content: content.landing.hero }) }}
{{ problem({ variant: 'center-intro', content: content.landing.problem }) }}
{{ guide({ variant: 'img-end-feature', content: content.landing.guide }) }}
{{ plan({ variant: 'blurb-grid-feature', content: content.landing.plan }) }}
{{ action({ variant: 'cover-start-action', content: content.landing.action }) }}
{{ stakes({ variant: 'list-feature', content: content.landing.stakes }) }}
{{ success({ variant: 'bg-pattern-feature', content: content.landing.success }) }}