{% from "../../../macros/region.njk" import header, footer %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{title}} | Dustin Heisey</title>
  <meta name="description" content="{{description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{title}} | Dustin Heisey" />
  <meta property="og:description" content="{{description}}" />
  {% if type == "article" %}
  <meta property="og:type" content="article" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}
  <meta property="og:url" content="{{page.url}}" />
  <meta property="og:image" content="{{ogImage}}" />
  {% if image %}
  <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}" />
  {% endif %}

  <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}" />

  {% favicons './public/favicon.svg', appleIconBgColor='#F1DEC1' %}
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- INLINE CSS -->

  <link rel="stylesheet" href="/theme.css">

  <script src="https://cdn.usefathom.com/script.js" data-site="VCCTYWMM" defer></script>
  <script src="/index.min.js"></script>
  <script>
    if ('serviceWorker' in navigator)
      navigator.serviceWorker.register('/sw.js')
  </script>
</head>

<body class="theme-background">
  {% iconsprite %}
  <main>{{ content | safe }}</main>
</body>

</html>