---
layout: base
type: article
---

{% from "../../../macros/region.njk" import action %}

{% block article %}

<article class="region inset prose prose-l">
  <header class="stack gap-xs">
    {# Breadcrumb #}
    <h1 class="page-headline">{{ title }}</h1>
    {% set wc = content | striptags | wordcount %} {% set wPerMinute = (wc /
    240) + 1 %}
    <ul class="cluster gap-xs no-marker">
      <li class="not-prose color-primary">{{ page.date | readableDate }}</li>
      <li class="not-prose color-primary">
        {{ wPerMinute | round }} min read.
      </li>
    </ul>
  </header>

  <hr class="outline" />
  {{ content | safe }}
</article>

{{ action({variant: 'bg-pattern', theme: 'primary', content: {
headline: "Ready to Make a Difference? Let's Collaborate!",
body: "I'm dedicated to helping businesses and nonprofits like yours thrive while protecting our planet. Get in touch and let's embark on a journey towards a more sustainable future for your organization.",
btn: {
label: 'Start a Project',
href: '/contact'
}
} }) }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ title }}",
    "image": [],
    "author": "{{ metadata.author.name }}",
    "genre": "{{ metadata.genre }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ metadata.publisher.name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ 'favicon/manifest-icon-192.maskable.png' }}"
      }
    },
    "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
    "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
    "datePublished": "{{ page.date | htmlDateString }}",
    "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
    "description": "{{ content | striptags | truncate(140) }}"
  }
</script>

{% endblock %}