<div class="cover cover-nav theme-{{props.theme}}">
    <div class="principle">
        <h2 class="region-headline">Magna magna cupidatat</h2>
        <div class="sidebar gap-m">
            <div class="prose">
                <p class="lead">
                    Sint ullamco cillum laborum commodo sunt do aliquip. Id aliqua aute
                    aliquip magna ut. Consectetur velit esse amet aute. Et adipisicing in
                    anim ullamco. Consectetur velit esse amet aute. Et adipisicing in anim
                    ullamco.
                </p>
                <p>
                    Sint ullamco cillum laborum commodo sunt do aliquip. Id aliqua aute
                    aliquip magna ut. Consectetur velit esse amet aute. Et adipisicing in
                    anim ullamco. Sint ullamco cillum laborum commodo sunt do aliquip. Id
                    aliqua aute aliquip magna ut. Consectetur velit esse amet aute. Et
                    adipisicing in anim ullamco. Sint ullamco cillum laborum commodo sunt
                    do aliquip. Id aliqua aute aliquip magna ut. Consectetur velit esse
                    amet aute. Et adipisicing in anim ullamco. Consectetur velit esse amet
                    aute. Et adipisicing in anim ullamco.
                </p>
            </div>
            <div class="stack gap-xl fixed">
                <div class="prose stack center-intrinsic gap-2xs">
                    <h3 class="section-headline">400</h3>
                    <p>Orcas saved per month</p>
                </div>
                <div class="prose stack center-intrinsic gap-2xs">
                    <h3 class="section-headline">400</h3>
                    <p>Orcas saved per month</p>
                </div>
                <div class="prose stack center-intrinsic gap-2xs">
                    <h3 class="section-headline">400</h3>
                    <p>Orcas saved per month</p>
                </div>
            </div>
        </div>
    </div>
</div>