{# Status: TODO #}
<div class="cover cover-nav theme-{{props.theme}}">
    <div class="principle">
        <div class="sidebar gap-m">
            <div class="frame photo">
                <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
            </div>
            <div class="grid grid-2 gap-xs fixed">
                <div class="prose stack center-intrinsic gap-2xs">
                    <h4 class="section-headline">400</h4>
                    <p>Orcas saved per month</p>
                </div>
                <div class="prose stack center-intrinsic gap-2xs">
                    <h4 class="section-headline">400</h4>
                    <p>Orcas saved per month</p>
                </div>
                <div class="prose stack center-intrinsic gap-2xs">
                    <h4 class="section-headline">400</h4>
                    <p>Orcas saved per month</p>
                </div>
                <div class="prose stack center-intrinsic gap-2xs">
                    <h4 class="section-headline">400</h4>
                    <p>Orcas saved per month</p>
                </div>
            </div>
        </div>
    </div>
</div>