<div class="switcher switch-phone align-start gap-xl theme-{{props.theme}}">
    <div class="prose stack center-intrinsic gap-2xs">
        <h4 class="section-headline">10,000</h4>
        <p>Trees saved per second</p>
    </div>
    <div class="prose stack center-intrinsic gap-2xs">
        <h4 class="section-headline">5 Million</h4>
        <p>Plastic pieces removed</p>
    </div>
    <div class="prose stack center-intrinsic gap-2xs">
        <h4 class="section-headline">400</h4>
        <p>Orcas saved per month</p>
    </div>
    <div class="prose stack center-intrinsic gap-2xs">
        <h4 class="section-headline">400</h4>
        <p>Orcas saved per month</p>
    </div>
</div>