{# Status: TODO #}
<div class="cover region sidebar sidebar-split gap-m theme-{{props.theme}}">
    <div class="prose center">
        <p class="overline">Veniam aute aliqua</p>
        <h2 class="section-headline">Lorem ipsum dolor sit amet</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="grid grid-2 fixed">
            <div class="prose stack gap-2xs">
                <h3 class="section-headline">400</h3>
                <p>Orcas saved per month</p>
            </div>
            <div class="prose stack gap-2xs">
                <h3 class="section-headline">400</h3>
                <p>Orcas saved per month</p>
            </div>
            <div class="prose stack gap-2xs">
                <h3 class="section-headline">400</h3>
                <p>Orcas saved per month</p>
            </div>
            <div class="prose stack gap-2xs">
                <h3 class="section-headline">400</h3>
                <p>Orcas saved per month</p>
            </div>
        </div>
    </div>
    <div class="frame photo fixed">
        <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
</div>