@import 'reset.css';
@import 'tokens.css';

/* Layout */
@import '../components/containers/tokens/inset.css';
@import '../components/containers/tokens/gap.css';
@import '../components/containers/tokens/space.css';
@import '../components/containers/tokens/justify.css';
@import '../components/containers/tokens/align.css';
@import '../components/containers/tokens/threshold.css';
@import '../components/containers/tokens/grow.css';
@import '../components/containers/tokens/aspect.css';

@import '../components/containers/styles/center.css';
@import '../components/containers/styles/cluster.css';
@import '../components/containers/styles/cover.css';
@import '../components/containers/styles/frame.css';
@import '../components/containers/styles/grid.css';
@import '../components/containers/styles/imposter.css';
@import '../components/containers/styles/masonry.css';
@import '../components/containers/styles/reel.css';
@import '../components/containers/styles/sidebar.css';
@import '../components/containers/styles/stack.css';
@import '../components/containers/styles/switcher.css';

@import '../components/typography/text.css';

/* * {
    max-inline-size: 60ch;
} */

:root {
    font-family: var(--font-body);
    color: var(--color-fg-primary);
}

html,
body,
div,
header,
nav,
main,
footer {
    max-inline-size: none;
}

img {
    max-inline-size: 100%;
}
