/* ? Align */
.align\:s {
	align-items: flex-start !important;
}

.align\:c {
	align-items: center !important;
}

.align\:e {
	align-items: flex-end !important;
}

.align\:sb {
	align-items: space-between !important;
}

.align\:sa {
	align-items: space-around !important;
}

.align\:se {
	align-items: space-evenly !important;
}

/* ? Aspect */
.aspect\:square {
	aspect-ratio: 1/1 !important;
}

.aspect\:photo {
	aspect-ratio: 3/2 !important;
}

.aspect\:video {
	aspect-ratio: 16/9 !important;
}

/* ? Gap */
.gap\:2xs {
	--gap: var(--space-2xs) !important;
}

.gap\:xs {
	--gap: var(--space-xs) !important;
}

.gap\:s {
	--gap: var(--space-s) !important;
}

.gap\:m {
	--gap: var(--space-m) !important;
}

.gap\:l {
	--gap: var(--space-l) !important;
}

.gap\:xl {
	--gap: var(--space-xl) !important;
}

.gap\:2xl {
	--gap: var(--space-2xl) !important;
}

:not(.stack)[class*="gap"] > * {
	--gap: initial;
}

.stack[class*="gap"] > * > * {
	--gap: initial;
}

/* ? space */
.space\:2xs {
	--space: var(--space-2xs) !important;
}

.space\:xs {
	--space: var(--space-xs) !important;
}

.space\:s {
	--space: var(--space-s) !important;
}

.space\:m {
	--space: var(--space-m) !important;
}

.space\:l {
	--space: var(--space-l) !important;
}

.space\:xl {
	--space: var(--space-xl) !important;
}

.space\:2xl {
	--space: var(--space-2xl) !important;
}

:not(.stack)[class*="space"] > * {
	--space: initial;
}

.stack[class*="space"] > * > * {
	--space: initial;
}

/* ? Measure */
.measure\:2xs {
	max-inline-size: 20ch;
}

.measure\:xs {
	max-inline-size: 30ch;
}

.measure\:s {
	max-inline-size: 45ch;
}

.measure\:m {
	max-inline-size: 60ch;
}

.measure\:l {
	max-inline-size: 75ch;
}

/* ? Grow */
.grow\:1 {
	flex-grow: 1 !important;
}

.grow\:2 {
	flex-grow: 2 !important;
}

.grow\:3 {
	flex-grow: 3 !important;
}

/* ? Inset */
.inset\:2xs {
	--inset: var(--space-2xs) !important;
}

.inset\:xs {
	--inset: var(--space-xs) !important;
}

.inset\:s {
	--inset: var(--space-s) !important;
}

.inset\:m {
	--inset: var(--space-m) !important;
}

.inset\:l {
	--inset: var(--space-l) !important;
}

.inset\:xl {
	--inset: var(--space-xl) !important;
}

.inset\:2xl {
	--inset: var(--space-2xl) !important;
}

[class*="inset"] > * {
	--inset: initial;
}

/* ? Justify */
.justify\:s {
	justify-content: flex-start !important;
}

.justify\:c {
	justify-content: center !important;
}

.justify\:e {
	justify-content: flex-end !important;
}

.justify\:sb {
	justify-content: space-between !important;
}

.justify\:sa {
	justify-content: space-around !important;
}

.justify\:se {
	justify-content: space-evenly !important;
}

/* ? Text Align */
.text-align\:s {
	text-align: start !important;
}

.text-align\:c {
	text-align: center !important;
}

.text-align\:e {
	text-align: end !important;
}

/* ? Semantics */
.muted {
	--color-text: var(--color-fg-tertiary);
}

.brand {
	--color-text: var(--color-brand-text);
	--color-ui: var(--color-brand-ui);
	--color-bg: var(--color-brand-bg);
}

.success {
	--color-text: var(--color-success-text);
	--color-ui: var(--color-success-ui);
	--color-bg: var(--color-success-bg);
}

.info {
	--color-text: var(--color-info-text);
	--color-ui: var(--color-info-ui);
	--color-bg: var(--color-info-bg);
}

.warning {
	--color-text: var(--color-warning-text);
	--color-ui: var(--color-warning-ui);
	--color-bg: var(--color-warning-bg);
}

.danger {
	--color-text: var(--color-danger-text);
	--color-ui: var(--color-danger-ui);
	--color-bg: var(--color-danger-bg);
}

/* ? Background Colors */
.bg\:bg-tertiary {
	background: var(--color-bg-tertiary);
}

.bg\:bg-secondary {
	background: var(--color-bg-secondary);
}

.bg\:bg-primary {
	background: var(--color-bg-primary);
}

.bg\:fg-tertiary {
	background: var(--color-bg-tertiary);
}

.bg\:fg-secondary {
	background: var(--color-bg-secondary);
}

.bg\:fg-primary {
	background: var(--color-bg-primary);
}

.bg\:brand {
	background: var(--color-brand-bg);
}

.bg\:success {
	background: var(--color-success-bg);
}

.bg\:info {
	background: var(--color-info-bg);
}

.bg\:warning {
	background: var(--color-warning-bg);
}

.bg\:danger {
	background: var(--color-danger-bg);
}
