@import "../components/containers/center.css";
@import "../components/containers/cover.css";
/* @import '../components/containers/details.css'; */
/* @import '../components/containers/dialog.css'; */
/* @import '../components/containers/drawer.css'; */
/* @import '../components/containers/dropwdown.css'; */
@import "../components/containers/frame.css";
@import "../components/containers/grid.css";
/* @import "../components/containers/inline.css"; */
@import "../components/containers/masonry.css";
/* @import '../components/containers/popover.css'; */
@import "../components/containers/reel.css";
@import "../components/containers/sidebar.css";
/* @import '../components/containers/skeleton.css'; */
@import "../components/containers/stack.css";
@import "../components/containers/switcher.css";
/* @import '../components/containers/tabs.css'; */

/* @import '../components/feedback/alert.css'; */
/* @import '../components/feedback/toast.css'; */
/* @import '../components/feedback/tooltip.css'; */

/* @import '../components/inputs/button-group.css'; */
/* @import '../components/inputs/button.css'; */
/* @import '../components/inputs/checkbox.css'; */
/* @import '../components/inputs/color-picker.css'; */
/* @import '../components/inputs/datalist.css'; */
/* @import '../components/inputs/date-picker.css'; */
/* @import '../components/inputs/fieldset.css'; */
/* @import '../components/inputs/file-uploader.css'; */
/* @import '../components/inputs/input.css'; */
/* @import '../components/inputs/link.css'; */
/* @import '../components/inputs/radio-button.css'; */
/* @import '../components/inputs/radio.css'; */
/* @import '../components/inputs/range.css'; */
/* @import '../components/inputs/rating.css'; */
/* @import '../components/inputs/select.css'; */
/* @import '../components/inputs/textarea.css'; */

/* @import '../components/media/avatar.css'; */
/* @import '../components/media/icon.css'; */
/* @import '../components/media/image.css'; */
/* @import '../components/media/video.css'; */

/* @import '../components/status/badge.css'; */
/* @import '../components/status/indicator.css'; */
/* @import '../components/status/progress.css'; */
/* @import '../components/status/spinner.css'; */
@import "../components/status/tag.css";

@import "../components/text.css";

@import "./helpers.css";
@import "./reset.css";
@import "./tokens.css";
@import "./theme.css";

:root {
	font-family: var(--font-body);
	color: var(--color-fg-primary);
}

html,
body,
div,
header,
nav,
main,
footer {
	max-inline-size: none;
}
