/* Media Queries */
@custom-media --phone (width > 20em);
@custom-media --tablet-portrait (width > 38em);
@custom-media --tablet-landscape (width > 56em);
@custom-media --desktop (width > 75em);
@custom-media --l-desktop (width > 112em);

:root {
    /*
    * @tokens Primitive
    * @presenter Color
    */
    --color-brand-300: #19573d;
    --color-brand-200: #36b07d;
    --color-brand-100: #d9fced;

    --color-grey-600: #191a1a;
    --color-grey-500: #2a2c2b;
    --color-grey-400: #474a49;
    --color-grey-300: #b5bdb9;
    --color-grey-200: #dbe4e1;
    --color-grey-100: #f2fcf8;

    --color-success-300: #195733;
    --color-success-200: #1aab56;
    --color-success-100: #aefccf;
    --color-info-300: #192b57;
    --color-info-200: #4372e8;
    --color-info-100: #aec4fc;
    --color-warning-300: #634900;
    --color-warning-200: #edb929;
    --color-warning-100: #fce194;
    --color-danger-300: #731118;
    --color-danger-200: #a12a2a;
    --color-danger-100: #fcbdc2;

    /*
    * @tokens Brand
    * @presenter Color
    */
    --color-brand-text: var(--color-brand-300);
    --color-brand-ui: var(--color-brand-200);
    --color-brand-bg: var(--color-brand-100);

    /*
    * @tokens Greys
    * @presenter Color
    */
    --color-fg-primary: var(--color-grey-600);
    --color-fg-secondary: var(--color-grey-500);
    --color-fg-tertiary: var(--color-grey-400);

    --color-bg-primary: var(--color-grey-300);
    --color-bg-secondary: var(--color-grey-200);
    --color-bg-tertiary: var(--color-grey-100);

    /*
    * @tokens Semantic
    * @presenter Color
    */
    --color-success-text: var(--color-success-300);
    --color-success-ui: var(--color-success-200);
    --color-success-bg: var(--color-success-100);

    --color-info-text: var(--color-info-300);
    --color-info-ui: var(--color-info-200);
    --color-info-bg: var(--color-info-100);

    --color-warning-text: var(--color-warning-300);
    --color-warning-ui: var(--color-warning-200);
    --color-warning-bg: var(--color-warning-100);

    --color-danger-text: var(--color-danger-300);
    --color-danger-ui: var(--color-danger-200);
    --color-danger-bg: var(--color-danger-100);
}

@media (prefers-color-scheme: dark) {
    :root {
        /*
        * @tokens Dark Brand
        * @presenter Color
        */
        --color-brand-text: var(--color-brand-100);
        --color-brand-ui: var(--color-brand-200);
        --color-brand-bg: var(--color-brand-300);

        /*
        * @tokens Dark Greys
        * @presenter Color
        */
        --color-fg-primary: var(--color-grey-100);
        --color-fg-secondary: var(--color-grey-200);
        --color-fg-tertiary: var(--color-grey-300);

        --color-bg-primary: var(--color-grey-400);
        --color-bg-secondary: var(--color-grey-500);
        --color-bg-tertiary: var(--color-grey-600);

        /*
        * @tokens Dark Semantic
        * @presenter Color
        */
        --color-success-text: var(--color-success-100);
        --color-success-ui: var(--color-success-200);
        --color-success-bg: var(--color-success-300);

        --color-info-text: var(--color-info-100);
        --color-info-ui: var(--color-info-200);
        --color-info-bg: var(--color-info-300);

        --color-warning-text: var(--color-warning-100);
        --color-warning-ui: var(--color-warning-200);
        --color-warning-bg: var(--color-warning-300);

        --color-danger-text: var(--color-danger-100);
        --color-danger-ui: var(--color-danger-200);
        --color-danger-bg: var(--color-danger-300);
    }
}

/*
* @tokens Alpha
* @presenter Opacity
*/
:root {
    --alpha: 1;
}

/*
* @tokens Font Family
* @presenter FontFamily
*/
:root {
    --font-heading: monospace;
    --font-body: sans-serif;
}

/*
* @tokens Font Size
* @presenter FontSize
*/
:root {
    --font-size-2xs: 0.625rem; /* 10px */
    --font-size-xs: 0.75rem; /* 12px */
    --font-size-s: 0.875rem; /* 14px */
    --font-size-m: 1rem; /* 16px */
    --font-size-l: 1.25rem; /* 20px */
    --font-size-xl: 1.5rem; /* 24px */
    --font-size-2xl: 2rem; /* 32px */
    --font-size-3xl: 2.5rem; /* 40px */
    --font-size-4xl: 3rem; /* 48px */
    --font-size-5xl: 3.75rem; /* 60px */
    --font-size-6xl: 4.5rem; /* 72px */
    --font-size-7xl: 6rem; /* 96px */
}

/*
* @tokens Font Weight
* @presenter FontWeight
*/
:root {
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
}

/*
* @tokens Line Height
* @presenter LineHeight
*/
:root {
    --line-height-heading: 1.2;
    --line-height-body: 1.5;
}

/*
* @tokens Letter Spacing
* @presenter LetterSpacing
*/
:root {
    --letter-spacing-s: 0em;
    --letter-spacing-m: 0.2;
    --letter-spacing-l: 0.5em;
}

/*
* @tokens Measure
*/
:root {
    --measure-s: 45ch;
    --measure-m: 60ch;
    --measure-l: 75ch;
}

/*
* @tokens Space
* @presenter Spacing
*/
:root {
    --space-3xs: 4px;
    --space-2xs: 8px;
    --space-xs: 12px;
    --space-s: 16px;
    --space-m: 24px;
    --space-l: 32px;
    --space-xl: 48px;
    --space-2xl: 64px;
    --space-3xl: 96px;
    --space-4xl: 128px;
}

/*
* @tokens Z Index
*/
:root {
    --z-drawer: 100;
    --z-dialog: 200;
    --z-popover: 300;
    --z-toast: 400;
    --z-tooltip: 500;
}

/*
* @tokens Transition
* @presenter Animation
*/
:root {
    --transition-xl: 1000ms;
    --transition-l: 500ms;
    --transition-m: 250ms;
    --transition-s: 150ms;
    --transition-xs: 50ms;
}

/*
* @tokens Shadow
* @presenter Shadow
*/
:root {
    --shadow-inset: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
    --shadow-xs: 0 1px 3px hsla(0, 0%, 0%, 0.2);
    --shadow-s: 0 4px 6px hsla(0, 0%, 0%, 0.2);
    --shadow-m: 0 5px 15px hsla(0, 0%, 0%, 0.2);
    --shadow-l: 0 10px 24px hsla(0, 0%, 0%, 0.2);
    --shadow-xl: 0 15px 35px hsla(0, 0%, 0%, 0.2);
}

/*
* @tokens Radius
* @presenter BorderRadius
*/
:root {
    --radius-s: 3px;
    --radius-m: 5px;
    --radius-l: 12px;
    --radius-pill: 9999px;
    --radius-circle: 50%;
}

/*
* @tokens Outline
*/
:root {
    --outline-color: var(--color-brand);
    --outline-offset: 2px;
    --outline: 2px solid var(--color-outline);
}

/*
* @tokens Theming
*/
:root {
    --font-heading: var(--font-heading);
    --font-body: var(--font-body);

    --measure: var(--measure-m);

    --shadow-btn: var(--shadow-xs);
    --shadow-btn-hover: var(--shadow-s);
    --shadow-btn-active: none;
    --shadow-toast: var(--shadow-m);
    --shadow-tooltip: var(--shadow-m);
    --shadow-dropdown: var(--shadow-m);
    --shadow-drawer: var(--shadow-l);
    --shadow-dialog: var(--shadow-l);

    --btn-radius: var(--radius-m);
    --card-radius: var(--radius-l);

    --transition: var(--transition-m);
}
