{# Status: TODO #}
<div class="region timeline timeline-block timeline-staggered theme-{{props.theme}}">
    <div class="sparkline" aria-hidden="true"></div>
    <div class="stack gap-xs">
        <time datetime="2021-08"> Aug 2021 </time>
        <div class="prose">
            <h4 class="title-headline">Exercitation velit deserun</h4>
            <p>
                Non tempor nostrud sit esse ea est. Eiusmod sint fugiat excepteur esse.
                Nisi tempor adipisicing dolor ea veniam consequat.
            </p>
        </div>
    </div>
    <div class="sparkline" aria-hidden="true"></div>
    <div class="stack gap-xs">
        <time datetime="2021-08"> Aug 2021 </time>
        <div class="prose">
            <h4 class="title-headline">Exercitation velit deserun</h4>
            <p>
                Non tempor nostrud sit esse ea est. Eiusmod sint fugiat excepteur esse.
                Nisi tempor adipisicing dolor ea veniam consequat.
            </p>
        </div>
    </div>
    <div class="sparkline" aria-hidden="true"></div>
    <div class="stack gap-xs">
        <time datetime="2021-08"> Aug 2021 </time>
        <div class="prose">
            <h4 class="title-headline">Exercitation velit deserun</h4>
            <p>
                Non tempor nostrud sit esse ea est. Eiusmod sint fugiat excepteur esse.
                Nisi tempor adipisicing dolor ea veniam consequat.
            </p>
        </div>
    </div>
    <div class="sparkline" aria-hidden="true"></div>
    <div class="stack gap-xs">
        <time datetime="2021-08"> Aug 2021 </time>
        <div class="prose">
            <h4 class="title-headline">Exercitation velit deserun</h4>
            <p>
                Non tempor nostrud sit esse ea est. Eiusmod sint fugiat excepteur esse.
                Nisi tempor adipisicing dolor ea veniam consequat.
            </p>
        </div>
    </div>
</div>