{# Status: TODO #}
<div class="timeline timeline-inline timeline-staggered theme-{{props.theme}}">
    <time datetime="2021-08">
        Aug 2021
        <div aria-hidden="true"></div>
    </time>
    <div class="stack gap-xs">
        <div class="prose">
            <h4 class="title-headline">Exercitation velit deserun</h4>
            <p>
                Non tempor nostrud sit esse ea est. Eiusmod sint fugiat excepteur esse.
                Nisi tempor adipisicing dolor ea veniam consequat.
            </p>
        </div>
    </div>
    <time datetime="2021-08">
        Aug 2021
        <div aria-hidden="true"></div>
    </time>
    <div class="stack gap-xs">
        <div class="prose">
            <h4 class="title-headline">Exercitation velit deserun</h4>
            <p>
                Non tempor nostrud sit esse ea est. Eiusmod sint fugiat excepteur esse.
                Nisi tempor adipisicing dolor ea veniam consequat.
            </p>
        </div>
    </div>
    <time datetime="2021-08">
        Aug 2021
        <div aria-hidden="true"></div>
    </time>
    <div class="stack gap-xs">
        <div class="prose">
            <h4 class="title-headline">Exercitation velit deserun</h4>
            <p>
                Non tempor nostrud sit esse ea est. Eiusmod sint fugiat excepteur esse.
                Nisi tempor adipisicing dolor ea veniam consequat.
            </p>
        </div>
    </div>
    <time datetime="2021-08">
        Aug 2021
        <div aria-hidden="true"></div>
    </time>
    <div class="stack gap-xs">
        <div class="prose">
            <h4 class="title-headline">Exercitation velit deserun</h4>
            <p>
                Non tempor nostrud sit esse ea est. Eiusmod sint fugiat excepteur esse.
                Nisi tempor adipisicing dolor ea veniam consequat.
            </p>
        </div>
    </div>
</div>