<div class="theme-{{props.theme}}">
    <div class="prose">
        <h2 class="region-headline">Frequently Asked Questions</h2>
        <p>
            Officia sit tempor et exercitation ex laboris aute cupidatat pariatur
            adipisicing tempor. Nisi laboris nostrud quis sunt dolor.
        </p>
    </div>
    <div class="space-xl">
        <details>
            <summary>
                <h3 class="title-headline">Question Title Text</h3>
            </summary>
            <p>
                Voluptate dolor nisi velit consequat do reprehenderit. Amet in consequat
                duis minim dolor cupidatat adipisicing nulla cillum fugiat laborum minim
                dolore. Fugiat culpa ea veniam deserunt eu cillum. Exercitation Lorem
                adipisicing anim incididunt duis consectetur Lorem dolor id nulla id.
                Irure dolor non minim incididunt qui. Non esse Lorem cillum eiusmod
                officia ad voluptate. Occaecat ad mollit exercitation velit et.
            </p>
        </details>
        <hr />

        <details>
            <summary>
                <h3 class="title-headline">Question Title Text</h3>
            </summary>
            <p>
                Voluptate dolor nisi velit consequat do reprehenderit. Amet in consequat
                duis minim dolor cupidatat adipisicing nulla cillum fugiat laborum minim
                dolore. Fugiat culpa ea veniam deserunt eu cillum. Exercitation Lorem
                adipisicing anim incididunt duis consectetur Lorem dolor id nulla id.
                Irure dolor non minim incididunt qui. Non esse Lorem cillum eiusmod
                officia ad voluptate. Occaecat ad mollit exercitation velit et.
            </p>
        </details>
        <hr />

        <details>
            <summary>
                <h3 class="title-headline">Question Title Text</h3>
            </summary>
            <p>
                Voluptate dolor nisi velit consequat do reprehenderit. Amet in consequat
                duis minim dolor cupidatat adipisicing nulla cillum fugiat laborum minim
                dolore. Fugiat culpa ea veniam deserunt eu cillum. Exercitation Lorem
                adipisicing anim incididunt duis consectetur Lorem dolor id nulla id.
                Irure dolor non minim incididunt qui. Non esse Lorem cillum eiusmod
                officia ad voluptate. Occaecat ad mollit exercitation velit et.
            </p>
        </details>
        <hr />

        <details>
            <summary>
                <h3 class="title-headline">Question Title Text</h3>
            </summary>
            <p>
                Voluptate dolor nisi velit consequat do reprehenderit. Amet in consequat
                duis minim dolor cupidatat adipisicing nulla cillum fugiat laborum minim
                dolore. Fugiat culpa ea veniam deserunt eu cillum. Exercitation Lorem
                adipisicing anim incididunt duis consectetur Lorem dolor id nulla id.
                Irure dolor non minim incididunt qui. Non esse Lorem cillum eiusmod
                officia ad voluptate. Occaecat ad mollit exercitation velit et.
            </p>
        </details>
        <hr />

        <details>
            <summary>
                <h3 class="title-headline">Question Title Text</h3>
            </summary>
            <p>
                Voluptate dolor nisi velit consequat do reprehenderit. Amet in consequat
                duis minim dolor cupidatat adipisicing nulla cillum fugiat laborum minim
                dolore. Fugiat culpa ea veniam deserunt eu cillum. Exercitation Lorem
                adipisicing anim incididunt duis consectetur Lorem dolor id nulla id.
                Irure dolor non minim incididunt qui. Non esse Lorem cillum eiusmod
                officia ad voluptate. Occaecat ad mollit exercitation velit et.
            </p>
        </details>
        <hr />

        <details>
            <summary>
                <h3 class="title-headline">Question Title Text</h3>
            </summary>
            <p>
                Voluptate dolor nisi velit consequat do reprehenderit. Amet in consequat
                duis minim dolor cupidatat adipisicing nulla cillum fugiat laborum minim
                dolore. Fugiat culpa ea veniam deserunt eu cillum. Exercitation Lorem
                adipisicing anim incididunt duis consectetur Lorem dolor id nulla id.
                Irure dolor non minim incididunt qui. Non esse Lorem cillum eiusmod
                officia ad voluptate. Occaecat ad mollit exercitation velit et.
            </p>
        </details>
    </div>
</div>