{# Status: TODO #}
<div class="stack region gap-s theme-{{props.theme}}">
    <div class="prose">
        <h2 class="region-headline">Frequently Asked Questions</h2>
        <p>
            Officia sit tempor et exercitation ex laboris aute cupidatat pariatur
            adipisicing tempor. Nisi laboris nostrud quis sunt dolor.
        </p>
    </div>
    <div class="grid grid-2">
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
    </div>
</div>