{# Status: TODO #}
<div class="sidebar sidebar-split-s gap-xl theme-{{props.theme}}">
    <div class="prose fixed">
        <h2 class="region-headline">Frequently Asked Questions</h2>
        <p>
            Can’t find the answer you’re looking for? Reach out to our customer
            support team.
        </p>
    </div>
    <div class="stack gap-s">
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
        <div class="prose">
            <h3 class="title-headline">Question Title</h3>
            <p>
                Nulla nisi est incididunt nisi deserunt laborum. Et adipisicing et
                mollit minim et consequat. Non magna dolore do anim fugiat excepteur
                cillum ut veniam voluptate ad. Duis dolore adipisicing officia ipsum
                mollit. Cupidatat ex anim Lorem.
            </p>
        </div>
    </div>
</div>