<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | Dustin Heisey</title>
    <meta name="description" content="{{description}}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{title}} | Dustin Heisey">
    <meta property="og:description" content="{{description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dustinheisey.com">
    <meta property="og:image" content="https://dustinheisey.com/assets/logo.svg">

    <!-- Progressive Web App (PWA) Meta Tags -->
    <meta name="theme-color" content="#07372e">
    <meta name="application-name" content="Dustin Heisey">
    <meta name="apple-mobile-web-app-title" content="Dustin Heisey">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/style.css">

    <!-- Favicon and Touch Icons -->
    <link rel="icon" href="/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#07372E">
    <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png">
    <script src="/dark-mode.js" type="module"></script>
    <script src="/navbar.js" type="module"></script>
    <script src="/range.js" type="module"></script>
    <script>navigator.serviceWorker.register("service-worker.js")</script>
</head>

<body class="theme-background">
    <header class="navbar" id="navbar">
        {% include "navbar.njk" %}
    </header>
    {{ content | safe }}
    {% include "footer.njk" %}
</body>

</html>