.button,
button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: var(--space-xs) var(--space-sm);
  color: #fff;
  font-weight: var(--weight-semibold);
  font-size: var(--font-size-md);
  white-space: nowrap;
  text-decoration: none;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: all 0.3s;
}

button:hover,
.button:hover {
  text-decoration: none;
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  box-shadow: var(--shadow-lg);
}

[background='dark'] button,
[background='dark'] .button {
  color: var(--color-primary);
  background-color: #fff;
  border-color: #fff;
}

[background='primary'] button,
[background='primary'] .button {
  color: #fff;
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

[background='dark'] button:hover,
[background='dark'] .button:hover {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: var(--shadow-lg);
}

[background='primary'] button:hover,
[background='primary'] .button:hover {
  color: #fff;
  background-color: var(--color-primary-darkest);
  border-color: var(--color-primary-darkest);
  box-shadow: var(--shadow-lg);
}

button[size='sm'],
.button[size='sm'] {
  font-size: var(--font-size-sm);
  padding-block-start: var(--space-xxs);
  padding-block-end: var(--space-xxs);
  padding-inline-start: var(--space-sm);
  padding-inline-end: var(--space-sm);
}

button[size='lg'],
.button[size='sm'] {
  font-size: var(--font-size-lg);
  padding-block-start: var(--space-md);
  padding-block-end: var(--space-md);
  padding-inline-start: var(--space-lg);
  padding-inline-end: var(--space-lg);
}

button[radius='pill'],
.button[radius='pill'] {
  border-radius: var(--radius-pill);
}

button[radius='circle'],
.button[radius='circle'] {
  padding: var(--space-xs);
  border-radius: var(--radius-circle);
  aspect-ratio: 1;
}

button[radius='circle'] img,
.button[radius='circle'] img {
  inline-size: 1.25rem;
  block-size: auto;
  margin: 0;
}

button[variant='outline'],
.button[variant='outline'] {
  color: var(--color-darkest);
  background-color: transparent;
  border-color: var(--color-dark);
}

button[variant='outline']:hover,
.button[variant='outline']:hover {
  box-shadow: var(--shadow-lg);
}

button[variant='outline'][background='dark'],
.button[variant='outline'][background='dark'] {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

button[variant='outline'][background='dark']:hover,
.button[variant='outline'][background='dark']:hover {
  color: var(--color-darkest);
  background-color: #fff;
  box-shadow: var(--shadow-lg);
}

button[variant='text'],
.button[variant='text'] {
  color: var(--color-dark);
  background-color: transparent;
  border-color: transparent;
}

button[variant='text']:hover,
.button[variant='text']:hover {
  color: var(--color-darkest);
  background-color: var(--color-lighter);
}

button[variant='text'][background='dark'],
.button[variant='text'][background='dark'] {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

button[variant='text'][background='dark']:hover,
.button[variant='text'][background='dark']:hover {
  color: #fff;
  background-color: var(--color-darker);
}
