.columns {
  display: grid;
  place-items: center;
  gap: var(--space-md);
}

.columns[variant='start-heavy'] {
  grid-template-columns: 1.5fr 1fr;
}

.columns[variant='equal'] {
  grid-template-columns: repeat(2, 1fr);
}

.columns[variant='end-heavy'] {
  grid-template-columns: 1fr 1.5fr;
}

@media (--xs) {
  .xs-columns {
    display: grid;
    place-items: center;
    gap: var(--space-md);
  }

  .xs-columns[variant='start-heavy'] {
    grid-template-columns: 1.5fr 1fr;
  }

  .xs-columns[variant='equal'] {
    grid-template-columns: repeat(2, 1fr);
  }

  .xs-columns[variant='end-heavy'] {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media (--sm) {
  .sm-columns {
    display: grid;
    place-items: center;
    gap: var(--space-md);
  }

  .sm-columns[variant='start-heavy'] {
    grid-template-columns: 1.5fr 1fr;
  }

  .sm-columns[variant='equal'] {
    grid-template-columns: repeat(2, 1fr);
  }

  .sm-columns[variant='end-heavy'] {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media (--md) {
  .md-columns {
    display: grid;
    place-items: center;
    gap: var(--space-md);
  }

  .md-columns[variant='start-heavy'] {
    grid-template-columns: 1.5fr 1fr;
  }

  .md-columns[variant='equal'] {
    grid-template-columns: repeat(2, 1fr);
  }

  .md-columns[variant='end-heavy'] {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media (--lg) {
  .lg-columns {
    display: grid;
    place-items: center;
    gap: var(--space-md);
  }

  .lg-columns[variant='start-heavy'] {
    grid-template-columns: 1.5fr 1fr;
  }

  .lg-columns[variant='equal'] {
    grid-template-columns: repeat(2, 1fr);
  }

  .lg-columns[variant='end-heavy'] {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media (--xl) {
  .xl-columns {
    display: grid;
    place-items: center;
    gap: var(--space-md);
  }

  .xl-columns[variant='start-heavy'] {
    grid-template-columns: 1.5fr 1fr;
  }

  .xl-columns[variant='equal'] {
    grid-template-columns: repeat(2, 1fr);
  }

  .xl-columns[variant='end-heavy'] {
    grid-template-columns: 1fr 1.5fr;
  }
}
