/* Margin */

[margin~='n'] {
  margin: 0;
}

[margin~='xxs'] {
  margin: var(--space-xxs);
}

[margin~='xs'] {
  margin: var(--space-xs);
}

[margin~='sm'] {
  margin: var(--space-sm);
}

[margin~='md'] {
  margin: var(--space-md);
}

[margin~='lg'] {
  margin: var(--space-lg);
}

[margin~='xl'] {
  margin: var(--space-xl);
}

[margin~='xxl'] {
  margin: var(--space-xxl);
}

[margin~='xxxl'] {
  margin: var(--space-xxxl);
}

[margin~='y-n'] {
  margin-block: 0;
}

[margin~='y-xxs'] {
  margin-block: var(--space-xxs);
}

[margin~='y-xs'] {
  margin-block: var(--space-xs);
}

[margin~='y-sm'] {
  margin-block: var(--space-sm);
}

[margin~='y-md'] {
  margin-block: var(--space-md);
}

[margin~='y-lg'] {
  margin-block: var(--space-lg);
}

[margin~='y-xl'] {
  margin-block: var(--space-xl);
}

[margin~='y-xxl'] {
  margin-block: var(--space-xxl);
}

[margin~='y-xxxl'] {
  margin-block: var(--space-xxxl);
}

[margin~='x-n'] {
  margin-inline: 0;
}

[margin~='x-xxs'] {
  margin-inline: var(--space-xxs);
}

[margin~='x-xs'] {
  margin-inline: var(--space-xs);
}

[margin~='x-sm'] {
  margin-inline: var(--space-sm);
}

[margin~='x-md'] {
  margin-inline: var(--space-md);
}

[margin~='x-lg'] {
  margin-inline: var(--space-lg);
}

[margin~='x-xl'] {
  margin-inline: var(--space-xl);
}

[margin~='x-xxl'] {
  margin-inline: var(--space-xxl);
}

[margin~='x-xxxl'] {
  margin-inline: var(--space-xxxl);
}

[margin~='top-n'] {
  margin-block-start: 0;
}

[margin~='top-xxs'] {
  margin-block-start: var(--space-xxs);
}

[margin~='top-xs'] {
  margin-block-start: var(--space-xs);
}

[margin~='top-sm'] {
  margin-block-start: var(--space-sm);
}

[margin~='top-md'] {
  margin-block-start: var(--space-md);
}

[margin~='top-lg'] {
  margin-block-start: var(--space-lg);
}

[margin~='top-xl'] {
  margin-block-start: var(--space-xl);
}

[margin~='top-xxl'] {
  margin-block-start: var(--space-xxl);
}

[margin~='top-xxxl'] {
  margin-block-start: var(--space-xxxl);
}

[margin~='left-n'] {
  margin-inline-start: 0;
}

[margin~='left-xxs'] {
  margin-inline-start: var(--space-xxs);
}

[margin~='left-xs'] {
  margin-inline-start: var(--space-xs);
}

[margin~='left-sm'] {
  margin-inline-start: var(--space-sm);
}

[margin~='left-md'] {
  margin-inline-start: var(--space-md);
}

[margin~='left-lg'] {
  margin-inline-start: var(--space-lg);
}

[margin~='left-xl'] {
  margin-inline-start: var(--space-xl);
}

[margin~='left-xxl'] {
  margin-inline-start: var(--space-xxl);
}

[margin~='left-xxxl'] {
  margin-inline-start: var(--space-xxxl);
}

[margin~='bottom-n'] {
  margin-block-end: 0;
}

[margin~='bottom-xxs'] {
  margin-block-end: var(--space-xxs);
}

[margin~='bottom-xs'] {
  margin-block-end: var(--space-xs);
}

[margin~='bottom-sm'] {
  margin-block-end: var(--space-sm);
}

[margin~='bottom-md'] {
  margin-block-end: var(--space-md);
}

[margin~='bottom-lg'] {
  margin-block-end: var(--space-lg);
}

[margin~='bottom-xl'] {
  margin-block-end: var(--space-xl);
}

[margin~='bottom-xxl'] {
  margin-block-end: var(--space-xxl);
}

[margin~='bottom-xxxl'] {
  margin-block-end: var(--space-xxxl);
}

[margin~='right-n'] {
  margin-inline-end: 0;
}

[margin~='right-xxs'] {
  margin-inline-end: var(--space-xxs);
}

[margin~='right-xs'] {
  margin-inline-end: var(--space-xs);
}

[margin~='right-sm'] {
  margin-inline-end: var(--space-sm);
}

[margin~='right-md'] {
  margin-inline-end: var(--space-md);
}

[margin~='right-lg'] {
  margin-inline-end: var(--space-lg);
}

[margin~='right-xl'] {
  margin-inline-end: var(--space-xl);
}

[margin~='right-xxl'] {
  margin-inline-end: var(--space-xxl);
}

[margin~='right-xxxl'] {
  margin-inline-end: var(--space-xxxl);
}

@media (--xs) {
  [margin~='xs-n'] {
    margin: 0;
  }

  [margin~='xs-xxs'] {
    margin: var(--space-xxs);
  }

  [margin~='xs-xs'] {
    margin: var(--space-xs);
  }

  [margin~='xs-sm'] {
    margin: var(--space-sm);
  }

  [margin~='xs-md'] {
    margin: var(--space-md);
  }

  [margin~='xs-lg'] {
    margin: var(--space-lg);
  }

  [margin~='xs-xl'] {
    margin: var(--space-xl);
  }

  [margin~='xs-xxl'] {
    margin: var(--space-xxl);
  }

  [margin~='xs-xxxl'] {
    margin: var(--space-xxxl);
  }

  [margin~='xs-y-n'] {
    margin-block: 0;
  }

  [margin~='xs-y-xxs'] {
    margin-block: var(--space-xxs);
  }

  [margin~='xs-y-xs'] {
    margin-block: var(--space-xs);
  }

  [margin~='xs-y-sm'] {
    margin-block: var(--space-sm);
  }

  [margin~='xs-y-md'] {
    margin-block: var(--space-md);
  }

  [margin~='xs-y-lg'] {
    margin-block: var(--space-lg);
  }

  [margin~='xs-y-xl'] {
    margin-block: var(--space-xl);
  }

  [margin~='xs-y-xxl'] {
    margin-block: var(--space-xxl);
  }

  [margin~='xs-y-xxxl'] {
    margin-block: var(--space-xxxl);
  }

  [margin~='xs-x-n'] {
    margin-inline: 0;
  }

  [margin~='xs-x-xxs'] {
    margin-inline: var(--space-xxs);
  }

  [margin~='xs-x-xs'] {
    margin-inline: var(--space-xs);
  }

  [margin~='xs-x-sm'] {
    margin-inline: var(--space-sm);
  }

  [margin~='xs-x-md'] {
    margin-inline: var(--space-md);
  }

  [margin~='xs-x-lg'] {
    margin-inline: var(--space-lg);
  }

  [margin~='xs-x-xl'] {
    margin-inline: var(--space-xl);
  }

  [margin~='xs-x-xxl'] {
    margin-inline: var(--space-xxl);
  }

  [margin~='xs-x-xxxl'] {
    margin-inline: var(--space-xxxl);
  }

  [margin~='xs-top-n'] {
    margin-block-start: 0;
  }

  [margin~='xs-top-xxs'] {
    margin-block-start: var(--space-xxs);
  }

  [margin~='xs-top-xs'] {
    margin-block-start: var(--space-xs);
  }

  [margin~='xs-top-sm'] {
    margin-block-start: var(--space-sm);
  }

  [margin~='xs-top-md'] {
    margin-block-start: var(--space-md);
  }

  [margin~='xs-top-lg'] {
    margin-block-start: var(--space-lg);
  }

  [margin~='xs-top-xl'] {
    margin-block-start: var(--space-xl);
  }

  [margin~='xs-top-xxl'] {
    margin-block-start: var(--space-xxl);
  }

  [margin~='xs-top-xxxl'] {
    margin-block-start: var(--space-xxxl);
  }

  [margin~='xs-left-n'] {
    margin-inline-start: 0;
  }

  [margin~='xs-left-xxs'] {
    margin-inline-start: var(--space-xxs);
  }

  [margin~='xs-left-xs'] {
    margin-inline-start: var(--space-xs);
  }

  [margin~='xs-left-sm'] {
    margin-inline-start: var(--space-sm);
  }

  [margin~='xs-left-md'] {
    margin-inline-start: var(--space-md);
  }

  [margin~='xs-left-lg'] {
    margin-inline-start: var(--space-lg);
  }

  [margin~='xs-left-xl'] {
    margin-inline-start: var(--space-xl);
  }

  [margin~='xs-left-xxl'] {
    margin-inline-start: var(--space-xxl);
  }

  [margin~='xs-left-xxxl'] {
    margin-inline-start: var(--space-xxxl);
  }

  [margin~='xs-bottom-n'] {
    margin-block-end: 0;
  }

  [margin~='xs-bottom-xxs'] {
    margin-block-end: var(--space-xxs);
  }

  [margin~='xs-bottom-xs'] {
    margin-block-end: var(--space-xs);
  }

  [margin~='xs-bottom-sm'] {
    margin-block-end: var(--space-sm);
  }

  [margin~='xs-bottom-md'] {
    margin-block-end: var(--space-md);
  }

  [margin~='xs-bottom-lg'] {
    margin-block-end: var(--space-lg);
  }

  [margin~='xs-bottom-xl'] {
    margin-block-end: var(--space-xl);
  }

  [margin~='xs-bottom-xxl'] {
    margin-block-end: var(--space-xxl);
  }

  [margin~='xs-bottom-xxxl'] {
    margin-block-end: var(--space-xxxl);
  }

  [margin~='xs-right-n'] {
    margin-inline-end: 0;
  }

  [margin~='xs-right-xxs'] {
    margin-inline-end: var(--space-xxs);
  }

  [margin~='xs-right-xs'] {
    margin-inline-end: var(--space-xs);
  }

  [margin~='xs-right-sm'] {
    margin-inline-end: var(--space-sm);
  }

  [margin~='xs-right-md'] {
    margin-inline-end: var(--space-md);
  }

  [margin~='xs-right-lg'] {
    margin-inline-end: var(--space-lg);
  }

  [margin~='xs-right-xl'] {
    margin-inline-end: var(--space-xl);
  }

  [margin~='xs-right-xxl'] {
    margin-inline-end: var(--space-xxl);
  }

  [margin~='xs-right-xxxl'] {
    margin-inline-end: var(--space-xxxl);
  }
}

@media (--sm) {
  [margin~='sm-n'] {
    margin: 0;
  }

  [margin~='sm-xxs'] {
    margin: var(--space-xxs);
  }

  [margin~='sm-xs'] {
    margin: var(--space-xs);
  }

  [margin~='sm-sm'] {
    margin: var(--space-sm);
  }

  [margin~='sm-md'] {
    margin: var(--space-md);
  }

  [margin~='sm-lg'] {
    margin: var(--space-lg);
  }

  [margin~='sm-xl'] {
    margin: var(--space-xl);
  }

  [margin~='sm-xxl'] {
    margin: var(--space-xxl);
  }

  [margin~='sm-xxxl'] {
    margin: var(--space-xxxl);
  }

  [margin~='sm-y-n'] {
    margin-block: 0;
  }

  [margin~='sm-y-xxs'] {
    margin-block: var(--space-xxs);
  }

  [margin~='sm-y-xs'] {
    margin-block: var(--space-xs);
  }

  [margin~='sm-y-sm'] {
    margin-block: var(--space-sm);
  }

  [margin~='sm-y-md'] {
    margin-block: var(--space-md);
  }

  [margin~='sm-y-lg'] {
    margin-block: var(--space-lg);
  }

  [margin~='sm-y-xl'] {
    margin-block: var(--space-xl);
  }

  [margin~='sm-y-xxl'] {
    margin-block: var(--space-xxl);
  }

  [margin~='sm-y-xxxl'] {
    margin-block: var(--space-xxxl);
  }

  [margin~='sm-x-n'] {
    margin-inline: 0;
  }

  [margin~='sm-x-xxs'] {
    margin-inline: var(--space-xxs);
  }

  [margin~='sm-x-xs'] {
    margin-inline: var(--space-xs);
  }

  [margin~='sm-x-sm'] {
    margin-inline: var(--space-sm);
  }

  [margin~='sm-x-md'] {
    margin-inline: var(--space-md);
  }

  [margin~='sm-x-lg'] {
    margin-inline: var(--space-lg);
  }

  [margin~='sm-x-xl'] {
    margin-inline: var(--space-xl);
  }

  [margin~='sm-x-xxl'] {
    margin-inline: var(--space-xxl);
  }

  [margin~='sm-x-xxxl'] {
    margin-inline: var(--space-xxxl);
  }

  [margin~='sm-top-n'] {
    margin-block-start: 0;
  }

  [margin~='sm-top-xxs'] {
    margin-block-start: var(--space-xxs);
  }

  [margin~='sm-top-xs'] {
    margin-block-start: var(--space-xs);
  }

  [margin~='sm-top-sm'] {
    margin-block-start: var(--space-sm);
  }

  [margin~='sm-top-md'] {
    margin-block-start: var(--space-md);
  }

  [margin~='sm-top-lg'] {
    margin-block-start: var(--space-lg);
  }

  [margin~='sm-top-xl'] {
    margin-block-start: var(--space-xl);
  }

  [margin~='sm-top-xxl'] {
    margin-block-start: var(--space-xxl);
  }

  [margin~='sm-top-xxxl'] {
    margin-block-start: var(--space-xxxl);
  }

  [margin~='sm-left-n'] {
    margin-inline-start: 0;
  }

  [margin~='sm-left-xxs'] {
    margin-inline-start: var(--space-xxs);
  }

  [margin~='sm-left-xs'] {
    margin-inline-start: var(--space-xs);
  }

  [margin~='sm-left-sm'] {
    margin-inline-start: var(--space-sm);
  }

  [margin~='sm-left-md'] {
    margin-inline-start: var(--space-md);
  }

  [margin~='sm-left-lg'] {
    margin-inline-start: var(--space-lg);
  }

  [margin~='sm-left-xl'] {
    margin-inline-start: var(--space-xl);
  }

  [margin~='sm-left-xxl'] {
    margin-inline-start: var(--space-xxl);
  }

  [margin~='sm-left-xxxl'] {
    margin-inline-start: var(--space-xxxl);
  }

  [margin~='sm-bottom-n'] {
    margin-block-end: 0;
  }

  [margin~='sm-bottom-xxs'] {
    margin-block-end: var(--space-xxs);
  }

  [margin~='sm-bottom-xs'] {
    margin-block-end: var(--space-xs);
  }

  [margin~='sm-bottom-sm'] {
    margin-block-end: var(--space-sm);
  }

  [margin~='sm-bottom-md'] {
    margin-block-end: var(--space-md);
  }

  [margin~='sm-bottom-lg'] {
    margin-block-end: var(--space-lg);
  }

  [margin~='sm-bottom-xl'] {
    margin-block-end: var(--space-xl);
  }

  [margin~='sm-bottom-xxl'] {
    margin-block-end: var(--space-xxl);
  }

  [margin~='sm-bottom-xxxl'] {
    margin-block-end: var(--space-xxxl);
  }

  [margin~='sm-right-n'] {
    margin-inline-end: 0;
  }

  [margin~='sm-right-xxs'] {
    margin-inline-end: var(--space-xxs);
  }

  [margin~='sm-right-xs'] {
    margin-inline-end: var(--space-xs);
  }

  [margin~='sm-right-sm'] {
    margin-inline-end: var(--space-sm);
  }

  [margin~='sm-right-md'] {
    margin-inline-end: var(--space-md);
  }

  [margin~='sm-right-lg'] {
    margin-inline-end: var(--space-lg);
  }

  [margin~='sm-right-xl'] {
    margin-inline-end: var(--space-xl);
  }

  [margin~='sm-right-xxl'] {
    margin-inline-end: var(--space-xxl);
  }

  [margin~='sm-right-xxxl'] {
    margin-inline-end: var(--space-xxxl);
  }
}

@media (--md) {
  [margin~='md-n'] {
    margin: 0;
  }

  [margin~='md-xxs'] {
    margin: var(--space-xxs);
  }

  [margin~='md-xs'] {
    margin: var(--space-xs);
  }

  [margin~='md-sm'] {
    margin: var(--space-sm);
  }

  [margin~='md-md'] {
    margin: var(--space-md);
  }

  [margin~='md-lg'] {
    margin: var(--space-lg);
  }

  [margin~='md-xl'] {
    margin: var(--space-xl);
  }

  [margin~='md-xxl'] {
    margin: var(--space-xxl);
  }

  [margin~='md-xxxl'] {
    margin: var(--space-xxxl);
  }

  [margin~='md-y-n'] {
    margin-block: 0;
  }

  [margin~='md-y-xxs'] {
    margin-block: var(--space-xxs);
  }

  [margin~='md-y-xs'] {
    margin-block: var(--space-xs);
  }

  [margin~='md-y-sm'] {
    margin-block: var(--space-sm);
  }

  [margin~='md-y-md'] {
    margin-block: var(--space-md);
  }

  [margin~='md-y-lg'] {
    margin-block: var(--space-lg);
  }

  [margin~='md-y-xl'] {
    margin-block: var(--space-xl);
  }

  [margin~='md-y-xxl'] {
    margin-block: var(--space-xxl);
  }

  [margin~='md-y-xxxl'] {
    margin-block: var(--space-xxxl);
  }

  [margin~='md-x-n'] {
    margin-inline: 0;
  }

  [margin~='md-x-xxs'] {
    margin-inline: var(--space-xxs);
  }

  [margin~='md-x-xs'] {
    margin-inline: var(--space-xs);
  }

  [margin~='md-x-sm'] {
    margin-inline: var(--space-sm);
  }

  [margin~='md-x-md'] {
    margin-inline: var(--space-md);
  }

  [margin~='md-x-lg'] {
    margin-inline: var(--space-lg);
  }

  [margin~='md-x-xl'] {
    margin-inline: var(--space-xl);
  }

  [margin~='md-x-xxl'] {
    margin-inline: var(--space-xxl);
  }

  [margin~='md-x-xxxl'] {
    margin-inline: var(--space-xxxl);
  }

  [margin~='md-top-n'] {
    margin-block-start: 0;
  }

  [margin~='md-top-xxs'] {
    margin-block-start: var(--space-xxs);
  }

  [margin~='md-top-xs'] {
    margin-block-start: var(--space-xs);
  }

  [margin~='md-top-sm'] {
    margin-block-start: var(--space-sm);
  }

  [margin~='md-top-md'] {
    margin-block-start: var(--space-md);
  }

  [margin~='md-top-lg'] {
    margin-block-start: var(--space-lg);
  }

  [margin~='md-top-xl'] {
    margin-block-start: var(--space-xl);
  }

  [margin~='md-top-xxl'] {
    margin-block-start: var(--space-xxl);
  }

  [margin~='md-top-xxxl'] {
    margin-block-start: var(--space-xxxl);
  }

  [margin~='md-left-n'] {
    margin-inline-start: 0;
  }

  [margin~='md-left-xxs'] {
    margin-inline-start: var(--space-xxs);
  }

  [margin~='md-left-xs'] {
    margin-inline-start: var(--space-xs);
  }

  [margin~='md-left-sm'] {
    margin-inline-start: var(--space-sm);
  }

  [margin~='md-left-md'] {
    margin-inline-start: var(--space-md);
  }

  [margin~='md-left-lg'] {
    margin-inline-start: var(--space-lg);
  }

  [margin~='md-left-xl'] {
    margin-inline-start: var(--space-xl);
  }

  [margin~='md-left-xxl'] {
    margin-inline-start: var(--space-xxl);
  }

  [margin~='md-left-xxxl'] {
    margin-inline-start: var(--space-xxxl);
  }

  [margin~='md-bottom-n'] {
    margin-block-end: 0;
  }

  [margin~='md-bottom-xxs'] {
    margin-block-end: var(--space-xxs);
  }

  [margin~='md-bottom-xs'] {
    margin-block-end: var(--space-xs);
  }

  [margin~='md-bottom-sm'] {
    margin-block-end: var(--space-sm);
  }

  [margin~='md-bottom-md'] {
    margin-block-end: var(--space-md);
  }

  [margin~='md-bottom-lg'] {
    margin-block-end: var(--space-lg);
  }

  [margin~='md-bottom-xl'] {
    margin-block-end: var(--space-xl);
  }

  [margin~='md-bottom-xxl'] {
    margin-block-end: var(--space-xxl);
  }

  [margin~='md-bottom-xxxl'] {
    margin-block-end: var(--space-xxxl);
  }

  [margin~='md-right-n'] {
    margin-inline-end: 0;
  }

  [margin~='md-right-xxs'] {
    margin-inline-end: var(--space-xxs);
  }

  [margin~='md-right-xs'] {
    margin-inline-end: var(--space-xs);
  }

  [margin~='md-right-sm'] {
    margin-inline-end: var(--space-sm);
  }

  [margin~='md-right-md'] {
    margin-inline-end: var(--space-md);
  }

  [margin~='md-right-lg'] {
    margin-inline-end: var(--space-lg);
  }

  [margin~='md-right-xl'] {
    margin-inline-end: var(--space-xl);
  }

  [margin~='md-right-xxl'] {
    margin-inline-end: var(--space-xxl);
  }

  [margin~='md-right-xxxl'] {
    margin-inline-end: var(--space-xxxl);
  }
}

@media (--lg) {
  [margin~='lg-n'] {
    margin: 0;
  }

  [margin~='lg-xxs'] {
    margin: var(--space-xxs);
  }

  [margin~='lg-xs'] {
    margin: var(--space-xs);
  }

  [margin~='lg-sm'] {
    margin: var(--space-sm);
  }

  [margin~='lg-md'] {
    margin: var(--space-md);
  }

  [margin~='lg-lg'] {
    margin: var(--space-lg);
  }

  [margin~='lg-xl'] {
    margin: var(--space-xl);
  }

  [margin~='lg-xxl'] {
    margin: var(--space-xxl);
  }

  [margin~='lg-xxxl'] {
    margin: var(--space-xxxl);
  }

  [margin~='lg-y-n'] {
    margin-block: 0;
  }

  [margin~='lg-y-xxs'] {
    margin-block: var(--space-xxs);
  }

  [margin~='lg-y-xs'] {
    margin-block: var(--space-xs);
  }

  [margin~='lg-y-sm'] {
    margin-block: var(--space-sm);
  }

  [margin~='lg-y-md'] {
    margin-block: var(--space-md);
  }

  [margin~='lg-y-lg'] {
    margin-block: var(--space-lg);
  }

  [margin~='lg-y-xl'] {
    margin-block: var(--space-xl);
  }

  [margin~='lg-y-xxl'] {
    margin-block: var(--space-xxl);
  }

  [margin~='lg-y-xxxl'] {
    margin-block: var(--space-xxxl);
  }

  [margin~='lg-x-n'] {
    margin-inline: 0;
  }

  [margin~='lg-x-xxs'] {
    margin-inline: var(--space-xxs);
  }

  [margin~='lg-x-xs'] {
    margin-inline: var(--space-xs);
  }

  [margin~='lg-x-sm'] {
    margin-inline: var(--space-sm);
  }

  [margin~='lg-x-md'] {
    margin-inline: var(--space-md);
  }

  [margin~='lg-x-lg'] {
    margin-inline: var(--space-lg);
  }

  [margin~='lg-x-xl'] {
    margin-inline: var(--space-xl);
  }

  [margin~='lg-x-xxl'] {
    margin-inline: var(--space-xxl);
  }

  [margin~='lg-x-xxxl'] {
    margin-inline: var(--space-xxxl);
  }

  [margin~='lg-top-n'] {
    margin-block-start: 0;
  }

  [margin~='lg-top-xxs'] {
    margin-block-start: var(--space-xxs);
  }

  [margin~='lg-top-xs'] {
    margin-block-start: var(--space-xs);
  }

  [margin~='lg-top-sm'] {
    margin-block-start: var(--space-sm);
  }

  [margin~='lg-top-md'] {
    margin-block-start: var(--space-md);
  }

  [margin~='lg-top-lg'] {
    margin-block-start: var(--space-lg);
  }

  [margin~='lg-top-xl'] {
    margin-block-start: var(--space-xl);
  }

  [margin~='lg-top-xxl'] {
    margin-block-start: var(--space-xxl);
  }

  [margin~='lg-top-xxxl'] {
    margin-block-start: var(--space-xxxl);
  }

  [margin~='lg-left-n'] {
    margin-inline-start: 0;
  }

  [margin~='lg-left-xxs'] {
    margin-inline-start: var(--space-xxs);
  }

  [margin~='lg-left-xs'] {
    margin-inline-start: var(--space-xs);
  }

  [margin~='lg-left-sm'] {
    margin-inline-start: var(--space-sm);
  }

  [margin~='lg-left-md'] {
    margin-inline-start: var(--space-md);
  }

  [margin~='lg-left-lg'] {
    margin-inline-start: var(--space-lg);
  }

  [margin~='lg-left-xl'] {
    margin-inline-start: var(--space-xl);
  }

  [margin~='lg-left-xxl'] {
    margin-inline-start: var(--space-xxl);
  }

  [margin~='lg-left-xxxl'] {
    margin-inline-start: var(--space-xxxl);
  }

  [margin~='lg-bottom-n'] {
    margin-block-end: 0;
  }

  [margin~='lg-bottom-xxs'] {
    margin-block-end: var(--space-xxs);
  }

  [margin~='lg-bottom-xs'] {
    margin-block-end: var(--space-xs);
  }

  [margin~='lg-bottom-sm'] {
    margin-block-end: var(--space-sm);
  }

  [margin~='lg-bottom-md'] {
    margin-block-end: var(--space-md);
  }

  [margin~='lg-bottom-lg'] {
    margin-block-end: var(--space-lg);
  }

  [margin~='lg-bottom-xl'] {
    margin-block-end: var(--space-xl);
  }

  [margin~='lg-bottom-xxl'] {
    margin-block-end: var(--space-xxl);
  }

  [margin~='lg-bottom-xxxl'] {
    margin-block-end: var(--space-xxxl);
  }

  [margin~='lg-right-n'] {
    margin-inline-end: 0;
  }

  [margin~='lg-right-xxs'] {
    margin-inline-end: var(--space-xxs);
  }

  [margin~='lg-right-xs'] {
    margin-inline-end: var(--space-xs);
  }

  [margin~='lg-right-sm'] {
    margin-inline-end: var(--space-sm);
  }

  [margin~='lg-right-md'] {
    margin-inline-end: var(--space-md);
  }

  [margin~='lg-right-lg'] {
    margin-inline-end: var(--space-lg);
  }

  [margin~='lg-right-xl'] {
    margin-inline-end: var(--space-xl);
  }

  [margin~='lg-right-xxl'] {
    margin-inline-end: var(--space-xxl);
  }

  [margin~='lg-right-xxxl'] {
    margin-inline-end: var(--space-xxxl);
  }
}

@media (--xl) {
  [margin~='xl-n'] {
    margin: 0;
  }

  [margin~='xl-xxs'] {
    margin: var(--space-xxs);
  }

  [margin~='xl-xs'] {
    margin: var(--space-xs);
  }

  [margin~='xl-sm'] {
    margin: var(--space-sm);
  }

  [margin~='xl-md'] {
    margin: var(--space-md);
  }

  [margin~='xl-lg'] {
    margin: var(--space-lg);
  }

  [margin~='xl-xl'] {
    margin: var(--space-xl);
  }

  [margin~='xl-xxl'] {
    margin: var(--space-xxl);
  }

  [margin~='xl-xxxl'] {
    margin: var(--space-xxxl);
  }

  [margin~='xl-y-n'] {
    margin-block: 0;
  }

  [margin~='xl-y-xxs'] {
    margin-block: var(--space-xxs);
  }

  [margin~='xl-y-xs'] {
    margin-block: var(--space-xs);
  }

  [margin~='xl-y-sm'] {
    margin-block: var(--space-sm);
  }

  [margin~='xl-y-md'] {
    margin-block: var(--space-md);
  }

  [margin~='xl-y-lg'] {
    margin-block: var(--space-lg);
  }

  [margin~='xl-y-xl'] {
    margin-block: var(--space-xl);
  }

  [margin~='xl-y-xxl'] {
    margin-block: var(--space-xxl);
  }

  [margin~='xl-y-xxxl'] {
    margin-block: var(--space-xxxl);
  }

  [margin~='xl-x-n'] {
    margin-inline: 0;
  }

  [margin~='xl-x-xxs'] {
    margin-inline: var(--space-xxs);
  }

  [margin~='xl-x-xs'] {
    margin-inline: var(--space-xs);
  }

  [margin~='xl-x-sm'] {
    margin-inline: var(--space-sm);
  }

  [margin~='xl-x-md'] {
    margin-inline: var(--space-md);
  }

  [margin~='xl-x-lg'] {
    margin-inline: var(--space-lg);
  }

  [margin~='xl-x-xl'] {
    margin-inline: var(--space-xl);
  }

  [margin~='xl-x-xxl'] {
    margin-inline: var(--space-xxl);
  }

  [margin~='xl-x-xxxl'] {
    margin-inline: var(--space-xxxl);
  }

  [margin~='xl-top-n'] {
    margin-block-start: 0;
  }

  [margin~='xl-top-xxs'] {
    margin-block-start: var(--space-xxs);
  }

  [margin~='xl-top-xs'] {
    margin-block-start: var(--space-xs);
  }

  [margin~='xl-top-sm'] {
    margin-block-start: var(--space-sm);
  }

  [margin~='xl-top-md'] {
    margin-block-start: var(--space-md);
  }

  [margin~='xl-top-lg'] {
    margin-block-start: var(--space-lg);
  }

  [margin~='xl-top-xl'] {
    margin-block-start: var(--space-xl);
  }

  [margin~='xl-top-xxl'] {
    margin-block-start: var(--space-xxl);
  }

  [margin~='xl-top-xxxl'] {
    margin-block-start: var(--space-xxxl);
  }

  [margin~='xl-left-n'] {
    margin-inline-start: 0;
  }

  [margin~='xl-left-xxs'] {
    margin-inline-start: var(--space-xxs);
  }

  [margin~='xl-left-xs'] {
    margin-inline-start: var(--space-xs);
  }

  [margin~='xl-left-sm'] {
    margin-inline-start: var(--space-sm);
  }

  [margin~='xl-left-md'] {
    margin-inline-start: var(--space-md);
  }

  [margin~='xl-left-lg'] {
    margin-inline-start: var(--space-lg);
  }

  [margin~='xl-left-xl'] {
    margin-inline-start: var(--space-xl);
  }

  [margin~='xl-left-xxl'] {
    margin-inline-start: var(--space-xxl);
  }

  [margin~='xl-left-xxxl'] {
    margin-inline-start: var(--space-xxxl);
  }

  [margin~='xl-bottom-n'] {
    margin-block-end: 0;
  }

  [margin~='xl-bottom-xxs'] {
    margin-block-end: var(--space-xxs);
  }

  [margin~='xl-bottom-xs'] {
    margin-block-end: var(--space-xs);
  }

  [margin~='xl-bottom-sm'] {
    margin-block-end: var(--space-sm);
  }

  [margin~='xl-bottom-md'] {
    margin-block-end: var(--space-md);
  }

  [margin~='xl-bottom-lg'] {
    margin-block-end: var(--space-lg);
  }

  [margin~='xl-bottom-xl'] {
    margin-block-end: var(--space-xl);
  }

  [margin~='xl-bottom-xxl'] {
    margin-block-end: var(--space-xxl);
  }

  [margin~='xl-bottom-xxxl'] {
    margin-block-end: var(--space-xxxl);
  }

  [margin~='xl-right-n'] {
    margin-inline-end: 0;
  }

  [margin~='xl-right-xxs'] {
    margin-inline-end: var(--space-xxs);
  }

  [margin~='xl-right-xs'] {
    margin-inline-end: var(--space-xs);
  }

  [margin~='xl-right-sm'] {
    margin-inline-end: var(--space-sm);
  }

  [margin~='xl-right-md'] {
    margin-inline-end: var(--space-md);
  }

  [margin~='xl-right-lg'] {
    margin-inline-end: var(--space-lg);
  }

  [margin~='xl-right-xl'] {
    margin-inline-end: var(--space-xl);
  }

  [margin~='xl-right-xxl'] {
    margin-inline-end: var(--space-xxl);
  }

  [margin~='xl-right-xxxl'] {
    margin-inline-end: var(--space-xxxl);
  }
}

/* Padding */

[padding~='n'] {
  padding: 0;
}

[padding~='xxs'] {
  padding: var(--space-xxs);
}

[padding~='xs'] {
  padding: var(--space-xs);
}

[padding~='sm'] {
  padding: var(--space-sm);
}

[padding~='md'] {
  padding: var(--space-md);
}

[padding~='lg'] {
  padding: var(--space-lg);
}

[padding~='xl'] {
  padding: var(--space-xl);
}

[padding~='xxl'] {
  padding: var(--space-xxl);
}

[padding~='xxxl'] {
  padding: var(--space-xxxl);
}

[padding~='y-n'] {
  padding-block: 0;
}

[padding~='y-xxs'] {
  padding-block: var(--space-xxs);
}

[padding~='y-xs'] {
  padding-block: var(--space-xs);
}

[padding~='y-sm'] {
  padding-block: var(--space-sm);
}

[padding~='y-md'] {
  padding-block: var(--space-md);
}

[padding~='y-lg'] {
  padding-block: var(--space-lg);
}

[padding~='y-xl'] {
  padding-block: var(--space-xl);
}

[padding~='y-xxl'] {
  padding-block: var(--space-xxl);
}

[padding~='y-xxxl'] {
  padding-block: var(--space-xxxl);
}

[padding~='x-n'] {
  padding-inline: 0;
}

[padding~='x-xxs'] {
  padding-inline: var(--space-xxs);
}

[padding~='x-xs'] {
  padding-inline: var(--space-xs);
}

[padding~='x-sm'] {
  padding-inline: var(--space-sm);
}

[padding~='x-md'] {
  padding-inline: var(--space-md);
}

[padding~='x-lg'] {
  padding-inline: var(--space-lg);
}

[padding~='x-xl'] {
  padding-inline: var(--space-xl);
}

[padding~='x-xxl'] {
  padding-inline: var(--space-xxl);
}

[padding~='x-xxxl'] {
  padding-inline: var(--space-xxxl);
}

[padding~='top-n'] {
  padding-block-start: 0;
}

[padding~='top-xxs'] {
  padding-block-start: var(--space-xxs);
}

[padding~='top-xs'] {
  padding-block-start: var(--space-xs);
}

[padding~='top-sm'] {
  padding-block-start: var(--space-sm);
}

[padding~='top-md'] {
  padding-block-start: var(--space-md);
}

[padding~='top-lg'] {
  padding-block-start: var(--space-lg);
}

[padding~='top-xl'] {
  padding-block-start: var(--space-xl);
}

[padding~='top-xxl'] {
  padding-block-start: var(--space-xxl);
}

[padding~='top-xxxl'] {
  padding-block-start: var(--space-xxxl);
}

[padding~='left-n'] {
  padding-inline-start: 0;
}

[padding~='left-xxs'] {
  padding-inline-start: var(--space-xxs);
}

[padding~='left-xs'] {
  padding-inline-start: var(--space-xs);
}

[padding~='left-sm'] {
  padding-inline-start: var(--space-sm);
}

[padding~='left-md'] {
  padding-inline-start: var(--space-md);
}

[padding~='left-lg'] {
  padding-inline-start: var(--space-lg);
}

[padding~='left-xl'] {
  padding-inline-start: var(--space-xl);
}

[padding~='left-xxl'] {
  padding-inline-start: var(--space-xxl);
}

[padding~='left-xxxl'] {
  padding-inline-start: var(--space-xxxl);
}

[padding~='bottom-n'] {
  padding-block-end: 0;
}

[padding~='bottom-xxs'] {
  padding-block-end: var(--space-xxs);
}

[padding~='bottom-xs'] {
  padding-block-end: var(--space-xs);
}

[padding~='bottom-sm'] {
  padding-block-end: var(--space-sm);
}

[padding~='bottom-md'] {
  padding-block-end: var(--space-md);
}

[padding~='bottom-lg'] {
  padding-block-end: var(--space-lg);
}

[padding~='bottom-xl'] {
  padding-block-end: var(--space-xl);
}

[padding~='bottom-xxl'] {
  padding-block-end: var(--space-xxl);
}

[padding~='bottom-xxxl'] {
  padding-block-end: var(--space-xxxl);
}

[padding~='right-n'] {
  padding-inline-end: 0;
}

[padding~='right-xxs'] {
  padding-inline-end: var(--space-xxs);
}

[padding~='right-xs'] {
  padding-inline-end: var(--space-xs);
}

[padding~='right-sm'] {
  padding-inline-end: var(--space-sm);
}

[padding~='right-md'] {
  padding-inline-end: var(--space-md);
}

[padding~='right-lg'] {
  padding-inline-end: var(--space-lg);
}

[padding~='right-xl'] {
  padding-inline-end: var(--space-xl);
}

[padding~='right-xxl'] {
  padding-inline-end: var(--space-xxl);
}

[padding~='right-xxxl'] {
  padding-inline-end: var(--space-xxxl);
}

@media (--xs) {
  [padding~='xs-n'] {
    padding: 0;
  }

  [padding~='xs-xxs'] {
    padding: var(--space-xxs);
  }

  [padding~='xs-xs'] {
    padding: var(--space-xs);
  }

  [padding~='xs-sm'] {
    padding: var(--space-sm);
  }

  [padding~='xs-md'] {
    padding: var(--space-md);
  }

  [padding~='xs-lg'] {
    padding: var(--space-lg);
  }

  [padding~='xs-xl'] {
    padding: var(--space-xl);
  }

  [padding~='xs-xxl'] {
    padding: var(--space-xxl);
  }

  [padding~='xs-xxxl'] {
    padding: var(--space-xxxl);
  }

  [padding~='xs-y-n'] {
    padding-block: 0;
  }

  [padding~='xs-y-xxs'] {
    padding-block: var(--space-xxs);
  }

  [padding~='xs-y-xs'] {
    padding-block: var(--space-xs);
  }

  [padding~='xs-y-sm'] {
    padding-block: var(--space-sm);
  }

  [padding~='xs-y-md'] {
    padding-block: var(--space-md);
  }

  [padding~='xs-y-lg'] {
    padding-block: var(--space-lg);
  }

  [padding~='xs-y-xl'] {
    padding-block: var(--space-xl);
  }

  [padding~='xs-y-xxl'] {
    padding-block: var(--space-xxl);
  }

  [padding~='xs-y-xxxl'] {
    padding-block: var(--space-xxxl);
  }

  [padding~='xs-x-n'] {
    padding-inline: 0;
  }

  [padding~='xs-x-xxs'] {
    padding-inline: var(--space-xxs);
  }

  [padding~='xs-x-xs'] {
    padding-inline: var(--space-xs);
  }

  [padding~='xs-x-sm'] {
    padding-inline: var(--space-sm);
  }

  [padding~='xs-x-md'] {
    padding-inline: var(--space-md);
  }

  [padding~='xs-x-lg'] {
    padding-inline: var(--space-lg);
  }

  [padding~='xs-x-xl'] {
    padding-inline: var(--space-xl);
  }

  [padding~='xs-x-xxl'] {
    padding-inline: var(--space-xxl);
  }

  [padding~='xs-x-xxxl'] {
    padding-inline: var(--space-xxxl);
  }

  [padding~='xs-top-n'] {
    padding-block-start: 0;
  }

  [padding~='xs-top-xxs'] {
    padding-block-start: var(--space-xxs);
  }

  [padding~='xs-top-xs'] {
    padding-block-start: var(--space-xs);
  }

  [padding~='xs-top-sm'] {
    padding-block-start: var(--space-sm);
  }

  [padding~='xs-top-md'] {
    padding-block-start: var(--space-md);
  }

  [padding~='xs-top-lg'] {
    padding-block-start: var(--space-lg);
  }

  [padding~='xs-top-xl'] {
    padding-block-start: var(--space-xl);
  }

  [padding~='xs-top-xxl'] {
    padding-block-start: var(--space-xxl);
  }

  [padding~='xs-top-xxxl'] {
    padding-block-start: var(--space-xxxl);
  }

  [padding~='xs-left-n'] {
    padding-inline-start: 0;
  }

  [padding~='xs-left-xxs'] {
    padding-inline-start: var(--space-xxs);
  }

  [padding~='xs-left-xs'] {
    padding-inline-start: var(--space-xs);
  }

  [padding~='xs-left-sm'] {
    padding-inline-start: var(--space-sm);
  }

  [padding~='xs-left-md'] {
    padding-inline-start: var(--space-md);
  }

  [padding~='xs-left-lg'] {
    padding-inline-start: var(--space-lg);
  }

  [padding~='xs-left-xl'] {
    padding-inline-start: var(--space-xl);
  }

  [padding~='xs-left-xxl'] {
    padding-inline-start: var(--space-xxl);
  }

  [padding~='xs-left-xxxl'] {
    padding-inline-start: var(--space-xxxl);
  }

  [padding~='xs-bottom-n'] {
    padding-block-end: 0;
  }

  [padding~='xs-bottom-xxs'] {
    padding-block-end: var(--space-xxs);
  }

  [padding~='xs-bottom-xs'] {
    padding-block-end: var(--space-xs);
  }

  [padding~='xs-bottom-sm'] {
    padding-block-end: var(--space-sm);
  }

  [padding~='xs-bottom-md'] {
    padding-block-end: var(--space-md);
  }

  [padding~='xs-bottom-lg'] {
    padding-block-end: var(--space-lg);
  }

  [padding~='xs-bottom-xl'] {
    padding-block-end: var(--space-xl);
  }

  [padding~='xs-bottom-xxl'] {
    padding-block-end: var(--space-xxl);
  }

  [padding~='xs-bottom-xxxl'] {
    padding-block-end: var(--space-xxxl);
  }

  [padding~='xs-right-n'] {
    padding-inline-end: 0;
  }

  [padding~='xs-right-xxs'] {
    padding-inline-end: var(--space-xxs);
  }

  [padding~='xs-right-xs'] {
    padding-inline-end: var(--space-xs);
  }

  [padding~='xs-right-sm'] {
    padding-inline-end: var(--space-sm);
  }

  [padding~='xs-right-md'] {
    padding-inline-end: var(--space-md);
  }

  [padding~='xs-right-lg'] {
    padding-inline-end: var(--space-lg);
  }

  [padding~='xs-right-xl'] {
    padding-inline-end: var(--space-xl);
  }

  [padding~='xs-right-xxl'] {
    padding-inline-end: var(--space-xxl);
  }

  [padding~='xs-right-xxxl'] {
    padding-inline-end: var(--space-xxxl);
  }
}

@media (--sm) {
  [padding~='sm-n'] {
    padding: 0;
  }

  [padding~='sm-xxs'] {
    padding: var(--space-xxs);
  }

  [padding~='sm-xs'] {
    padding: var(--space-xs);
  }

  [padding~='sm-sm'] {
    padding: var(--space-sm);
  }

  [padding~='sm-md'] {
    padding: var(--space-md);
  }

  [padding~='sm-lg'] {
    padding: var(--space-lg);
  }

  [padding~='sm-xl'] {
    padding: var(--space-xl);
  }

  [padding~='sm-xxl'] {
    padding: var(--space-xxl);
  }

  [padding~='sm-xxxl'] {
    padding: var(--space-xxxl);
  }

  [padding~='sm-y-n'] {
    padding-block: 0;
  }

  [padding~='sm-y-xxs'] {
    padding-block: var(--space-xxs);
  }

  [padding~='sm-y-xs'] {
    padding-block: var(--space-xs);
  }

  [padding~='sm-y-sm'] {
    padding-block: var(--space-sm);
  }

  [padding~='sm-y-md'] {
    padding-block: var(--space-md);
  }

  [padding~='sm-y-lg'] {
    padding-block: var(--space-lg);
  }

  [padding~='sm-y-xl'] {
    padding-block: var(--space-xl);
  }

  [padding~='sm-y-xxl'] {
    padding-block: var(--space-xxl);
  }

  [padding~='sm-y-xxxl'] {
    padding-block: var(--space-xxxl);
  }

  [padding~='sm-x-n'] {
    padding-inline: 0;
  }

  [padding~='sm-x-xxs'] {
    padding-inline: var(--space-xxs);
  }

  [padding~='sm-x-xs'] {
    padding-inline: var(--space-xs);
  }

  [padding~='sm-x-sm'] {
    padding-inline: var(--space-sm);
  }

  [padding~='sm-x-md'] {
    padding-inline: var(--space-md);
  }

  [padding~='sm-x-lg'] {
    padding-inline: var(--space-lg);
  }

  [padding~='sm-x-xl'] {
    padding-inline: var(--space-xl);
  }

  [padding~='sm-x-xxl'] {
    padding-inline: var(--space-xxl);
  }

  [padding~='sm-x-xxxl'] {
    padding-inline: var(--space-xxxl);
  }

  [padding~='sm-top-n'] {
    padding-block-start: 0;
  }

  [padding~='sm-top-xxs'] {
    padding-block-start: var(--space-xxs);
  }

  [padding~='sm-top-xs'] {
    padding-block-start: var(--space-xs);
  }

  [padding~='sm-top-sm'] {
    padding-block-start: var(--space-sm);
  }

  [padding~='sm-top-md'] {
    padding-block-start: var(--space-md);
  }

  [padding~='sm-top-lg'] {
    padding-block-start: var(--space-lg);
  }

  [padding~='sm-top-xl'] {
    padding-block-start: var(--space-xl);
  }

  [padding~='sm-top-xxl'] {
    padding-block-start: var(--space-xxl);
  }

  [padding~='sm-top-xxxl'] {
    padding-block-start: var(--space-xxxl);
  }

  [padding~='sm-left-n'] {
    padding-inline-start: 0;
  }

  [padding~='sm-left-xxs'] {
    padding-inline-start: var(--space-xxs);
  }

  [padding~='sm-left-xs'] {
    padding-inline-start: var(--space-xs);
  }

  [padding~='sm-left-sm'] {
    padding-inline-start: var(--space-sm);
  }

  [padding~='sm-left-md'] {
    padding-inline-start: var(--space-md);
  }

  [padding~='sm-left-lg'] {
    padding-inline-start: var(--space-lg);
  }

  [padding~='sm-left-xl'] {
    padding-inline-start: var(--space-xl);
  }

  [padding~='sm-left-xxl'] {
    padding-inline-start: var(--space-xxl);
  }

  [padding~='sm-left-xxxl'] {
    padding-inline-start: var(--space-xxxl);
  }

  [padding~='sm-bottom-n'] {
    padding-block-end: 0;
  }

  [padding~='sm-bottom-xxs'] {
    padding-block-end: var(--space-xxs);
  }

  [padding~='sm-bottom-xs'] {
    padding-block-end: var(--space-xs);
  }

  [padding~='sm-bottom-sm'] {
    padding-block-end: var(--space-sm);
  }

  [padding~='sm-bottom-md'] {
    padding-block-end: var(--space-md);
  }

  [padding~='sm-bottom-lg'] {
    padding-block-end: var(--space-lg);
  }

  [padding~='sm-bottom-xl'] {
    padding-block-end: var(--space-xl);
  }

  [padding~='sm-bottom-xxl'] {
    padding-block-end: var(--space-xxl);
  }

  [padding~='sm-bottom-xxxl'] {
    padding-block-end: var(--space-xxxl);
  }

  [padding~='sm-right-n'] {
    padding-inline-end: 0;
  }

  [padding~='sm-right-xxs'] {
    padding-inline-end: var(--space-xxs);
  }

  [padding~='sm-right-xs'] {
    padding-inline-end: var(--space-xs);
  }

  [padding~='sm-right-sm'] {
    padding-inline-end: var(--space-sm);
  }

  [padding~='sm-right-md'] {
    padding-inline-end: var(--space-md);
  }

  [padding~='sm-right-lg'] {
    padding-inline-end: var(--space-lg);
  }

  [padding~='sm-right-xl'] {
    padding-inline-end: var(--space-xl);
  }

  [padding~='sm-right-xxl'] {
    padding-inline-end: var(--space-xxl);
  }

  [padding~='sm-right-xxxl'] {
    padding-inline-end: var(--space-xxxl);
  }
}

@media (--md) {
  [padding~='md-n'] {
    padding: 0;
  }

  [padding~='md-xxs'] {
    padding: var(--space-xxs);
  }

  [padding~='md-xs'] {
    padding: var(--space-xs);
  }

  [padding~='md-sm'] {
    padding: var(--space-sm);
  }

  [padding~='md-md'] {
    padding: var(--space-md);
  }

  [padding~='md-lg'] {
    padding: var(--space-lg);
  }

  [padding~='md-xl'] {
    padding: var(--space-xl);
  }

  [padding~='md-xxl'] {
    padding: var(--space-xxl);
  }

  [padding~='md-xxxl'] {
    padding: var(--space-xxxl);
  }

  [padding~='md-y-n'] {
    padding-block: 0;
  }

  [padding~='md-y-xxs'] {
    padding-block: var(--space-xxs);
  }

  [padding~='md-y-xs'] {
    padding-block: var(--space-xs);
  }

  [padding~='md-y-sm'] {
    padding-block: var(--space-sm);
  }

  [padding~='md-y-md'] {
    padding-block: var(--space-md);
  }

  [padding~='md-y-lg'] {
    padding-block: var(--space-lg);
  }

  [padding~='md-y-xl'] {
    padding-block: var(--space-xl);
  }

  [padding~='md-y-xxl'] {
    padding-block: var(--space-xxl);
  }

  [padding~='md-y-xxxl'] {
    padding-block: var(--space-xxxl);
  }

  [padding~='md-x-n'] {
    padding-inline: 0;
  }

  [padding~='md-x-xxs'] {
    padding-inline: var(--space-xxs);
  }

  [padding~='md-x-xs'] {
    padding-inline: var(--space-xs);
  }

  [padding~='md-x-sm'] {
    padding-inline: var(--space-sm);
  }

  [padding~='md-x-md'] {
    padding-inline: var(--space-md);
  }

  [padding~='md-x-lg'] {
    padding-inline: var(--space-lg);
  }

  [padding~='md-x-xl'] {
    padding-inline: var(--space-xl);
  }

  [padding~='md-x-xxl'] {
    padding-inline: var(--space-xxl);
  }

  [padding~='md-x-xxxl'] {
    padding-inline: var(--space-xxxl);
  }

  [padding~='md-top-n'] {
    padding-block-start: 0;
  }

  [padding~='md-top-xxs'] {
    padding-block-start: var(--space-xxs);
  }

  [padding~='md-top-xs'] {
    padding-block-start: var(--space-xs);
  }

  [padding~='md-top-sm'] {
    padding-block-start: var(--space-sm);
  }

  [padding~='md-top-md'] {
    padding-block-start: var(--space-md);
  }

  [padding~='md-top-lg'] {
    padding-block-start: var(--space-lg);
  }

  [padding~='md-top-xl'] {
    padding-block-start: var(--space-xl);
  }

  [padding~='md-top-xxl'] {
    padding-block-start: var(--space-xxl);
  }

  [padding~='md-top-xxxl'] {
    padding-block-start: var(--space-xxxl);
  }

  [padding~='md-left-n'] {
    padding-inline-start: 0;
  }

  [padding~='md-left-xxs'] {
    padding-inline-start: var(--space-xxs);
  }

  [padding~='md-left-xs'] {
    padding-inline-start: var(--space-xs);
  }

  [padding~='md-left-sm'] {
    padding-inline-start: var(--space-sm);
  }

  [padding~='md-left-md'] {
    padding-inline-start: var(--space-md);
  }

  [padding~='md-left-lg'] {
    padding-inline-start: var(--space-lg);
  }

  [padding~='md-left-xl'] {
    padding-inline-start: var(--space-xl);
  }

  [padding~='md-left-xxl'] {
    padding-inline-start: var(--space-xxl);
  }

  [padding~='md-left-xxxl'] {
    padding-inline-start: var(--space-xxxl);
  }

  [padding~='md-bottom-n'] {
    padding-block-end: 0;
  }

  [padding~='md-bottom-xxs'] {
    padding-block-end: var(--space-xxs);
  }

  [padding~='md-bottom-xs'] {
    padding-block-end: var(--space-xs);
  }

  [padding~='md-bottom-sm'] {
    padding-block-end: var(--space-sm);
  }

  [padding~='md-bottom-md'] {
    padding-block-end: var(--space-md);
  }

  [padding~='md-bottom-lg'] {
    padding-block-end: var(--space-lg);
  }

  [padding~='md-bottom-xl'] {
    padding-block-end: var(--space-xl);
  }

  [padding~='md-bottom-xxl'] {
    padding-block-end: var(--space-xxl);
  }

  [padding~='md-bottom-xxxl'] {
    padding-block-end: var(--space-xxxl);
  }

  [padding~='md-right-n'] {
    padding-inline-end: 0;
  }

  [padding~='md-right-xxs'] {
    padding-inline-end: var(--space-xxs);
  }

  [padding~='md-right-xs'] {
    padding-inline-end: var(--space-xs);
  }

  [padding~='md-right-sm'] {
    padding-inline-end: var(--space-sm);
  }

  [padding~='md-right-md'] {
    padding-inline-end: var(--space-md);
  }

  [padding~='md-right-lg'] {
    padding-inline-end: var(--space-lg);
  }

  [padding~='md-right-xl'] {
    padding-inline-end: var(--space-xl);
  }

  [padding~='md-right-xxl'] {
    padding-inline-end: var(--space-xxl);
  }

  [padding~='md-right-xxxl'] {
    padding-inline-end: var(--space-xxxl);
  }
}

@media (--lg) {
  [padding~='lg-n'] {
    padding: 0;
  }

  [padding~='lg-xxs'] {
    padding: var(--space-xxs);
  }

  [padding~='lg-xs'] {
    padding: var(--space-xs);
  }

  [padding~='lg-sm'] {
    padding: var(--space-sm);
  }

  [padding~='lg-md'] {
    padding: var(--space-md);
  }

  [padding~='lg-lg'] {
    padding: var(--space-lg);
  }

  [padding~='lg-xl'] {
    padding: var(--space-xl);
  }

  [padding~='lg-xxl'] {
    padding: var(--space-xxl);
  }

  [padding~='lg-xxxl'] {
    padding: var(--space-xxxl);
  }

  [padding~='lg-y-n'] {
    padding-block: 0;
  }

  [padding~='lg-y-xxs'] {
    padding-block: var(--space-xxs);
  }

  [padding~='lg-y-xs'] {
    padding-block: var(--space-xs);
  }

  [padding~='lg-y-sm'] {
    padding-block: var(--space-sm);
  }

  [padding~='lg-y-md'] {
    padding-block: var(--space-md);
  }

  [padding~='lg-y-lg'] {
    padding-block: var(--space-lg);
  }

  [padding~='lg-y-xl'] {
    padding-block: var(--space-xl);
  }

  [padding~='lg-y-xxl'] {
    padding-block: var(--space-xxl);
  }

  [padding~='lg-y-xxxl'] {
    padding-block: var(--space-xxxl);
  }

  [padding~='lg-x-n'] {
    padding-inline: 0;
  }

  [padding~='lg-x-xxs'] {
    padding-inline: var(--space-xxs);
  }

  [padding~='lg-x-xs'] {
    padding-inline: var(--space-xs);
  }

  [padding~='lg-x-sm'] {
    padding-inline: var(--space-sm);
  }

  [padding~='lg-x-md'] {
    padding-inline: var(--space-md);
  }

  [padding~='lg-x-lg'] {
    padding-inline: var(--space-lg);
  }

  [padding~='lg-x-xl'] {
    padding-inline: var(--space-xl);
  }

  [padding~='lg-x-xxl'] {
    padding-inline: var(--space-xxl);
  }

  [padding~='lg-x-xxxl'] {
    padding-inline: var(--space-xxxl);
  }

  [padding~='lg-top-n'] {
    padding-block-start: 0;
  }

  [padding~='lg-top-xxs'] {
    padding-block-start: var(--space-xxs);
  }

  [padding~='lg-top-xs'] {
    padding-block-start: var(--space-xs);
  }

  [padding~='lg-top-sm'] {
    padding-block-start: var(--space-sm);
  }

  [padding~='lg-top-md'] {
    padding-block-start: var(--space-md);
  }

  [padding~='lg-top-lg'] {
    padding-block-start: var(--space-lg);
  }

  [padding~='lg-top-xl'] {
    padding-block-start: var(--space-xl);
  }

  [padding~='lg-top-xxl'] {
    padding-block-start: var(--space-xxl);
  }

  [padding~='lg-top-xxxl'] {
    padding-block-start: var(--space-xxxl);
  }

  [padding~='lg-left-n'] {
    padding-inline-start: 0;
  }

  [padding~='lg-left-xxs'] {
    padding-inline-start: var(--space-xxs);
  }

  [padding~='lg-left-xs'] {
    padding-inline-start: var(--space-xs);
  }

  [padding~='lg-left-sm'] {
    padding-inline-start: var(--space-sm);
  }

  [padding~='lg-left-md'] {
    padding-inline-start: var(--space-md);
  }

  [padding~='lg-left-lg'] {
    padding-inline-start: var(--space-lg);
  }

  [padding~='lg-left-xl'] {
    padding-inline-start: var(--space-xl);
  }

  [padding~='lg-left-xxl'] {
    padding-inline-start: var(--space-xxl);
  }

  [padding~='lg-left-xxxl'] {
    padding-inline-start: var(--space-xxxl);
  }

  [padding~='lg-bottom-n'] {
    padding-block-end: 0;
  }

  [padding~='lg-bottom-xxs'] {
    padding-block-end: var(--space-xxs);
  }

  [padding~='lg-bottom-xs'] {
    padding-block-end: var(--space-xs);
  }

  [padding~='lg-bottom-sm'] {
    padding-block-end: var(--space-sm);
  }

  [padding~='lg-bottom-md'] {
    padding-block-end: var(--space-md);
  }

  [padding~='lg-bottom-lg'] {
    padding-block-end: var(--space-lg);
  }

  [padding~='lg-bottom-xl'] {
    padding-block-end: var(--space-xl);
  }

  [padding~='lg-bottom-xxl'] {
    padding-block-end: var(--space-xxl);
  }

  [padding~='lg-bottom-xxxl'] {
    padding-block-end: var(--space-xxxl);
  }

  [padding~='lg-right-n'] {
    padding-inline-end: 0;
  }

  [padding~='lg-right-xxs'] {
    padding-inline-end: var(--space-xxs);
  }

  [padding~='lg-right-xs'] {
    padding-inline-end: var(--space-xs);
  }

  [padding~='lg-right-sm'] {
    padding-inline-end: var(--space-sm);
  }

  [padding~='lg-right-md'] {
    padding-inline-end: var(--space-md);
  }

  [padding~='lg-right-lg'] {
    padding-inline-end: var(--space-lg);
  }

  [padding~='lg-right-xl'] {
    padding-inline-end: var(--space-xl);
  }

  [padding~='lg-right-xxl'] {
    padding-inline-end: var(--space-xxl);
  }

  [padding~='lg-right-xxxl'] {
    padding-inline-end: var(--space-xxxl);
  }
}

@media (--xl) {
  [padding~='xl-n'] {
    padding: 0;
  }

  [padding~='xl-xxs'] {
    padding: var(--space-xxs);
  }

  [padding~='xl-xs'] {
    padding: var(--space-xs);
  }

  [padding~='xl-sm'] {
    padding: var(--space-sm);
  }

  [padding~='xl-md'] {
    padding: var(--space-md);
  }

  [padding~='xl-lg'] {
    padding: var(--space-lg);
  }

  [padding~='xl-xl'] {
    padding: var(--space-xl);
  }

  [padding~='xl-xxl'] {
    padding: var(--space-xxl);
  }

  [padding~='xl-xxxl'] {
    padding: var(--space-xxxl);
  }

  [padding~='xl-y-n'] {
    padding-block: 0;
  }

  [padding~='xl-y-xxs'] {
    padding-block: var(--space-xxs);
  }

  [padding~='xl-y-xs'] {
    padding-block: var(--space-xs);
  }

  [padding~='xl-y-sm'] {
    padding-block: var(--space-sm);
  }

  [padding~='xl-y-md'] {
    padding-block: var(--space-md);
  }

  [padding~='xl-y-lg'] {
    padding-block: var(--space-lg);
  }

  [padding~='xl-y-xl'] {
    padding-block: var(--space-xl);
  }

  [padding~='xl-y-xxl'] {
    padding-block: var(--space-xxl);
  }

  [padding~='xl-y-xxxl'] {
    padding-block: var(--space-xxxl);
  }

  [padding~='xl-x-n'] {
    padding-inline: 0;
  }

  [padding~='xl-x-xxs'] {
    padding-inline: var(--space-xxs);
  }

  [padding~='xl-x-xs'] {
    padding-inline: var(--space-xs);
  }

  [padding~='xl-x-sm'] {
    padding-inline: var(--space-sm);
  }

  [padding~='xl-x-md'] {
    padding-inline: var(--space-md);
  }

  [padding~='xl-x-lg'] {
    padding-inline: var(--space-lg);
  }

  [padding~='xl-x-xl'] {
    padding-inline: var(--space-xl);
  }

  [padding~='xl-x-xxl'] {
    padding-inline: var(--space-xxl);
  }

  [padding~='xl-x-xxxl'] {
    padding-inline: var(--space-xxxl);
  }

  [padding~='xl-top-n'] {
    padding-block-start: 0;
  }

  [padding~='xl-top-xxs'] {
    padding-block-start: var(--space-xxs);
  }

  [padding~='xl-top-xs'] {
    padding-block-start: var(--space-xs);
  }

  [padding~='xl-top-sm'] {
    padding-block-start: var(--space-sm);
  }

  [padding~='xl-top-md'] {
    padding-block-start: var(--space-md);
  }

  [padding~='xl-top-lg'] {
    padding-block-start: var(--space-lg);
  }

  [padding~='xl-top-xl'] {
    padding-block-start: var(--space-xl);
  }

  [padding~='xl-top-xxl'] {
    padding-block-start: var(--space-xxl);
  }

  [padding~='xl-top-xxxl'] {
    padding-block-start: var(--space-xxxl);
  }

  [padding~='xl-left-n'] {
    padding-inline-start: 0;
  }

  [padding~='xl-left-xxs'] {
    padding-inline-start: var(--space-xxs);
  }

  [padding~='xl-left-xs'] {
    padding-inline-start: var(--space-xs);
  }

  [padding~='xl-left-sm'] {
    padding-inline-start: var(--space-sm);
  }

  [padding~='xl-left-md'] {
    padding-inline-start: var(--space-md);
  }

  [padding~='xl-left-lg'] {
    padding-inline-start: var(--space-lg);
  }

  [padding~='xl-left-xl'] {
    padding-inline-start: var(--space-xl);
  }

  [padding~='xl-left-xxl'] {
    padding-inline-start: var(--space-xxl);
  }

  [padding~='xl-left-xxxl'] {
    padding-inline-start: var(--space-xxxl);
  }

  [padding~='xl-bottom-n'] {
    padding-block-end: 0;
  }

  [padding~='xl-bottom-xxs'] {
    padding-block-end: var(--space-xxs);
  }

  [padding~='xl-bottom-xs'] {
    padding-block-end: var(--space-xs);
  }

  [padding~='xl-bottom-sm'] {
    padding-block-end: var(--space-sm);
  }

  [padding~='xl-bottom-md'] {
    padding-block-end: var(--space-md);
  }

  [padding~='xl-bottom-lg'] {
    padding-block-end: var(--space-lg);
  }

  [padding~='xl-bottom-xl'] {
    padding-block-end: var(--space-xl);
  }

  [padding~='xl-bottom-xxl'] {
    padding-block-end: var(--space-xxl);
  }

  [padding~='xl-bottom-xxxl'] {
    padding-block-end: var(--space-xxxl);
  }

  [padding~='xl-right-n'] {
    padding-inline-end: 0;
  }

  [padding~='xl-right-xxs'] {
    padding-inline-end: var(--space-xxs);
  }

  [padding~='xl-right-xs'] {
    padding-inline-end: var(--space-xs);
  }

  [padding~='xl-right-sm'] {
    padding-inline-end: var(--space-sm);
  }

  [padding~='xl-right-md'] {
    padding-inline-end: var(--space-md);
  }

  [padding~='xl-right-lg'] {
    padding-inline-end: var(--space-lg);
  }

  [padding~='xl-right-xl'] {
    padding-inline-end: var(--space-xl);
  }

  [padding~='xl-right-xxl'] {
    padding-inline-end: var(--space-xxl);
  }

  [padding~='xl-right-xxxl'] {
    padding-inline-end: var(--space-xxxl);
  }
}
