.stack {
  display: flex;
  flex-direction: column;

  gap: 0;
  align-items: var(--justify, flex-start);
  justify-content: var(--align, center);
}

.stack[justify~='start'] {
  --justify: flex-start;
}

.stack[justify~='end'] {
  --justify: flex-end;
}

.stack[align~='start'] {
  --align: flex-start;
}

.stack[align~='end'] {
  --align: flex-end;
}

@media (--lg) {
  .stack[justify~='lg-start'] {
    --justify: flex-start;
  }

  .stack[justify~='lg-end'] {
    --justify: flex-end;
  }

  .stack[align~='lg-start'] {
    --align: flex-start;
  }

  .stack[align~='lg-end'] {
    --align: flex-end;
  }
}
