/*? The Grid - Browsing teasers for links or products */
.grid {
  display: grid;
  gap: var(--gap-section, var(--space-s));
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--size, 250px), 100%), 1fr)
  );
}

.grid > * {
  align-items: stretch;
  margin: 0;
}

.col-2 {
  --size: 500px;
}

.col-3 {
  --size: 325px;
}

.col-4 {
  --size: 250px;
}

.col-5 {
  --size: 200px;
}

.col-6 {
  --size: 150px;
}
