:root {
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    line-height: var(--line-height-heading);
    letter-spacing: 2px;
}

p {
    font-family: var(--font-body);
    font-size: var(--font-size-m);
    max-inline-size: 70ch;
    line-height: var(--line-height-body);
}

[color='muted'] {
    color: var(--color-dark) !important;
}

[color='light'] {
    color: #fff !important;
}

[color='primary'] {
    color: var(--color-primary) !important;
}

[color='primary-dark'] {
    color: var(--color-primary-darkest) !important;
}

.caption {
    font-size: var(--font-size-xs);
    font-style: italic;
}

label {
    font-family: var(--font-body);
    font-weight: var(--weight-bold);
    display: flex;
    flex-direction: column;
}

small {
    font-size: var(--font-size-xs);
    color: var(--color-dark);
}

.hero {
    color: var(--color-primary);
    font-size: var(--font-size-display);
    margin-block-end: var(--space-md);
}

.page {
    color: var(--color-primary);
    font-size: var(--font-size-xxl);
    margin-block-end: var(--space-md);
}

.section {
    color: var(--color-primary);
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-md);
}

.subsection {
    color: var(--color-primary);
    font-size: var(--font-size-md);
}

.title {
    font-family: var(--font-body);
    font-size: var(--font-size-md);
}

.overline {
    color: var(--color-var(--color-primary));
    text-transform: uppercase;
    font-family: var(--font-body);
    font-weight: var(--weight-bold);
    letter-spacing: 1.5;
    font-size: var(--font-size-xs);
    margin-bottom: var(--space-xs);
}

small,
small a {
    font-size: var(--font-size-sm) !important;
}
