color\:muted {
    color: var(--color-fg-tertiary);
}

color\:brand {
    color: var(--color-brand-text);
}

color\:success {
    color: var(--color-success-text);
}

color\:info {
    color: var(--color-info-text);
}

color\:warning {
    color: var(--color-warning-text);
}

color\:danger {
    color: var(--color-danger-text);
}
