.align\:s {
    --align: flex-start !important;
}

.align\:c {
    --align: center !important;
}

.align\:e {
    --align: flex-end !important;
}

.align\:sb {
    --align: space-between !important;
}

.align\:sa {
    --align: space-around !important;
}

.align\:se {
    --align: space-evenly !important;
}

[class*='align'] > * {
    --align: initial;
}
