{% macro render( props ) %} {% if props.variant === "simple" %}
<section class="region cover center-intrinsic {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="principle prose">
    <p class="overline">404</p>
    <h1 class="page-headline">Page not found</h1>
    <p>Sorry, the page you're looking for can't be found.</p>
    <a href="/" class="btn">Go Home</a>
  </div>
</section>
{% elif props.variant === "split" %}
<section class="region cover sidebar split-screen {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="fixed center-intrinsic prose">
    <div class="principle">
      <p class="overline">404</p>
      <h1 class="page-headline">Page not found</h1>
      <p>Sorry, the page you're looking for can't be found.</p>
      <a href="/" class="btn">Go Home</a>
    </div>
  </div>
  <div class="frame full">
    <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
  </div>
</section>
{% elif props.variant === 'bg' %}
<div class="bg-img {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
  <section class="region cover center-intrinsic">
    <div class="principle prose filter">
      <p class="overline">404</p>
      <h1 class="page-headline">Page not found</h1>
      <p>Sorry, the page you're looking for can't be found.</p>
      <a href="/" class="btn">Go Home</a>
    </div>
  </section>
</div>
{% endif %} {% endmacro %} {% if storybookArgs %} {{ render( storybookArgs ) }}
{% endif %}