{% macro render( props ) %}
<div class="region prose {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <p class="overline">Deploy faster</p>
  <h1 class="page-headline">A better workflow</h1>
  <p class="lead">
    Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu,
    sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas
    ac. Diam nulla orci at in viverra scelerisque eget. Eleifend egestas
    fringilla sapien.
  </p>
  <div>
    <p>
      Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim.
      Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec
      est. Odio penatibus risus viverra tellus varius sit neque erat velit.
      Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim.
      Mattis mauris semper sed amet vitae sed turpis id.
    </p>
    <ul class="stack gap-s">
      <li>
        <svg focusable="false" class="icon icon-32">
          <use href="src/elements/text/icon/icons.svg#f-check"></use>
        </svg>
        <span>
          <strong>Push to deploy.</strong> Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Maiores impedit perferendis suscipit
          eaque, iste dolor cupiditate blanditiis ratione.
        </span>
      </li>
      <li>
        <svg focusable="false" class="icon icon-32">
          <use href="src/elements/text/icon/icons.svg#f-check"></use>
        </svg>
        <span>
          <strong>Push to deploy.</strong> Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Maiores impedit perferendis suscipit
          eaque, iste dolor cupiditate blanditiis ratione.
        </span>
      </li>
      <li>
        <svg focusable="false" class="icon icon-32">
          <use href="src/elements/text/icon/icons.svg#f-check"></use>
        </svg>
        <span>
          <strong>Push to deploy.</strong> Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Maiores impedit perferendis suscipit
          eaque, iste dolor cupiditate blanditiis ratione.
        </span>
      </li>
    </ul>
    <p>
      Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id
      et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt
      ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing
      egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.
    </p>
    <h2 class="section-headline">No server? No problem.</h2>
    <p>
      Id orci tellus laoreet id ac. Dolor, aenean leo, ac etiam consequat in.
      Convallis arcu ipsum urna nibh. Pharetra, euismod vitae interdum mauris
      enim, consequat vulputate nibh. Maecenas pellentesque id sed tellus
      mauris, ultrices mauris. Tincidunt enim cursus ridiculus mi. Pellentesque
      nam sed nullam sed diam turpis ipsum eu a sed convallis diam.
    </p>
  </div>
</div>
{% endmacro %} {% if storybookArgs %} {{ render( storybookArgs ) }} {% endif %}