{% macro render( props ) %} {% if props.variant === "simple" %}
<section class="center-intrinsic gap-xs stack {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <h2 class="region-headline">Logo Clouds</h2>
  <div class="grid grid-5">
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
  </div>
</section>

{% elif props.variant === "split" %}
<div class="sidebar sidebar-split align-center {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <section class="fixed prose">
    <h2 class="region-headline">
      Reprehenderit ipsum reprehenderit exercitation
    </h2>
    <p>
      Ad dolore proident esse excepteur nostrud pariatur tempor dolore tempor.
      Exercitation nisi in officia non amet laborum nulla laboris magna.
      Excepteur ex qui qui sunt in consectetur.
    </p>
    <a href="/" class="btn">Call to Action</a>
  </section>
  <div class="grid grid-2">
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=150&height=100" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=150&height=100" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=150&height=100" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
  </div>
</div>

{% elif props.variant === "grid" %}
<section class="center-intrinsic stack gap-xs {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <h2 class="region-headline">Logo Clouds</h2>
  <div class="grid grid-3">
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
    <div class="frame photo">
      <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
    </div>
  </div>
</section>

{% endif %} {% endmacro %} {% if storybookArgs %} {{ render( storybookArgs ) }}
{% endif %}