{% macro render( props ) %} {% if props.variant === "simple-3" %}
<div class="switcher switch-phone align-start gap-xl {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="prose stack center-intrinsic gap-2xs">
    <h4 class="section-headline">10,000</h4>
    <p>Trees saved per second</p>
  </div>
  <div class="prose stack center-intrinsic gap-2xs">
    <h4 class="section-headline">5 Million</h4>
    <p>Plastic pieces removed</p>
  </div>
  <div class="prose stack center-intrinsic gap-2xs">
    <h4 class="section-headline">400</h4>
    <p>Orcas saved per month</p>
  </div>
</div>

{% elif props.variant === "simple-4" %}
<div class="switcher switch-phone align-start gap-xl {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="prose stack center-intrinsic gap-2xs">
    <h4 class="section-headline">10,000</h4>
    <p>Trees saved per second</p>
  </div>
  <div class="prose stack center-intrinsic gap-2xs">
    <h4 class="section-headline">5 Million</h4>
    <p>Plastic pieces removed</p>
  </div>
  <div class="prose stack center-intrinsic gap-2xs">
    <h4 class="section-headline">400</h4>
    <p>Orcas saved per month</p>
  </div>
  <div class="prose stack center-intrinsic gap-2xs">
    <h4 class="section-headline">400</h4>
    <p>Orcas saved per month</p>
  </div>
</div>

{% elif props.variant === "image-left" %}
<div class="cover cover-nav {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="principle">
    <div class="sidebar gap-m">
      <div class="frame photo">
        <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
      </div>
      <div class="grid grid-2 gap-xs fixed">
        <div class="prose stack center-intrinsic gap-2xs">
          <h4 class="section-headline">400</h4>
          <p>Orcas saved per month</p>
        </div>
        <div class="prose stack center-intrinsic gap-2xs">
          <h4 class="section-headline">400</h4>
          <p>Orcas saved per month</p>
        </div>
        <div class="prose stack center-intrinsic gap-2xs">
          <h4 class="section-headline">400</h4>
          <p>Orcas saved per month</p>
        </div>
        <div class="prose stack center-intrinsic gap-2xs">
          <h4 class="section-headline">400</h4>
          <p>Orcas saved per month</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% elif props.variant === "image-right" %}
<div class="cover cover-nav {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="principle">
    <div class="sidebar gap-m">
      <div class="grid grid-2 gap-xs fixed">
        <div class="prose stack center-intrinsic gap-2xs">
          <h4 class="section-headline">400</h4>
          <p>Orcas saved per month</p>
        </div>
        <div class="prose stack center-intrinsic gap-2xs">
          <h4 class="section-headline">400</h4>
          <p>Orcas saved per month</p>
        </div>
        <div class="prose stack center-intrinsic gap-2xs">
          <h4 class="section-headline">400</h4>
          <p>Orcas saved per month</p>
        </div>
        <div class="prose stack center-intrinsic gap-2xs">
          <h4 class="section-headline">400</h4>
          <p>Orcas saved per month</p>
        </div>
      </div>
      <div class="frame photo">
        <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
      </div>
    </div>
  </div>
</div>

{% elif props.variant === "split-left" %}
<div class="cover sidebar sidebar-split gap-m {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="prose center">
    <p class="overline">Veniam aute aliqua</p>
    <h2 class="section-headline">Lorem ipsum dolor sit amet</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="grid grid-2 fixed">
      <div class="prose stack gap-2xs">
        <h3 class="section-headline">400</h3>
        <p>Orcas saved per month</p>
      </div>
      <div class="prose stack gap-2xs">
        <h3 class="section-headline">400</h3>
        <p>Orcas saved per month</p>
      </div>
      <div class="prose stack gap-2xs">
        <h3 class="section-headline">400</h3>
        <p>Orcas saved per month</p>
      </div>
      <div class="prose stack gap-2xs">
        <h3 class="section-headline">400</h3>
        <p>Orcas saved per month</p>
      </div>
    </div>
  </div>
  <div class="frame photo fixed">
    <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
  </div>
</div>

{% elif props.variant === "split-right" %}
<div class="cover sidebar sidebar-split gap-m {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="frame photo fixed">
    <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
  </div>
  <div class="prose center">
    <p class="overline">Veniam aute aliqua</p>
    <h2 class="section-headline">Lorem ipsum dolor sit amet</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="grid grid-2 fixed">
      <div class="prose stack center-intrinsic gap-2xs">
        <h3 class="section-headline">400</h3>
        <p>Orcas saved per month</p>
      </div>
      <div class="prose stack center-intrinsic gap-2xs">
        <h3 class="section-headline">400</h3>
        <p>Orcas saved per month</p>
      </div>
      <div class="prose stack center-intrinsic gap-2xs">
        <h3 class="section-headline">400</h3>
        <p>Orcas saved per month</p>
      </div>
      <div class="prose stack center-intrinsic gap-2xs">
        <h3 class="section-headline">400</h3>
        <p>Orcas saved per month</p>
      </div>
    </div>
  </div>
</div>

{% elif props.variant === "description" %}
<div class="cover cover-nav {% if props.theme %}theme-{{props.theme}}{% endif %}">
  <div class="principle">
    <h2 class="region-headline">Magna magna cupidatat</h2>
    <div class="sidebar gap-m">
      <div class="prose">
        <p class="lead">
          Sint ullamco cillum laborum commodo sunt do aliquip. Id aliqua aute
          aliquip magna ut. Consectetur velit esse amet aute. Et adipisicing in
          anim ullamco. Consectetur velit esse amet aute. Et adipisicing in anim
          ullamco.
        </p>
        <p>
          Sint ullamco cillum laborum commodo sunt do aliquip. Id aliqua aute
          aliquip magna ut. Consectetur velit esse amet aute. Et adipisicing in
          anim ullamco. Sint ullamco cillum laborum commodo sunt do aliquip. Id
          aliqua aute aliquip magna ut. Consectetur velit esse amet aute. Et
          adipisicing in anim ullamco. Sint ullamco cillum laborum commodo sunt
          do aliquip. Id aliqua aute aliquip magna ut. Consectetur velit esse
          amet aute. Et adipisicing in anim ullamco. Consectetur velit esse amet
          aute. Et adipisicing in anim ullamco.
        </p>
      </div>
      <div class="stack gap-xl fixed">
        <div class="prose stack center-intrinsic gap-2xs">
          <h3 class="section-headline">400</h3>
          <p>Orcas saved per month</p>
        </div>
        <div class="prose stack center-intrinsic gap-2xs">
          <h3 class="section-headline">400</h3>
          <p>Orcas saved per month</p>
        </div>
        <div class="prose stack center-intrinsic gap-2xs">
          <h3 class="section-headline">400</h3>
          <p>Orcas saved per month</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endmacro %} {% if storybookArgs %} {{ render( storybookArgs ) }}
{% endif %}