.icon:not(.btn) {
	display: inline-block;
	inline-size: 1cap;
	block-size: 1cap;
}

.icon.body-small:not(.btn) {
	inline-size: var(--icon-size-1);
	block-size: var(--icon-size-1);
}

.icon.body:not(.btn) {
	inline-size: var(--icon-size-2);
	block-size: var(--icon-size-2);
} 

.icon:not(.btn) {
	inline-size: var(--icon-size-3);
	block-size: var(--icon-size-3);
}

.icon.large:not(.btn) {
	inline-size: var(--icon-size-4);
	block-size: var(--icon-size-4);
}
