.pricing-table {
	background: #fff;
	border-radius: var(--radius-card);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding-block-end: var(--space-4);
	display: flex;
	flex-direction: column;
	align-items: center;
	block-size: 100%;
}

.pricing-table > .price {
	padding: var(--space-6);
	border-block-end: 1px solid var(--border);
	color: var(--color);
	border-radius: var(--radius-card) var(--radius-card) 0 0;
}

.price.default {
	background-color: var(--color-surface);
	border-block-end: 1px solid var(--color-bg-primary);
}

.price.brand {
	background-color: var(--color-brand-primary);
	border-block-end: 1px solid var(--color-brand-primary);
}

.price.default > * {
	color: var(--color-fg-primary);
}

.price.brand > * {
	color: #fff;
}

.pricing-table > .features {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--space-6);
}
