<footer class="cluster justify-between inset-l theme-{{props.theme}}">
    <small>&copy; 2023 Your nonprofit, All rights reserved.</small>
    <ul class="cluster">
        <li>
            <a href="/" class="btn btn-tertiary">
                <span class="sr-only">Link Text</span>
                <svg focusable="false" class="icon">
                    <use href="src/elements/icon/icons.svg#audio-description-1" />
                </svg>
            </a>
            <a href="/" class="btn btn-tertiary">
                <span class="sr-only">Link Text</span>
                <svg focusable="false" class="icon">
                    <use href="src/elements/icon/icons.svg#audio-description-1" />
                </svg>
            </a>
            <a href="/" class="btn btn-tertiary">
                <span class="sr-only">Link Text</span>
                <svg focusable="false" class="icon">
                    <use href="src/elements/icon/icons.svg#audio-description-1" />
                </svg>
            </a>
            <a href="/" class="btn btn-tertiary">
                <span class="sr-only">Link Text</span>
                <svg focusable="false" class="icon">
                    <use href="src/elements/icon/icons.svg#audio-description-1" />
                </svg>
            </a>
            <a href="/" class="btn btn-tertiary">
                <span class="sr-only">Link Text</span>
                <svg focusable="false" class="icon">
                    <use href="src/elements/icon/icons.svg#audio-description-1" />
                </svg>
            </a>
        </li>
    </ul>
</footer>