<footer class="stack align-center inset-xl theme-{{props.theme}}">
    <div class="cluster justify-between full align-start">
        <div class="stack gap-xs">
            <a href="/">
                <img src="https://generative-placeholders.glitch.me/image?width=200&height=100" alt="Logo" />
            </a>
            <div class="prose prose-s">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    euismod eu lorem et ultricies. In porta lorem at dui semper
                    porttitor.
                </p>
            </div>
        </div>
        <div class="cluster gap-xl align-start">
            <div class="stack gap-2xs">
                <h4>Solutions</h4>
                <ul class="stack gap-2xs">
                    <li>
                        <a href="/" class="link link-navigation">Service 1</a>
                    </li>
                    <li>
                        <a href="/about" class="link link-navigation">Service 2</a>
                    </li>
                    <li>
                        <a href="/services" class="link link-navigation">Service 3</a>
                    </li>
                    <li>
                        <a href="/portfolio" class="link link-navigation">Service 4</a>
                    </li>
                </ul>
            </div>
            <div class="stack gap-2xs">
                <h4>Support</h4>
                <ul class="stack gap-2xs">
                    <li>
                        <a href="/" class="link link-navigation">Pricing</a>
                    </li>
                    <li>
                        <a href="/about" class="link link-navigation">Documentation</a>
                    </li>
                    <li>
                        <a href="/services" class="link link-navigation">Guides</a>
                    </li>
                    <li>
                        <a href="/portfolio" class="link link-navigation">API Status</a>
                    </li>
                </ul>
            </div>
            <div class="stack gap-2xs">
                <h4>Company</h4>
                <ul class="stack gap-2xs">
                    <li>
                        <a href="/" class="link link-navigation">Home</a>
                    </li>
                    <li>
                        <a href="/about" class="link link-navigation">About</a>
                    </li>
                    <li>
                        <a href="/services" class="link link-navigation">Jobs</a>
                    </li>
                    <li>
                        <a href="/portfolio" class="link link-navigation">Press</a>
                    </li>
                    <li>
                        <a href="/contact" class="link link-navigation">Partners</a>
                    </li>
                </ul>
            </div>
            <div class="stack gap-2xs">
                <h4>Legal</h4>
                <ul class="stack gap-2xs">
                    <li>
                        <a href="/" class="link link-navigation">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/about" class="link link-navigation">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr />

    <div class="cluster full justify-between">
        <ul class="cluster">
            <li>
                <a href="/" class="btn btn-tertiary">
                    <span class="sr-only">Link Text</span>
                    <svg focusable="false" class="icon">
                        <use href="src/elements/icon/icons.svg#audio-description-1" />
                    </svg>
                </a>
                <a href="/" class="btn btn-tertiary">
                    <span class="sr-only">Link Text</span>
                    <svg focusable="false" class="icon">
                        <use href="src/elements/icon/icons.svg#audio-description-1" />
                    </svg>
                </a>
                <a href="/" class="btn btn-tertiary">
                    <span class="sr-only">Link Text</span>
                    <svg focusable="false" class="icon">
                        <use href="src/elements/icon/icons.svg#audio-description-1" />
                    </svg>
                </a>
                <a href="/" class="btn btn-tertiary">
                    <span class="sr-only">Link Text</span>
                    <svg focusable="false" class="icon">
                        <use href="src/elements/icon/icons.svg#audio-description-1" />
                    </svg>
                </a>
                <a href="/" class="btn btn-tertiary">
                    <span class="sr-only">Link Text</span>
                    <svg focusable="false" class="icon">
                        <use href="src/elements/icon/icons.svg#audio-description-1" />
                    </svg>
                </a>
            </li>
        </ul>
        <small>&copy; 2023 Your nonprofit, All rights reserved.</small>
    </div>
</footer>