.sidebar {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * (var(--space) / 2));
}

.sidebar > * {
  margin: calc(var(--space) / 2);
}

.sidebar > .fixed {
  flex-grow: 1;
}

.sidebar > :not(.fixed) {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--min, 50%);
}

.sidebar[min='2/3'] {
  --min: 66.66667%;
}

.sidebar[min='3/4'] {
  --min: 75%;
}
