/*? The Masonry - Product galleries, testimonials, blog posts, portfolio items */
/* Masonry style grid */
.masonry {
  gap: var(--gap, var(--space-m));
  columns: 1;
}

.masonry > * + * {
  margin-block-start: var(--gap, var(--space-m));
  break-inside: avoid;
  display: block;
}

@media (--tablet-portrait-up) {
  .masonry {
    columns: 2;
  }
}

@media (--tablet-landscape-up) {
  .masonry {
    columns: 3;
  }
}
