{# Status: TODO #}
<div class="stack region gap-s theme-{{props.theme}}">
    <div class="prose center center-intrinsic">
        <h2 class="region-headline">My Projects</h2>
        <p>
            Officia sit tempor et exercitation ex laboris aute cupidatat pariatur
            adipisicing tempor. Nisi laboris nostrud quis sunt dolor.
        </p>
    </div>
    <div class="grid grid-2 row-gap-xl">
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
            </div>
            <h3 class="link link-navigation">
                <a href="/" class="section-headline">
                    Long Portfolio Work Title that covers 2 lines
                </a>
            </h3>
        </div>
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
            </div>
            <h3 class="link link-navigation">
                <a href="/" class="section-headline">
                    Long Portfolio Work Title that covers 2 lines
                </a>
            </h3>
        </div>
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
            </div>
            <h3 class="link link-navigation">
                <a href="/" class="section-headline">
                    Long Portfolio Work Title that covers 2 lines
                </a>
            </h3>
        </div>
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
            </div>
            <h3 class="link link-navigation">
                <a href="/" class="section-headline">
                    Long Portfolio Work Title that covers 2 lines
                </a>
            </h3>
        </div>
    </div>
</div>