{# Status: TODO #}
<div class="region stack theme-{{props.theme}}">
    <section class="prose">
        <p class="overline">{{props.content.overline}}</p>
        <h2 class="page-headline">
            {{props.content.headline}}
        </h2>
    </section>
    <div class="sidebar sidebar-split">
        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse. Ullamco Lorem in laborum sint anim sint occaecat
                    Lorem ullamco voluptate id deserunt adipisicing. Laborum duis veniam
                    ullamco deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt
                    elit qui ea esse esse. Ullamco Lorem in laborum sint anim sint
                    occaecat Lorem ullamco voluptate id deserunt adipisicing. Laborum duis
                    veniam ullamco deserunt.
                </p>
                <a href="/src" class="btn btn-tertiary">Continue Reading</a>
            </div>
        </article>
        <div class="stack center fixed">
            <article class="stack gap-xs">
                <time datetime="2020-03-16">Mar 16, 2020</time>
                <div class="prose">
                    <h2 class="title-section">Boost your conversion rate</h2>
                    <p>
                        Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                        voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                        deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                        qui ea esse esse.
                    </p>
                </div>
            </article>
            <article class="stack gap-xs">
                <div class="cluster">
                    <time datetime="2020-03-16">Mar 16, 2020</time>
                </div>
                <div class="prose">
                    <h2 class="title-section">Boost your conversion rate</h2>
                    <p>
                        Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                        voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                        deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                        qui ea esse esse.
                    </p>
                </div>
            </article>
        </div>
    </div>
    <div class="sidebar sidebar-split">
        <div class="stack center fixed">
            <article class="stack gap-xs">
                <time datetime="2020-03-16">Mar 16, 2020</time>
                <div class="prose">
                    <h2 class="title-section">Boost your conversion rate</h2>
                    <p>
                        Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                        voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                        deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                        qui ea esse esse.
                    </p>
                </div>
            </article>
            <article class="stack gap-xs">
                <div class="cluster">
                    <time datetime="2020-03-16">Mar 16, 2020</time>
                </div>
                <div class="prose">
                    <h2 class="title-section">Boost your conversion rate</h2>
                    <p>
                        Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                        voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                        deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                        qui ea esse esse.
                    </p>
                </div>
            </article>
        </div>
        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse. Ullamco Lorem in laborum sint anim sint occaecat
                    Lorem ullamco voluptate id deserunt adipisicing. Laborum duis veniam
                    ullamco deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt
                    elit qui ea esse esse. Ullamco Lorem in laborum sint anim sint
                    occaecat Lorem ullamco voluptate id deserunt adipisicing. Laborum duis
                    veniam ullamco deserunt.
                </p>
                <a href="/src" class="btn btn-tertiary">Continue Reading</a>
            </div>
        </article>
    </div>
    <div class="sidebar sidebar-split">
        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse. Ullamco Lorem in laborum sint anim sint occaecat
                    Lorem ullamco voluptate id deserunt adipisicing. Laborum duis veniam
                    ullamco deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt
                    elit qui ea esse esse. Ullamco Lorem in laborum sint anim sint
                    occaecat Lorem ullamco voluptate id deserunt adipisicing. Laborum duis
                    veniam ullamco deserunt.
                </p>
                <a href="/src" class="btn btn-tertiary">Continue Reading</a>
            </div>
        </article>
        <div class="stack center fixed">
            <article class="stack gap-xs">
                <time datetime="2020-03-16">Mar 16, 2020</time>
                <div class="prose">
                    <h2 class="title-section">Boost your conversion rate</h2>
                    <p>
                        Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                        voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                        deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                        qui ea esse esse.
                    </p>
                </div>
            </article>
            <article class="stack gap-xs">
                <div class="cluster">
                    <time datetime="2020-03-16">Mar 16, 2020</time>
                </div>
                <div class="prose">
                    <h2 class="title-section">Boost your conversion rate</h2>
                    <p>
                        Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                        voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                        deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                        qui ea esse esse.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>