{# Status: TODO #}
<div class="region stack center theme-{{props.theme}}">
    <section class="prose center">
        <h1 class="page-headline">Blog Title</h1>
        <p>
            In aliquip magna minim aliqua ipsum dolor anim voluptate in incididunt
            consectetur quis Lorem.
        </p>
    </section>
    <div class="stack gap-l center">
        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <a href="/">
                    <h2 class="title-section">Boost your conversion rate</h2>
                </a>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />

        <article class="stack gap-xs">
            <time datetime="2020-03-16">Mar 16, 2020</time>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />

        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />

        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />

        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />

        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />

        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />

        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />

        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="2020-03-16">Mar 16, 2020</time>
            </div>
            <div class="prose">
                <h2 class="title-section">Boost your conversion rate</h2>
                <p>
                    Ullamco Lorem in laborum sint anim sint occaecat Lorem ullamco
                    voluptate id deserunt adipisicing. Laborum duis veniam ullamco
                    deserunt. Dolore enim nisi et occaecat dolor ipsum do deserunt elit
                    qui ea esse esse.
                </p>
            </div>
        </article>
        <hr />
    </div>
</div>