<div class="region stack center theme-{{props.theme or 'background'}}">
    <section class="prose">
        <p class="overline">{{props.content.overline}}</p>
        <h2 class="page-headline">
            {{props.content.headline}}
        </h2>
    </section>
    <div class="stack gap-xl">
        {% for item in props.content.grid %}
        <hr />
        <article class="sidebar">
            <div class="fixed frame avatar-img">{% img props.content.img.src, props.content.img.alt %}</div>
            <div>
                <div class="cluster">
                    <time datetime="{{item.time.time}}">{{item.time.label}}</time>
                </div>
                <div class="prose">
                    <a href="/">
                        <h2 class="title-section">{{item.headline}}</h2>
                    </a>
                    <p>
                        {{item.body}}
                    </p>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>