/*? The Cover - “Above the fold” introductory content */
.cover {
  display: flex;
  block-size: 100vh;
  max-inline-size: 100%;
  max-inline-size: 100%;
  gap: var(--gap-region);
  padding: var(--inset, var(--inset-page));
}

.cover-nav {
  flex-direction: column;
}

.cover > .principle {
  margin-block: auto;
}

.cover.cover-s {
  block-size: 75vh;
}

.bg-img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  place-content: center;
}

.bg-img > img {
  grid-column: 1;
  grid-row: 1;
  object-fit: cover;
  object-position: center;
  min-inline-size: 100%;
  min-block-size: 100%;
  z-index: 0;
}

.bg-img > :not(img) {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.bg-img .filter {
  padding: var(--space-xl);
  border-radius: var(--radius-l);
  background-color: var(--color-background);
  box-shadow: var(--shadow-xl);
}

.clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.clip-top-left {
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

.clip-top-right {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.clip-bottom-left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.clip-bottom-right {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.bg-gradient {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    var(--color-background);
}
