.link {
  position: relative;
  color: var(--color, var(--color-primary));
  text-decoration: none;
  transition: color 0.4s ease-out;
  max-inline-size: max-content;
}

[background='dark'] .link {
  --color: #fff;
}

.link[variant='default'] {
  --color: var(--color-darkest);
}

.link:hover {
  right: 0;
  text-decoration: none;
}

.link::after {
  position: absolute;
  right: 0 100%;
  bottom: 0;
  left: 0 100%;
  border-top: 2px solid var(--color, var(--color-primary));
  border-radius: var(--radius-pill);
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
  content: '';
}

.link:hover::after {
  right: 0;
  border-color: var(--color, var(--color-primary));
  animation: anchor-underline 10s cubic-bezier(0, 0.5, 0, 1) normal forwards;
}

@keyframes anchor-underline {
  0%,
  10% {
    right: 0 100%;
    left: 0 100%;
  }

  90%,
  100% {
    right: 0;
    left: 0;
  }
}
