/* [class*="theme"] {
  padding: var(--space-m);
  border-radius: var(--radius-l);
  box-shadow: var(--shadow-l);
} */

.theme-background {
  background-color: var(--color-background);
}

.theme-dark {
  background-color: var(--color-on-background-light);

  --color-primary: var(--color-primary-dark);
  --color-on-primary: var(--color-on-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-on-secondary: var(--color-on-secondary-dark);
  --color-tertiary: var(--color-tertiary-dark);
  --color-on-tertiary: var(--color-on-tertiary-dark);
  --color-primary-container: var(--color-primary-container-dark);
  --color-on-primary-container: var(--color-on-primary-container-dark);
  --color-secondary-container: var(--color-secondary-container-dark);
  --color-on-secondary-container: var(--color-on-secondary-container-dark);
  --color-tertiary-container: var(--color-tertiary-container-dark);
  --color-on-tertiary-container: var(--color-on-tertiary-container-dark);

  --color-background: var(--color-background-dark);
  --color-on-background: var(--color-on-background-dark);
  --color-surface: var(--color-surface-dark);
  --color-on-surface: var(--color-on-surface-dark);

  --color-outline: var(--color-outline-dark);
  --color-outline-variant: var(--color-outline-variant-dark);
}

.theme-surface {
  background-color: var(--color-surface);
}

.theme-surface-inverse {
  background-color: var(--color-on-surface-light);

  --color-primary: var(--color-primary-dark);
  --color-on-primary: var(--color-on-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-on-secondary: var(--color-on-secondary-dark);
  --color-tertiary: var(--color-tertiary-dark);
  --color-on-tertiary: var(--color-on-tertiary-dark);
  --color-primary-container: var(--color-primary-container-dark);
  --color-on-primary-container: var(--color-on-primary-container-dark);
  --color-secondary-container: var(--color-secondary-container-dark);
  --color-on-secondary-container: var(--color-on-secondary-container-dark);
  --color-tertiary-container: var(--color-tertiary-container-dark);
  --color-on-tertiary-container: var(--color-on-tertiary-container-dark);

  --color-background: var(--color-background-dark);
  --color-on-background: var(--color-on-background-dark);
  --color-surface: var(--color-surface-dark);
  --color-on-surface: var(--color-on-surface-dark);

  --color-outline: var(--color-outline-dark);
  --color-outline-variant: var(--color-outline-variant-dark);
}

.theme-primary {
  background-color: var(--color-primary-light);

  --color-primary: var(--color-on-primary-light);
  --color-on-primary: var(--color-primary-light);
  --color-primary-container: var(--color-on-primary-light);
  --color-on-primary-container: var(--color-primary-light);
  --color-secondary: var(--color-on-primary-light);
  --color-on-secondary: var(--color-on-primary-light);
  --color-secondary-container: var(--color-on-primary-light);
  --color-on-secondary-container: var(--color-secondary-light);
  --color-tertiary: var(--color-on-primary-light);
  --color-on-tertiary: var(--color-on-primary-light);
  --color-tertiary-container: var(--color-on-primary-light);
  --color-on-tertiary-container: var(--color-tertiary-light);
  --color-outline: var(--color-on-primary-light);
  --color-outline-variant: var(--color-on-primary-light);
  --color-background: var(--color-primary-light);
  --color-on-background: var(--color-on-primary-light);
  --color-surface: var(--color-primary-light);
  --color-on-surface: var(--color-on-primary-light);
}

.theme-primary-container {
  background-color: var(--color-primary-container);
  --color-badge-primary: var(--color-primary);
  --color-on-badge-primary: var(--color-on-primary);
  --color-secondary-container: var(--color-secondary);
  --color-on-secondary-container: var(--color-on-secondary);
  --color-tertiary-container: var(--color-tertiary);
  --color-on-tertiary-container: var(--color-on-tertiary);
  --color-outline: var(--color-on-primary-container);
  --color-outline-variant: var(--color-on-primary-container);
  --color-background: var(--color-primary-container);
  --color-on-background: var(--color-on-primary-container);
  --color-surface: var(--color-primary-container);
  --color-on-surface: var(--color-on-primary-container);
}

.theme-secondary {
  background-color: var(--color-secondary-light);
  --color-primary: var(--color-on-secondary-light);
  --color-on-primary: var(--color-secondary-light);
  --color-primary-container: var(--color-on-secondary-light);
  --color-on-primary-container: var(--color-primary-light);
  --color-secondary-container: var(--color-on-secondary-light);
  --color-on-secondary-container: var(--color-secondary-light);
  --color-secondary: var(--color-on-secondary-light);
  --color-on-secondary: var(--color-on-secondary-light);
  --color-secondary-container: var(--color-on-secondary-light);
  --color-on-secondary-container: var(--color-secondary-light);
  --color-tertiary: var(--color-on-secondary-light);
  --color-on-tertiary: var(--color-on-secondary-light);
  --color-tertiary-container: var(--color-on-secondary-light);
  --color-on-tertiary-container: var(--color-tertiary-light);
  --color-outline: var(--color-on-secondary-light);
  --color-outline-variant: var(--color-on-secondary-light);
  --color-background: var(--color-secondary-light);
  --color-on-background: var(--color-on-secondary-light);
  --color-surface: var(--color-secondary-light);
  --color-on-surface: var(--color-on-secondary-light);
}

.theme-secondary-container {
  background-color: var(--color-secondary-container);
  --color-badge-secondary: var(--color-secondary);
  --color-on-badge-secondary: var(--color-on-secondary);
  --color-primary: var(--color-secondary);
  --color-on-primary: var(--color-on-secondary);
  --color-primary-container: var(--color-primary);
  --color-on-primary-container: var(--color-on-primary);
  --color-tertiary-container: var(--color-tertiary);
  --color-on-tertiary-container: var(--color-on-tertiary);
  --color-outline: var(--color-on-secondary-container);
  --color-outline-variant: var(--color-on-secondary-container);
  --color-background: var(--color-secondary-container);
  --color-on-background: var(--color-on-secondary-container);
  --color-surface: var(--color-secondary-container);
  --color-on-surface: var(--color-on-secondary-container);
}

.theme-tertiary {
  background-color: var(--color-tertiary-light);
  --color-primary: var(--color-on-tertiary-light);
  --color-on-primary: var(--color-tertiary-light);
  --color-primary-container: var(--color-on-tertiary-light);
  --color-on-primary-container: var(--color-primary-light);
  --color-tertiary: var(--color-on-tertiary-light);
  --color-on-tertiary: var(--color-tertiary-light);
  --color-tertiary-container: var(--color-on-tertiary-light);
  --color-on-tertiary-container: var(--color-tertiary-light);
  --color-secondary: var(--color-on-tertiary-light);
  --color-on-secondary: var(--color-on-tertiary-light);
  --color-secondary-container: var(--color-on-tertiary-light);
  --color-on-secondary-container: var(--color-secondary-light);
  --color-tertiary: var(--color-on-tertiary-light);
  --color-on-tertiary: var(--color-on-tertiary-light);
  --color-tertiary-container: var(--color-on-tertiary-light);
  --color-on-tertiary-container: var(--color-tertiary-light);
  --color-outline: var(--color-on-tertiary-light);
  --color-outline-variant: var(--color-on-tertiary-light);
  --color-background: var(--color-tertiary-light);
  --color-on-background: var(--color-on-tertiary-light);
  --color-surface: var(--color-tertiary-light);
  --color-on-surface: var(--color-on-tertiary-light);
}

.theme-tertiary-container {
  background-color: var(--color-tertiary-container);
  --color-badge-tertiary: var(--color-tertiary);
  --color-on-badge-tertiary: var(--color-on-tertiary);
  --color-primary: var(--color-tertiary);
  --color-on-primary: var(--color-on-tertiary);
  --color-primary-container: var(--color-primary);
  --color-on-primary-container: var(--color-on-primary);
  --color-secondary-container: var(--color-secondary);
  --color-on-secondary-container: var(--color-on-secondary);
  --color-outline: var(--color-on-tertiary-container);
  --color-outline-variant: var(--color-on-tertiary-container);
  --color-background: var(--color-tertiary-container);
  --color-on-background: var(--color-on-tertiary-container);
  --color-surface: var(--color-tertiary-container);
  --color-on-surface: var(--color-on-tertiary-container);
}

.theme-error {
  background-color: var(--color-error-light);
  --color-primary: var(--color-on-error-light);
  --color-on-primary: var(--color-error-light);
  --color-primary-container: var(--color-on-error-light);
  --color-on-primary-container: var(--color-primary-light);
  --color-error: var(--color-on-error-light);
  --color-on-error: var(--color-error-light);
  --color-error-container: var(--color-on-error-light);
  --color-on-error-container: var(--color-error-light);
  --color-secondary: var(--color-on-error-light);
  --color-on-secondary: var(--color-on-error-light);
  --color-secondary-container: var(--color-on-error-light);
  --color-on-secondary-container: var(--color-secondary-light);
  --color-tertiary: var(--color-on-error-light);
  --color-on-tertiary: var(--color-on-error-light);
  --color-tertiary-container: var(--color-on-error-light);
  --color-on-tertiary-container: var(--color-tertiary-light);
  --color-error: var(--color-on-error-light);
  --color-on-error: var(--color-on-error-light);
  --color-error-container: var(--color-on-error-light);
  --color-on-error-container: var(--color-error-light);
  --color-outline: var(--color-on-error-light);
  --color-outline-variant: var(--color-on-error-light);
  --color-background: var(--color-error-light);
  --color-on-background: var(--color-on-error-light);
  --color-surface: var(--color-error-light);
  --color-on-surface: var(--color-on-error-light);
}

.theme-error-container {
  background-color: var(--color-error-container);
  --color-primary: var(--color-error);
  --color-on-primary: var(--color-on-error);
  --color-primary-container: var(--color-primary);
  --color-on-primary-container: var(--color-on-primary);
  --color-secondary-container: var(--color-secondary);
  --color-on-secondary-container: var(--color-on-secondary);
  --color-tertiary-container: var(--color-tertiary);
  --color-on-tertiary-container: var(--color-on-tertiary);
  --color-outline: var(--color-on-error-container);
  --color-outline-variant: var(--color-on-error-container);
  --color-background: var(--color-error-container);
  --color-on-background: var(--color-on-error-container);
  --color-surface: var(--color-error-container);
  --color-on-surface: var(--color-on-error-container);
}
/* :root {
  --color-primary: ;
  --color-primary-hover: ;
  --color-primary-text: ;
  --color-bg: ;
  --color-fg-primary: ;
  --color-fg-secondary: ;

  --color-btn-primary-bg: ;
  --color-btn-primary-text: ;
  --color-btn-primary-hover-bg: ;
  --color-btn-primary-hover-text: ;
  --color-btn-secondary-bg: ;
  --color-btn-secondary-text: ;
  --color-btn-secondary-hover-bg: ;
  --color-btn-secondary-hover-text: ;
  --color-btn-tertiary-bg: ;
  --color-btn-tertiary-text: ;
  --color-btn-tertiary-hover-bg: ;
  --color-btn-tertiary-hover-text: ;
  --color-link: ;
  --color-link-hover: ;
  --color-icon: ;
  --color-icon-hover: ;
  --color-badge-bg: ;
  --color-badge-text: ;
  --color-badge-border: ;
  --color-avatar-border: ;
  --color-label-text: ;
  --color-label-accent: ;
  --color-input-bg: ;
  --color-input-placeholder: ;
  --color-focus-outline: ;
  --color-radio-bg: ;
  --color-radio-fg: ;
  --color-checkbox-border: ;
  --color-checkbox-fg: ;
  --color-checkbox-bg: ;
  --color-select-bg: ;
  --color-select-placeholder: ;

  --color-textarea-bg: ;
  --color-textarea-placeholder: ;

  --color-range-track: ;

  --color-divider: ;
  --color-input-border: ;
  --color-select-border: ;
  --color-textarea-border: ;

  --color-p: ;

  --color-overline: ;
  --color-blockquoute-accent: ;
  --color-range-thumb: ;

  --color-headline: ;
  --color-lead: ;
  --color-blockquote-text: ;
} */

/* .theme-background-dark {
  background-color: var(--color-on-background);
  --color-headline-override: var(--color-background);
  --color-p-override: var(--color-background);
  --color-lead-override: var(--color-background);
  --color-blockquote-accent-override: var(--color-inverse-primary);
  --color-blockquote-override: var(--color-inverse-primary);
  --color-label-override: var(--color-background);
  --color-label-accent-override: var(--color-secondary-container);
  --color-link-override: var(--color-inverse-primary);
  --color-link-hover-override: var(--color-inverse-primary);
  --color-overline-override: var(--color-inverse-primary);
  --color-input-bg-override: var(--color-on-background);
  --color-outline-override: var(--color-outline-variant);
  --color-button-bg-override: var(--color-primary);
  --color-button-text-override: var(--color-on-primary);
}

.theme-surface {
  background-color: var(--color-surface);
  --color-headline-override: var(--color-on-background);
  --color-p-override: var(--color-on-background);
  --color-lead-override: var(--color-on-background);
  --color-blockquote-accent-override: var(--color-primary);
  --color-blockquote-override: var(--color-primary);
  --color-label-override: var(--color-on-background);
  --color-label-accent-override: var(--color-secondary);
  --color-link-override: var(--color-primary);
  --color-link-hover-override: var(--color-primary);
  --color-overline-override: var(--color-primary);
}

.theme-surface-inverse {
  background-color: var(--color-on-surface);
  --color-headline-override: var(--color-surface);
  --color-p-override: var(--color-surface);
  --color-lead-override: var(--color-surface);
  --color-blockquote-accent-override: var(--color-inverse-primary);
  --color-blockquote-override: var(--color-inverse-primary);
  --color-label-override: var(--color-surface);
  --color-label-accent-override: var(--color-secondary-container);
  --color-link-override: var(--color-inverse-primary);
  --color-link-hover-override: var(--color-inverse-primary);
  --color-overline-override: var(--color-inverse-primary);
  --color-input-bg-override: var(--color-on-surface);
  --color-outline-override: var(--color-outline-variant);
}

.theme-surface-variant {
  background-color: var(--color-surface-variant);
  --color-headline-override: var(--color-on-surface-variant);
  --color-p-override: var(--color-on-surface-variant);
  --color-lead-override: var(--color-on-surface-variant);
  --color-blockquote-accent-override: var(--color-primary);
  --color-blockquote-override: var(--color-primary);
  --color-label-override: var(--color-on-background);
  --color-label-accent-override: var(--color-secondary);
  --color-link-override: var(--color-primary);
  --color-link-hover-override: var(--color-primary);
  --color-overline-override: var(--color-primary);
}

.theme-surface-variant-inverse {
  background-color: var(--color-on-surface-variant);
  --color-headline-override: var(--color-surface-variant);
  --color-p-override: var(--color-surface-variant);
  --color-lead-override: var(--color-surface-variant);
  --color-blockquote-accent-override: var(--color-inverse-primary);
  --color-blockquote-override: var(--color-inverse-primary);
  --color-label-override: var(--color-surface-variant);
  --color-label-accent-override: var(--color-secondary);
  --color-link-override: var(--color-inverse-primary);
  --color-link-hover-override: var(--color-inverse-primary);
  --color-overline-override: var(--color-inverse-primary);
}

.theme-primary {
  background-color: var(--color-primary);
  --color-headline-override: var(--color-on-primary);
  --color-p-override: var(--color-on-primary);
  --color-lead-override: var(--color-on-primary);
  --color-blockquote-accent-override: var(--color-on-primary);
  --color-blockquote-override: var(--color-on-primary);
  --color-label-override: var(--color-on-primary);
  --color-label-accent-override: var(--color-secondary-container);
  --color-link-override: var(--color-on-primary);
  --color-link-hover-override: var(--color-on-primary);
  --color-overline-override: var(--color-on-primary);
}

.theme-primary-container {
  background-color: var(--color-primary-container);
  --color-headline-override: var(--color-on-primary-container);
  --color-p-override: var(--color-on-primary-container);
  --color-lead-override: var(--color-on-primary-container);
  --color-blockquote-accent-override: var(--color-on-primary-container);
  --color-blockquote-override: var(--color-on-primary-container);
  --color-label-override: var(--color-on-primary-container);
  --color-label-accent-override: var(--color-secondary);
  --color-link-override: var(--color-on-primary-container);
  --color-link-hover-override: var(--color-on-primary-container);
  --color-overline-override: var(--color-on-primary-container);
}

.theme-secondary {
  background-color: var(--color-secondary);
  --color-headline-override: var(--color-on-secondary);
  --color-p-override: var(--color-on-secondary);
  --color-lead-override: var(--color-on-secondary);
  --color-blockquote-accent-override: var(--color-on-secondary);
  --color-blockquote-override: var(--color-on-secondary);
  --color-label-override: var(--color-on-secondary);
  --color-label-accent-override: var(--color-on-secondary);
  --color-link-override: var(--color-on-secondary);
  --color-link-hover-override: var(--color-on-secondary);
  --color-overline-override: var(--color-on-secondary);
}

.theme-secondary-container {
  background-color: var(--color-secondary-container);
  --color-headline-override: var(--color-on-secondary-container);
  --color-p-override: var(--color-on-secondary-container);
  --color-lead-override: var(--color-on-secondary-container);
  --color-blockquote-accent-override: var(--color-on-secondary-container);
  --color-blockquote-override: var(--color-on-secondary-container);
  --color-label-override: var(--color-on-secondary-container);
  --color-label-accent-override: var(--color-on-secondary-container);
  --color-link-override: var(--color-on-secondary-container);
  --color-link-hover-override: var(--color-on-secondary-container);
  --color-overline-override: var(--color-on-secondary-container);
}

.theme-tertiary {
  background-color: var(--color-tertiary);
  --color-headline-override: var(--color-on-tertiary);
  --color-p-override: var(--color-on-tertiary);
  --color-lead-override: var(--color-on-tertiary);
  --color-blockquote-accent-override: var(--color-on-tertiary);
  --color-blockquote-override: var(--color-on-tertiary);
  --color-label-override: var(--color-on-tertiary);
  --color-label-accent-override: var(--color-on-tertiary);
  --color-link-override: var(--color-on-tertiary);
  --color-link-hover-override: var(--color-on-tertiary);
  --color-overline-override: var(--color-on-tertiary);
}

.theme-tertiary-container {
  background-color: var(--color-tertiary-container);
  --color-headline-override: var(--color-on-tertiary-container);
  --color-p-override: var(--color-on-tertiary-container);
  --color-lead-override: var(--color-on-tertiary-container);
  --color-blockquote-accent-override: var(--color-on-tertiary-container);
  --color-blockquote-override: var(--color-on-tertiary-container);
  --color-label-override: var(--color-on-tertiary-container);
  --color-label-accent-override: var(--color-on-tertiary-container);
  --color-link-override: var(--color-on-tertiary-container);
  --color-link-hover-override: var(--color-on-tertiary-container);
  --color-overline-override: var(--color-on-tertiary-container);
}

.theme-error {
  background-color: var(--color-error);
  --color-headline-override: var(--color-on-error);
  --color-p-override: var(--color-on-error);
  --color-lead-override: var(--color-on-error);
  --color-blockquote-accent-override: var(--color-on-error);
  --color-blockquote-override: var(--color-on-error);
  --color-label-override: var(--color-on-error);
  --color-label-accent-override: var(--color-on-error);
  --color-link-override: var(--color-on-error);
  --color-link-hover-override: var(--color-on-error);
  --color-overline-override: var(--color-on-error);
}

.theme-error-container {
  background-color: var(--color-error-container);
  --color-headline-override: var(--color-on-error-container);
  --color-p-override: var(--color-on-error-container);
  --color-lead-override: var(--color-on-error-container);
  --color-blockquote-accent-override: var(--color-on-error-container);
  --color-blockquote-override: var(--color-on-error-container);
  --color-label-override: var(--color-on-error-container);
  --color-label-accent-override: var(--color-on-error-container);
  --color-link-override: var(--color-on-error-container);
  --color-link-hover-override: var(--color-on-error-container);
  --color-overline-override: var(--color-on-error-container);
} */
