.reel {
  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
  max-inline-size: 100%;
  scrollbar-color: var(--color-bg-primary) var(--color-bg-tertiary);
}

.reel.no-bar {
  scrollbar-width: none;
}

.reel.no-bar::-webkit-scrollbar {
  display: none;
}

.reel::-webkit-scrollbar {
  block-size: var(--space-m);
}

.reel::-webkit-scrollbar-track {
  background-color: var(--color-bg-tertiary);
}

.reel::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-tertiary);
  background-image: linear-gradient(
    var(--color-bg-tertiary) 0,
    var(--color-bg-tertiary) calc(var(--space-m) / 4),
    var(--color-bg-primary) calc(var(--space-m) / 4),
    var(--color-bg-primary) calc((var(--space-m) / 4) * 3),
    var(--color-bg-tertiary) calc((var(--space-m) / 4) * 3)
  );
}

.reel > * {
  flex: 0 0 auto;
}

.reel > img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

.reel > * + * {
  margin-inline-start: var(--space-m);
}

.reel.overflowing {
  padding-block-end: var(--space-m);
}
