button,
.btn {
	display: flex;
	align-items: baseline;
	justify-content: center;
	padding: var(--space-2xs) var(--space-l);
	box-shadow: var(--shadow-btn);
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-m);
	white-space: nowrap;
	text-decoration: none;
	color: #ffffff;
	background-color: var(--color-brand-200);
	border-radius: var(--radius-btn);
	cursor: pointer;
	transition: all 0.5s ease 0s;
	border: none;
	outline: none;
	max-inline-size: max-content;
}

button:hover,
.btn:hover,
button:active,
.btn:active {
	text-decoration: none;
	background-color: var(--color-brand-300);
	border-color: var(--color-brand-text);
}

button:hover,
.btn:hover {
	box-shadow: var(--shadow-btn-hover);
}

button:active,
.btn:active {
	box-shadow: var(--shadow-btn-active);
}

/* ? Variants */

/* ? Secondary Importance */
button.secondary,
.btn.secondary,
button.secondary:hover,
.btn.secondary:hover,
button.secondary:active,
.btn.secondary:active {
	background-color: var(--color-bg);
	border-color: var(--color-border);
	color: var(--color-text);
	box-shadow: var(--shadow-btn);
}

/* ? Outline */
button.outline,
.btn.outline {
	color: var(--color-fg-primary);
	background-color: transparent;
	border-color: var(--color-fg-tertiary);
}

button.variant\:icon,
.btn.variant\:icon {
	padding: var(--space-2xs);
	background: transparent;
	box-shadow: none;
	block-size: min-content;
}

button.variant\:icon:hover,
.btn.variant\:icon:hover {
	background: var(--color-bg-secondary);
}

button.radius-pill,
.btn.radius-pill {
	border-radius: var(--radius-pill);
}

button.radius-circle,
.btn.radius-circle {
	padding: var(--space-xs);
	border-radius: var(--radius-circle);
	aspect-ratio: 1;
}

button.size\:s,
.btn.size\:s {
	padding: var(--space-2xs) var(--space-s);
}

button.size\:l,
.btn.size\:l {
	padding: var(--space-2xs) var(--space-3xl);
}
