.card {
	padding: var(--inset, 0);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background: #fff;
	border-radius: var(--radius-l);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card > img {
	border-radius: var(--radius-l) var(--radius-l) 0 0;
}

.card > .inline {
	padding: var(--space-s);
	align-items: center;
}
