.columns {
	display: grid;
	inline-size: 100%;
	box-sizing: border-box;
	justify-items: stretch;
	align-items: center;
	
	padding: var(--inset, 0);
	gap: var(--gap, var(--space-xl));
}

.columns.start {
	grid-template-columns: 0.6fr 0.4fr;
}

.columns.end {
	grid-template-columns: 0.4fr 0.6fr;
}
