.cover {
	display: flex;
	flex-direction: column;
	min-block-size: var(--min-block-size, 100vh);
	padding: var(--inset, 0);
}

.cover.size\:s {
	min-block-size: var(--min-block-size, 75vh);
}

.cover > * {
	margin-block: var(--gap, var(--space-m));
}

.cover > :first-child:not(.main) {
	margin-block-start: 0;
}

.cover > :last-child:not(.main) {
	margin-block-end: 0;
}

/* ? Alignment */
.cover > .main {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.cover.start > .main {
	margin-inline-start: 0;
	text-align: start;
	align-items: flex-start;
}

.cover.end > .main {
	margin-inline-end: 0;
	text-align: end;
	align-items: flex-end;
}

/* ? Background Image */
.bg {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg::before {
	z-index: -100;
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: linear-gradient(
		to right bottom,
		rgba(50, 50, 50, 0.35),
		rgba(100, 100, 100, 0.35)
	);
	transition: none;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.bg#header::before {
	background-image: url("../../website/media/cafe.jpeg");
}

.bg#c2contact::before {
	background-image: url("../../website/media/coffee.jpg");
}
