.grid {
	display: grid;
	padding: var(--inset, 0);
	grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}

section > .grid {
	gap: var(--gap, var(--subsection-gap)) !important;
}

.grid > * {
	align-items: stretch;
	margin: 0;
}
