a:not(.btn) {
	background: linear-gradient(0deg, currentColor, currentColor) no-repeat right bottom / 0
		var(--bg-h);
	transition: background-size 350ms;
	padding-bottom: 2px;
	--bg-h: 2px;
	inline-size: max-content;
	color: var(--color, var(--color-brand-text));
	text-decoration: none;
	line-height: 1;
}
a:not(.btn):hover,
a:not(.btn):focus-visible {
	background-size: 100% var(--bg-h);
	background-position-x: left;
}

.bg\:dark a:not(.btn),
.bg\:dark .link:not(.btn) {
	--color: #fff;
}

a:not(.btn).default,
.link:not(.btn).default {
	--color: var(--color-fg-primary);
}

a:not(.btn).inverse,
.link:not(.btn).inverse {
	--color: var(--color-bg-tertiary);
}

a:not(.btn).success,
.link:not(.btn).success {
	--color: var(--color-success-text);
}

a:not(.btn).info,
.link:not(.btn).info {
	--color: var(--color-info-text);
}

a:not(.btn).warning,
.link:not(.btn).warning {
	--color: var(--color-warning-text);
}

a:not(.btn).danger,
.link:not(.btn).danger {
	--color: var(--color-danger-text);
}

a:not(.btn).media {
	background: none;
}
