.masonry {
    gap: var(--gap, var(--space-xl));
    padding: var(--inset, 0);
    columns: var(--columns, 2);
}

.masonry > * + * {
    margin-block-start: var(--gap, var(--space-xl));
    break-inside: avoid;
}
