---
layout: base
---

<article class="prose center center-intrinsic">{{ content | safe }}</article>

<div class="region bg-pattern theme-primary">
    <div class="prose">
        <h2 class="region-headline">{{content.cta.headline}}</h2>
        <p>
            {{content.cta.body}}
        </p>
        <a href="/contact" class="btn">Start a Project</a>
    </div>
</div>