.frame {
    aspect-ratio: var(--aspect, 3/2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame > img,
.frame > video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

@media (orientation='portrait') {
    --aspect: 1/1;
}
