.grid {
    display: grid;
    grid-gap: var(--gap, var(--space-m));
    padding: var(--inset, 0);
}

.grid > * {
    align-items: stretch;
}

@supports (width: min(250px, 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    }
}
