.stack {
    display: flex;
    flex-direction: column;
    justify-content: var(--justify, flex-start);
    padding: var(--inset, 0);
}

.stack > * + * {
    margin-block-start: var(--space, var(--gap, var(--space-xs)));
}

.stack > .split {
    margin-block-start: auto;
}

.stack:only-child {
    block-size: 100%;
}
