.switcher {
    display: flex;
    flex-wrap: wrap;
    padding: var(--inset, 0);
    gap: var(--gap, var(--space-m));
}

.switcher > * {
    flex-grow: var(--grow, 1);
    flex-basis: calc((var(--threshold, 20rem) - 100%) * 999);
    max-inline-size: 100%;
}
