---
layout: base
title: Low-Carbon Web Optimization & WCAG 2.2 Compliance
description: Boost your website's performance with my eco-friendly optimization services, ensuring minimal carbon emissions, full WCAG 2.2 compliance, and a seamless design system for unparalleled user experience and accessibility.
---

<div class="cover region cover-nav">
  <div class="sidebar reverse sidebar-split gap-m">
    <div class="frame square">
      {% image content.optimization.header.img.src,
      content.optimization.header.img.alt %}
    </div>
    <div class="prose auto fixed">
      <h1 class="page-headline">
        <span class="color-primary">{{content.optimization.header.accent}}</span>
        {{content.optimization.header.headline}}
      </h1>
      <p>{{content.optimization.header.body}}</p>
    </div>
  </div>
</div>

<section class="region prose bg-pattern theme-tertiary">
  <p class="lead auto">{{content.optimization.problem.body}}</p>
</section>

<div class="region sidebar sidebar-split gap-m">
  <div class="frame square">
    {% image content.optimization.description.img.src,
    content.optimization.description.img.alt %}
  </div>
  <div class="fixed prose">
    <p class="overline">{{content.optimization.description.overline}}</p>
    <h2 class="region-headline">
      {{content.optimization.description.headline}}
    </h2>
    <p>{{content.optimization.description.body}}</p>
  </div>
</div>

<div class="region stack">
  <section class="prose">
    <p class="overline">{{content.optimization.plan.overline}}</p>
    <h2 class="region-headline">{{content.optimization.plan.headline}}</h2>
  </section>
  <div class="timeline timeline-inline">
    {% for step in content.optimization.plan.steps %}
    <div aria-hidden="true"></div>
    <div class="stack gap-xs">
      <div class="prose">
        <h3 class="title-headline">{{step.headline}}</h3>
        <p>{{step.body}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="region reverse sidebar sidebar-split gap-m">
  <div class="frame square">
    {% image content.optimization.transformation.img.src,
    content.optimization.transformation.img.alt %}
  </div>
  <div class="prose fixed">
    <p class="overline">{{content.optimization.transformation.overline}}</p>
    <h2 class="region-headline">
      {{content.optimization.transformation.headline}}
    </h2>
    <p>{{content.optimization.transformation.body}}</p>
  </div>
</div>

<div class="region">
  <div class="prose">
    <p class="overline">{{content.optimization.faqs.overline}}</p>
    <h2 class="region-headline">{{content.optimization.faqs.headline}}</h2>
  </div>
  <div class="space-xl">
    {% for item in content.optimization.faqs.faqs %}
    <details>
      <summary>
        <h3 class="title-headline">{{item.question}}</h3>
      </summary>
      <p>{{item.answer}}</p>
    </details>
    <hr />
    {% endfor %}
  </div>
</div>

<div class="region bg-pattern theme-primary">
  <div class="prose">
    <h2 class="region-headline">{{content.optimization.cta.headline}}</h2>
    <p>{{content.optimization.cta.body}}</p>
    <a href="/contact" class="btn">Start a Project</a>
  </div>
</div>