/* P */
.prose :where(p) {
  margin-block: var(--space-s);
}

.prose.prose-s :where(p) {
  max-inline-size: 30ch;
}

/* Overline */
.prose :where(.overline) {
  margin-block-end: 0;
}

/* Lead P */
.prose :where(p.lead) {
  margin-block-end: var(--space-xs);
}

/* Blockquote */
.prose :where(blockquote) {
  margin-block-end: var(--space-l);
  margin-block-start: var(--space-2xl);
  margin-inline: 0;
}

/* Pre */
.prose :where(pre) {
  margin-block: var(--space-l);
}

/* Hr */
.prose :where(hr) {
  margin-block: var(--space-xl);
}

.prose :where(hr + *) {
  margin-block-start: 0;
}

/* Table */
.prose :where(table) {
  margin-block: var(--space-l);
}

/* List */
.prose :where(ol, ul) {
  /* padding-inline-start: var(--space-s); */
}

.prose :where(li) {
  margin-block: var(--space-2xs);
  font-size: var(--font-size-m);
  display: inline-flex;
  align-items: flex-start;
  gap: var(--space-xs);
  line-height: var(--line-height-body);
}

.prose :where(ul > li, ol > li) {
  /* padding-inline-start: var(--space-2xs); */
}

/* Figure, Img */
.prose :where(figure, img) {
  margin-block: var(--space-m);
}

.prose :where(figure > *) {
  margin-block: 0;
}

.prose :where(figcaption) {
  margin-block-start: 1em;
}

/* Title */
.prose :where(h4, .title-headline) {
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-2xs);
}

/* Section */
.prose :where(h3, .section-headline) {
  margin-block-start: var(--space-s);
  margin-block-end: var(--space-2xs);
}

/* Region */
.prose :where(h2),
.prose :where(.region-headline) {
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-s);
}

.prose :where(svg + h4) {
  margin-block-start: var(--space-xs);
}

/* Page */
/* Hero */

.prose
  :where(
    :first-child,
    h2 + *,
    .region-headline + *,
    h3 + *,
    .section-headline + *,
    h4 + *,
    .title-headline + *
  ) {
  margin-block-start: 0;
}

.prose :where(.overline + *) {
  margin-block-start: var(--space-xs);
}

.prose :where(time + *) {
  margin-block-start: var(--space-3xs);
}

.prose :where(:last-child) {
  margin-block-end: 0;
}
