.input-group > input {
  border-radius: var(--border-radius-s) 0 0 var(--border-radius-s);
  border-right: none;
}

.input-group > button {
  border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
  border-left: none;
}
