.avatar {
    border-radius: var(--radius-circle);
    inline-size: var(--space-l);
    block-size: auto;
    aspect-ratio: 1;
}

.avatar.size\:s {
    inline-size: var(--space-xs);
    block-size: auto;
    aspect-ratio: 1;
}

.avatar.size\:l {
    inline-size: var(--space-2xl);
    block-size: auto;
    aspect-ratio: 1;
}