.tag {
	border: 1px solid var(--color-fg-tertiary);
	background-color: var(--color-bg-tertiary);
	color: var(--color-fg-primary);
	border-radius: var(--radius-pill);
	font-size: var(--font-size-s);
	font-family: var(--font-family-body);
	font-weight: var(--font-weight-bold);
	padding: var(--space-3xs) var(--space-xs);
	inline-size: fit-content;
}

.tag.info {
	color: var(--color-info-text);
	background-color: var(--color-info-bg);
	border-color: var(--color-info-ui);
}

.tag.success {
	color: var(--color-success-text);
	background-color: var(--color-success-bg);
	border-color: var(--color-success-ui);
}

.tag.warning {
	color: var(--color-warning-text);
	background-color: var(--color-warning-bg);
	border-color: var(--color-warning-ui);
}

.tag.danger {
	color: var(--color-danger-text);
	background-color: var(--color-danger-bg);
	border-color: var(--color-danger-ui);
}
