/*? The Masonry - Product galleries, testimonials, blog posts, portfolio items */
/* Masonry style grid */
.masonry {
  gap: var(--gap, var(--space-m));
}

.masonry > * + * {
  margin-block-start: var(--gap, var(--space-m));
  break-inside: avoid;
}

@media only screen and (min-width: 1100px) {
  .masonry {
    columns: 4;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .masonry {
    columns: 3;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .masonry {
    columns: 2;
  }
}

@media only screen and (max-width: 599px) {
  .masonry {
    columns: 1;
  }
}
