{% macro render( props ) %}
<form class="input-group">
  <input class="input" type="email" placeholder="Email Address" />
  <button type="submit" class="btn">Subscribe</button>
</form>
{% endmacro %} {% if storybookArgs %} {{ render( storybookArgs ) }} {% endif %}
