/* Brand Tone
	- Professional - competence, reliability, and expertise - clean, sharp lines, neutral colors, and minimalistic design
	- Informative - clarity, authority, and precision - clean, simple typography, muted colors, and clear organization of information
	- Luxurious - exclusivity, sophistication, and indulgence - rich, deep colors, ornate typography and imagery, and high-quality materials like leather or metal
	- Inspirational - motivation, encouragement, and positivity - bright, uplifting colors, bold typography, and inspiring imagery like natural landscapes or people overcoming obstacles
	- Irreverent - rebellion, humor, and irreverence towards authority - bold, provocative imagery and typography, bright and contrasting colors, and edgy design elements
	- Playful - humor, creativity, and whimsy - bright colors, playful shapes and patterns, and cartoonish illustrations
	- Friendly - approachability, warmth, and positivity - bright, cheerful colors, rounded shapes, and playful illustrations or icons
	- Sincere - honesty, authenticity, and trustworthiness - soft, rounded shapes, warm and muted colors, and natural textures like wood or fabric
	- Innovative - creativity, forward-thinking, and cutting-edge technology - bold, unconventional shapes and layouts, bright and futuristic colors, and dynamic animations or transitions
*/

:root {
	--color-playful-neutral-700: #0d090b;
	--color-playful-neutral-600: #30272d;
	--color-playful-neutral-500: #473f45;
	--color-playful-neutral-400: #82787f;
	--color-playful-neutral-300: #bdb3ba;
	--color-playful-neutral-200: #e3dae0;
	--color-playful-neutral-100: #fcf2f9;

	--color-playful-brand-400: #330524;
	--color-playful-brand-300: #66144b;
	--color-playful-brand-200: #cc52a3;
	--color-playful-brand-100: #ff80d5;

	--radius-playful-s: 20px;
	--radius-playful-l: 30px;

	--font-playful-1: "Cooper Hewitt";
	--font-playful-2: Bungee;
	--font-playful-3: "Fredoka One";
	--font-playful-4: Lobster;
	--font-playful-5: Pacifico;
}