/* Brand Tone
	- Professional - competence, reliability, and expertise - clean, sharp lines, neutral colors, and minimalistic design
	- Informative - clarity, authority, and precision - clean, simple typography, muted colors, and clear organization of information
	- Luxurious - exclusivity, sophistication, and indulgence - rich, deep colors, ornate typography and imagery, and high-quality materials like leather or metal
	- Inspirational - motivation, encouragement, and positivity - bright, uplifting colors, bold typography, and inspiring imagery like natural landscapes or people overcoming obstacles
	- Irreverent - rebellion, humor, and irreverence towards authority - bold, provocative imagery and typography, bright and contrasting colors, and edgy design elements
	- Playful - humor, creativity, and whimsy - bright colors, playful shapes and patterns, and cartoonish illustrations
	- Friendly - approachability, warmth, and positivity - bright, cheerful colors, rounded shapes, and playful illustrations or icons
	- Sincere - honesty, authenticity, and trustworthiness - soft, rounded shapes, warm and muted colors, and natural textures like wood or fabric
	- Innovative - creativity, forward-thinking, and cutting-edge technology - bold, unconventional shapes and layouts, bright and futuristic colors, and dynamic animations or transitions
*/

:root {
	--color-professional-neutral-700: #09090d;
	--color-professional-neutral-600: #272730;
	--color-professional-neutral-500: #3f3f47;
	--color-professional-neutral-400: #787882;
	--color-professional-neutral-300: #b3b3bd;
	--color-professional-neutral-200: #dadae3;
	--color-professional-neutral-100: #f2f2fc;

	--color-professional-brand-400: #050533;
	--color-professional-brand-300: #141466;
	--color-professional-brand-200: #5252cc;
	--color-professional-brand-100: #8080ff;

	--radius-professional-s: 0px;
	--radius-professional-l: 0px;

	--font-professional-1: Helvetica;
	--font-professional-2: Arial;
	--font-professional-3: Georgia;
	--font-professional-4: "Times New Roman";
	--font-professional-5: "Open Sans";
}