/* Brand Tone
	- Professional - competence, reliability, and expertise - clean, sharp lines, neutral colors, and minimalistic design
	- Informative - clarity, authority, and precision - clean, simple typography, muted colors, and clear organization of information
	- Luxurious - exclusivity, sophistication, and indulgence - rich, deep colors, ornate typography and imagery, and high-quality materials like leather or metal
	- Inspirational - motivation, encouragement, and positivity - bright, uplifting colors, bold typography, and inspiring imagery like natural landscapes or people overcoming obstacles
	- Irreverent - rebellion, humor, and irreverence towards authority - bold, provocative imagery and typography, bright and contrasting colors, and edgy design elements
	- Playful - humor, creativity, and whimsy - bright colors, playful shapes and patterns, and cartoonish illustrations
	- Friendly - approachability, warmth, and positivity - bright, cheerful colors, rounded shapes, and playful illustrations or icons
	- Sincere - honesty, authenticity, and trustworthiness - soft, rounded shapes, warm and muted colors, and natural textures like wood or fabric
	- Innovative - creativity, forward-thinking, and cutting-edge technology - bold, unconventional shapes and layouts, bright and futuristic colors, and dynamic animations or transitions
*/

:root {
	--color-sincere-neutral-700: #0d0a09;
	--color-sincere-neutral-600: #302927;
	--color-sincere-neutral-500: #47403f;
	--color-sincere-neutral-400: #827978;
	--color-sincere-neutral-300: #bdb5b3;
	--color-sincere-neutral-200: #e3dbda;
	--color-sincere-neutral-100: #fcf4f2;

	--color-sincere-brand-400: #330d05;
	--color-sincere-brand-300: #662214;
	--color-sincere-brand-200: #cc6652;
	--color-sincere-brand-100: #ff9580;

	--radius-sincere-s: 4px;
	--radius-sincere-l: 6px;

	--font-sincere-1: Helvetica;
	--font-sincere-2: Arial;
	--font-sincere-3: Georgia;
	--font-sincere-4: Verdana;
	--font-sincere-5: "Proxima Nova";
}