{%- macro action(props) -%}
{% include "./regions/action/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro copy(props) -%}
{% include "./regions/copy/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro faq(props) -%}
{% include "./regions/faq/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro feature(props) -%}
{% include "./regions/feature/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro footer(props) -%}
{% include "./regions/footer/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro form(props) -%}
{% include "./regions/form/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro gallery(props) -%}
{% include "./regions/gallery/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro header(props) -%}
{% include "./regions/header/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro hero(props) -%}
{% include "./regions/hero/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro intro(props) -%}
{% include "./regions/intro/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro logos(props) -%}
{% include "./regions/logos/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro pricing(props) -%}
{% include "./regions/pricing/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro stats(props) -%}
{% include "./regions/stats/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro testimonials(props) -%}
{% include "./regions/testimonials/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro timeline(props) -%}
{% include "./regions/timeline/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}