{%- macro error(props) -%}
{% include "./regions/error/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro blog(props) -%}
{% include "./regions/blog/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro contact(props) -%}
{% include "./regions/contact/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro post(props) -%}
{% include "./regions/post/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro cta(props) -%}
{% include "./regions/cta/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro faq(props) -%}
{% include "./regions/faq/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro footer(props) -%}
{% include "./regions/footer/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro header(props) -%}
{% include "./regions/header/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro hero(props) -%}
{% include "./regions/hero/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro info(props) -%}
{% include "./regions/info/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro logos(props) -%}
{% include "./regions/logos/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro navbar(props) -%}
{% include "./regions/navbar/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro portfolio(props) -%}
{% include "./regions/portfolio/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro stats(props) -%}
{% include "./regions/stats/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro testimonials(props) -%}
{% include "./regions/testimonials/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro timeline(props) -%}
{% include "./regions/timeline/" + props.variant + ".njk" ignore missing %}
{%- endmacro -%}