/* frame, clip, background image */

/*? The Frame - Cropping media (videos and images) to a desired aspect ratio */
.frame {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame.square {
  aspect-ratio: 1/1;
}

.frame.logo {
  aspect-ratio: 2/1;
}

.frame.photo {
  aspect-ratio: 3/2;
}

.frame.video {
  aspect-ratio: 16/9;
}

.frame.full {
  inline-size: 100%;
  block-size: 100%;
}

.frame > img,
.frame > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.frame.rounded,
.frame.rounded > img {
  border-radius: var(--radius-l);
}

@media (orientation: portrait) {
  .frame {
    aspect-ratio: 1/1;
  }
}
