.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify, flex-start);
  align-items: center;
  /* -1/2 margin on container to get rid of gap on start and end  */
  margin: calc(var(--space, var(--space-2xs)) / 2 * -1);
}

/* 1/2 margin on all sides of each children to simulate gap */
.inline > * {
  margin: calc(var(--space, var(--space-2xs)) / 2);
}
