<section class="center-intrinsic gap-xs stack theme-{{props.theme}}">
    <h2 class="region-headline">Logo Clouds</h2>
    <div class="grid grid-5">
        <div class="frame photo">
            <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
        </div>
        <div class="frame photo">
            <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
        </div>
        <div class="frame photo">
            <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
        </div>
        <div class="frame photo">
            <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
        </div>
        <div class="frame photo">
            <img src="https://generative-placeholders.glitch.me/image?width=600&height=300" alt="placeholder" />
        </div>
    </div>
</section>