[collapse='phone'] {
  --breakpoint: 20em;
}

[collapse='tablet-portrait'] {
  --breakpoint: 38em;
}

[collapse='tablet-landscape'] {
  --breakpoint: 56em;
}

[collapse='desktop'] {
  --breakpoint: 75em;
}

[collapse='lg-desktop'] {
  --breakpoint: 112em;
}
