[position='block-start'] {
  --top: -100%;
}

[position='block-start-start'] {
  --top: -100%;
  --left: 0;
}

[position='block-start-end'] {
  --top: -100%;
  --right: 0;
}

[position='block-end'] {
  --top: 100%;
}

[position='block-end-start'] {
  --top: 100%;
  --left: 0;
}

[position='block-end-end'] {
  --top: 100%;
  --right: 0;
}

[position='inline-start'] {
  --left: -100%;
}

[position='inline-start-start'] {
  --top: 0;
  --left: -100%;
}

[position='inline-start-end'] {
  --bottom: 0;
  --left: -100%;
}

[position='inline-end'] {
  --right: -100%;
}

[position='inline-end-start'] {
  --top: 0;
  --right: -100%;
}

[position='inline-end-end'] {
  --bottom: 0;
  --right: -100%;
}

[position='block-end'] {
  --bottom: -100%;
}

[position='block-end-start'] {
  --bottom: -100%;
  --left: 0;
}

[position='block-end-end'] {
  --bottom: -100%;
  --right: 0;
}

[position='center'] {
  --top: 50%;
  --left: 50%;
  --transform: translate(-50%, -50%);
}

@media (--phone-up) {
  [position='phone:block-start'] {
    --top: -100%;
  }

  [position='phone:block-start-start'] {
    --top: -100%;
    --left: 0;
  }

  [position='phone:block-start-end'] {
    --top: -100%;
    --right: 0;
  }

  [position='phone:block-end'] {
    --top: 100%;
  }

  [position='phone:block-end-start'] {
    --top: 100%;
    --left: 0;
  }

  [position='phone:block-end-end'] {
    --top: 100%;
    --right: 0;
  }

  [position='phone:inline-start'] {
    --left: -100%;
  }

  [position='phone:inline-start-start'] {
    --top: 0;
    --left: -100%;
  }

  [position='phone:inline-start-end'] {
    --bottom: 0;
    --left: -100%;
  }

  [position='phone:inline-end'] {
    --right: -100%;
  }

  [position='phone:inline-end-start'] {
    --top: 0;
    --right: -100%;
  }

  [position='phone:inline-end-end'] {
    --bottom: 0;
    --right: -100%;
  }

  [position='phone:block-end'] {
    --bottom: -100%;
  }

  [position='phone:block-end-start'] {
    --bottom: -100%;
    --left: 0;
  }

  [position='phone:block-end-end'] {
    --bottom: -100%;
    --right: 0;
  }

  [position='phone:center'] {
    --top: 50%;
    --left: 50%;
    --transform: translate(-50%, -50%);
  }
}

@media (--tablet-portrait-up) {
  [position='tablet-portrait:block-start'] {
    --top: -100%;
  }

  [position='tablet-portrait:block-start-start'] {
    --top: -100%;
    --left: 0;
  }

  [position='tablet-portrait:block-start-end'] {
    --top: -100%;
    --right: 0;
  }

  [position='tablet-portrait:block-end'] {
    --top: 100%;
  }

  [position='tablet-portrait:block-end-start'] {
    --top: 100%;
    --left: 0;
  }

  [position='tablet-portrait:block-end-end'] {
    --top: 100%;
    --right: 0;
  }

  [position='tablet-portrait:inline-start'] {
    --left: -100%;
  }

  [position='tablet-portrait:inline-start-start'] {
    --top: 0;
    --left: -100%;
  }

  [position='tablet-portrait:inline-start-end'] {
    --bottom: 0;
    --left: -100%;
  }

  [position='tablet-portrait:inline-end'] {
    --right: -100%;
  }

  [position='tablet-portrait:inline-end-start'] {
    --top: 0;
    --right: -100%;
  }

  [position='tablet-portrait:inline-end-end'] {
    --bottom: 0;
    --right: -100%;
  }

  [position='tablet-portrait:block-end'] {
    --bottom: -100%;
  }

  [position='tablet-portrait:block-end-start'] {
    --bottom: -100%;
    --left: 0;
  }

  [position='tablet-portrait:block-end-end'] {
    --bottom: -100%;
    --right: 0;
  }

  [position='tablet-portrait:center'] {
    --top: 50%;
    --left: 50%;
    --transform: translate(-50%, -50%);
  }
}

@media (--tablet-landscape-up) {
  [position='tablet-landscape:block-start'] {
    --top: -100%;
  }

  [position='tablet-landscape:block-start-start'] {
    --top: -100%;
    --left: 0;
  }

  [position='tablet-landscape:block-start-end'] {
    --top: -100%;
    --right: 0;
  }

  [position='tablet-landscape:block-end'] {
    --top: 100%;
  }

  [position='tablet-landscape:block-end-start'] {
    --top: 100%;
    --left: 0;
  }

  [position='tablet-landscape:block-end-end'] {
    --top: 100%;
    --right: 0;
  }

  [position='tablet-landscape:inline-start'] {
    --left: -100%;
  }

  [position='tablet-landscape:inline-start-start'] {
    --top: 0;
    --left: -100%;
  }

  [position='tablet-landscape:inline-start-end'] {
    --bottom: 0;
    --left: -100%;
  }

  [position='tablet-landscape:inline-end'] {
    --right: -100%;
  }

  [position='tablet-landscape:inline-end-start'] {
    --top: 0;
    --right: -100%;
  }

  [position='tablet-landscape:inline-end-end'] {
    --bottom: 0;
    --right: -100%;
  }

  [position='tablet-landscape:block-end'] {
    --bottom: -100%;
  }

  [position='tablet-landscape:block-end-start'] {
    --bottom: -100%;
    --left: 0;
  }

  [position='tablet-landscape:block-end-end'] {
    --bottom: -100%;
    --right: 0;
  }

  [position='tablet-landscape:center'] {
    --top: 50%;
    --left: 50%;
    --transform: translate(-50%, -50%);
  }
}

@media (--desktop-up) {
  [position='desktop:block-start'] {
    --top: -100%;
  }

  [position='desktop:block-start-start'] {
    --top: -100%;
    --left: 0;
  }

  [position='desktop:block-start-end'] {
    --top: -100%;
    --right: 0;
  }

  [position='desktop:block-end'] {
    --top: 100%;
  }

  [position='desktop:block-end-start'] {
    --top: 100%;
    --left: 0;
  }

  [position='desktop:block-end-end'] {
    --top: 100%;
    --right: 0;
  }

  [position='desktop:inline-start'] {
    --left: -100%;
  }

  [position='desktop:inline-start-start'] {
    --top: 0;
    --left: -100%;
  }

  [position='desktop:inline-start-end'] {
    --bottom: 0;
    --left: -100%;
  }

  [position='desktop:inline-end'] {
    --right: -100%;
  }

  [position='desktop:inline-end-start'] {
    --top: 0;
    --right: -100%;
  }

  [position='desktop:inline-end-end'] {
    --bottom: 0;
    --right: -100%;
  }

  [position='desktop:block-end'] {
    --bottom: -100%;
  }

  [position='desktop:block-end-start'] {
    --bottom: -100%;
    --left: 0;
  }

  [position='desktop:block-end-end'] {
    --bottom: -100%;
    --right: 0;
  }

  [position='desktop:center'] {
    --top: 50%;
    --left: 50%;
    --transform: translate(-50%, -50%);
  }
}

@media (--lg-desktop-up) {
  [position='lg-desktop:block-start'] {
    --top: -100%;
  }

  [position='lg-desktop:block-start-start'] {
    --top: -100%;
    --left: 0;
  }

  [position='lg-desktop:block-start-end'] {
    --top: -100%;
    --right: 0;
  }

  [position='lg-desktop:block-end'] {
    --top: 100%;
  }

  [position='lg-desktop:block-end-start'] {
    --top: 100%;
    --left: 0;
  }

  [position='lg-desktop:block-end-end'] {
    --top: 100%;
    --right: 0;
  }

  [position='lg-desktop:inline-start'] {
    --left: -100%;
  }

  [position='lg-desktop:inline-start-start'] {
    --top: 0;
    --left: -100%;
  }

  [position='lg-desktop:inline-start-end'] {
    --bottom: 0;
    --left: -100%;
  }

  [position='lg-desktop:inline-end'] {
    --right: -100%;
  }

  [position='lg-desktop:inline-end-start'] {
    --top: 0;
    --right: -100%;
  }

  [position='lg-desktop:inline-end-end'] {
    --bottom: 0;
    --right: -100%;
  }

  [position='lg-desktop:block-end'] {
    --bottom: -100%;
  }

  [position='lg-desktop:block-end-start'] {
    --bottom: -100%;
    --left: 0;
  }

  [position='lg-desktop:block-end-end'] {
    --bottom: -100%;
    --right: 0;
  }

  [position='lg-desktop:center'] {
    --top: 50%;
    --left: 50%;
    --transform: translate(-50%, -50%);
  }
}
