.cover {
  display: flex;
  flex-direction: column;
  min-height: var(--min, 100vh);
  padding: var(--space, var(--space-m));
}

.cover > * {
  /* ↓ Give each child a top and bottom margin */
  margin-top: var(--space, var(--space-m));
  margin-bottom: var(--space, var(--space-m));
}

.cover > :first-child:not([centered]) {
  /* ↓ Remove the top margin from the first-child
  if it _doesn't_ match the centered element */
  margin-top: 0;
}

.cover > :last-child:not([centered]) {
  /* ↓ Remove the bottom margin from the last-child
  if it _doesn't_ match the centered element */
  margin-bottom: 0;
}

.cover > [centered] {
  /* ↓ Center the centered element in the available vertical space */
  margin-top: auto;
  margin-bottom: auto;
}
