/*? The Cover - “Above the fold” introductory content */
.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  inline-size: 100%;
  align-items: center;
  gap: var(--gap-region);
  padding: var(--inset, var(--inset-page));
}

.cover > :nth-child(2),
.cover > :only-child {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
