/* ? Semantics */
.brand-primary {
	color: var(--color-brand-primary);
}

.brand {
	color: var(--color-brand);
}

.brand-border {
	color: var(--color-brand-border);
}

.brand-muted {
	color: var(--color-brand-muted);
}

.success-primary {
	color: var(--color-success-primary);
}

.success {
	color: var(--color-success);
}

.success-border {
	color: var(--color-success-border);
}

.success-muted {
	color: var(--color-success-muted);
}

.info-primary {
	color: var(--color-info-primary);
}

.info {
	color: var(--color-info);
}

.info-border {
	color: var(--color-info-border);
}

.info-muted {
	color: var(--color-info-muted);
}

.warning-primary {
	color: var(--color-warning-primary);
}

.warning {
	color: var(--color-warning);
}

.warning-border {
	color: var(--color-warning-border);
}

.warning-muted {
	color: var(--color-warning-muted);
}

.danger-primary {
	color: var(--color-danger-primary);
}

.danger {
	color: var(--color-danger);
}

.danger-border {
	color: var(--color-danger-border);
}

.danger-muted {
	color: var(--color-danger-muted);
}

.fg-primary {
	color: var(--color-fg-primary);
}

.fg {
	color: var(--color-fg);
}

.border {
	color: var(--color-border);
}

.muted {
	color: var(--color-fg-muted);
}

/* ? Background Colors */
.bg\:bg-tertiary {
	background: var(--color-surface);
}

.bg\:bg-secondary {
	background: var(--color-bg);
}

.bg\:bg-primary {
	background: var(--color-bg-primary);
}

.bg\:fg-tertiary {
	background: var(--color-surface);
}

.bg\:fg-secondary {
	background: var(--color-bg);
}

.bg\:fg-primary {
	background: var(--color-bg-primary);
}

.bg\:brand {
	background: var(--color-brand-muted);
}

.bg\:success {
	background: var(--color-success-muted);
}

.bg\:info {
	background: var(--color-info-muted);
}

.bg\:warning {
	background: var(--color-warning-muted);
}

.bg\:danger {
	background: var(--color-danger-muted);
}
