/* ? Semantics */
.color\:brand {
	color: var(--color-brand-primary);
}
.light {
	--color: #fff;
}
.muted {
	--color-text: var(--color-fg-muted);
}

/* ? Background Colors */
.bg\:bg-tertiary {
	background: var(--color-surface);
}

.bg\:bg-secondary {
	background: var(--color-bg);
}

.bg\:bg-primary {
	background: var(--color-bg-primary);
}

.bg\:fg-tertiary {
	background: var(--color-surface);
}

.bg\:fg-secondary {
	background: var(--color-bg);
}

.bg\:fg-primary {
	background: var(--color-bg-primary);
}

.bg\:brand {
	background: var(--color-brand-muted);
}

.bg\:success {
	background: var(--color-success-muted);
}

.bg\:info {
	background: var(--color-info-muted);
}

.bg\:warning {
	background: var(--color-warning-muted);
}

.bg\:danger {
	background: var(--color-danger-muted);
}
