header {
	padding: var(--inset-body, var(--inset-header));
}

main > section {
	padding-inline: var(--inset-body, var(--inset-main));
}

footer {
	padding: var(--inset-body, var(--inset-footer));
}

/* ? Inset Modifiers */
.inset-0 {
	padding: 0 !important;
}
.inset-1 {
	padding: var(--space-1) !important;
}
.inset-2 {
	padding: var(--space-2) !important;
}
.inset-3 {
	padding: var(--space-3) !important;
}
.inset-4 {
	padding: var(--space-4) !important;
}
.inset-5 {
	padding: var(--space-5) !important;
}
.inset-6 {
	padding: var(--space-6) !important;
}
.inset-7 {
	padding: var(--space-7) !important;
}
.inset-8 {
	padding: var(--space-8) !important;
}
.inset-9 {
	padding: var(--space-9) !important;
}
.inset-10 {
	padding: var(--space-10) !important;
}
.inset-11 {
	padding: var(--space-11) !important;
}
.inset-12 {
	padding: var(--space-12) !important;
}
.inset-13 {
	padding: var(--space-13) !important;
}
.inset-14 {
	padding: var(--space-14) !important;
}
.inset-15 {
	padding: var(--space-15) !important;
}
.inset-16 {
	padding: var(--space-16) !important;
}
