/* ? Space */
h1,
h2,
h3,
h4,
h5,
p,
label {
	margin: 0;
}

:is(.hero, .page) + * {
	margin-block-start: var(--space-4);
}

.section + * {
	margin-block-start: var(--space-3);
}

.subsection + * {
	margin-block-start: var(--space-2);
}

:is(label, .overline) + * {
	margin-block-start: var(--space-1);
}

* + label {
	margin-block-start: var(--space-5);
}

p + p {
	margin-block-start: var(--space-4);
}

svg + * {
	margin-block-start: var(--space-4);
}

* + .btn {
	margin-block-start: var(--space-3);
}

/* ? Space Overrides */
.space-0 {
	margin-block-start: 0 !important;
}
.space-1 {
	margin-block-start: var(--space-1) !important;
}
.space-2 {
	margin-block-start: var(--space-2) !important;
}
.space-3 {
	margin-block-start: var(--space-3) !important;
}
.space-4 {
	margin-block-start: var(--space-4) !important;
}
.space-5 {
	margin-block-start: var(--space-5) !important;
}
.space-6 {
	margin-block-start: var(--space-6) !important;
}
.space-7 {
	margin-block-start: var(--space-7) !important;
}
.space-8 {
	margin-block-start: var(--space-8) !important;
}
.space-9 {
	margin-block-start: var(--space-9) !important;
}
.space-10 {
	margin-block-start: var(--space-10) !important;
}
.space-11 {
	margin-block-start: var(--space-11) !important;
}
.space-12 {
	margin-block-start: var(--space-12) !important;
}
.space-13 {
	margin-block-start: var(--space-13) !important;
}
.space-14 {
	margin-block-start: var(--space-14) !important;
}
.space-15 {
	margin-block-start: var(--space-15) !important;
}
.space-16 {
	margin-block-start: var(--space-16) !important;
}
