.inline {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap, var(--space-s));
  justify-content: flex-start;
  align-items: center;
}

.inline-header,
.inline-header > * {
  display: inline !important;
}

.inline-header > :first-child {
  margin-inline-end: var(--space-3xs);
}

.inline-start {
  align-items: flex-start;
}

.inline-end {
  align-items: flex-end;
}

.inline-center {
  align-items: center;
}

.inline-baseline {
  align-items: baseline;
}
