.timeline {
  display: grid;
  gap: var(--space-xs);
}

.timeline-inline {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.timeline-block {
  grid-template-columns: max-content 1fr;
  place-items: start;
}

.timeline-block .sparkline {
  inline-size: 1px !important;
  block-size: 100% !important;
  background: var(--color-outline-variant) !important;
  grid-column: 1/2 !important;
  margin-block-start: var(--space-2xs);
}

.sparkline::before {
  top: 0 !important;
  content: '' !important;
  display: block !important;
  width: 0.35rem !important;
  height: 0.35rem !important;
  background-color: var(--color-primary) !important;
  border-radius: 50% !important;
  transform: translateX(-50%) !important;
  margin-block-end: var(--space-xs) !important;
}

.timeline-block [aria-hidden='true'] {
  grid-column: 2/3;
  position: relative;
}

.timeline [aria-hidden='true'] {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  position: relative;
}

.timeline-inline [aria-hidden='true']::before {
  content: '';
  display: block;
  width: 0.35rem;
  height: 0.35rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: calc(-1 * var(--space-xs));
  transform: translateY(-50%);
}

.timeline-inline [aria-hidden='true']::before {
  margin-inline-end: var(--space-xs);
}

.timeline [aria-hidden='true'] {
  flex: 1;
  margin-inline-start: var(--space-xs);
  margin-inline-end: calc(-1 * var(--space-s));
  block-size: 0;
  border-block-start: 1px solid var(--color-outline-variant);
  display: none;
}

@media (--tablet-landscape-up) {
  .timeline {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--space-m);
  }

  .timeline-block {
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: max-content max-content 1fr;
    place-items: start;
  }

  .sparkline::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    transform: translateX(-50%);
    margin-block-end: var(--space-xs);
    position: absolute;
    top: 50%;
    translate: translateY(-50%);
  }

  .timeline-block > [aria-hidden='true'] {
    grid-column: 1/2;
  }

  .timeline [aria-hidden='true'] {
    display: block;
  }

  .timeline-inline.timeline-staggered {
    grid-template-rows: 1fr max-content 1fr;
  }

  .timeline-inline > :not([aria-hidden='true']) {
    grid-row: 2/3;
    align-self: start;
  }

  .timeline-inline.timeline-staggered [aria-hidden='true'] {
    grid-row: 2/3;
  }

  .timeline-block.timeline-staggered {
    grid-template-columns: 1fr max-content 1fr;
  }

  .timeline-block.timeline-staggered > .sparkline {
    grid-column: 2/3 !important;
  }

  .timeline-block.timeline-staggered > .stack:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .timeline-block.timeline-staggered > .stack:nth-of-type(4) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .timeline-block.timeline-staggered > .stack:nth-of-type(6) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .timeline-block.timeline-staggered > .stack:nth-of-type(8) {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  .timeline-inline.timeline-staggered > .stack:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
  }

  .timeline-inline.timeline-staggered > .stack:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/-1;
    align-self: start;
  }

  .timeline-inline.timeline-staggered > .stack:nth-of-type(6) {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end;
  }

  .timeline-inline.timeline-staggered > .stack:nth-of-type(8) {
    grid-column: 4/5;
    grid-row: 3/-1;
    align-self: start;
  }
}
