blockquote {
    font-style: italic;
    font-size: var(--font-size-l);
    line-height: var(--line-height-body);
    margin: var(--space-l) 0;
    padding: var(--space-m);
    border-left: 4px solid #ccc;
}
