<div class="region sidebar gap-m theme-{{props.theme or 'background'}}">
    <div class="fixed frame avatar-img">{% img props.content.img.src, props.content.img.alt %}</div>
    <figure>
        <blockquote>
            &OpenCurlyDoubleQuote;{{ props.content.quote }}&CloseCurlyDoubleQuote;
        </blockquote>
        <figcaption class="overline">
            {{ props.content.author }}
        </figcaption>
    </figure>
</div>