<div class="cover cover-nav theme-{{props.theme}}">
    <div class="principle">
        <div class="sidebar gap-m">
            <div class="frame fixed square">
                <img src="https://generative-placeholders.glitch.me/image?width=300&height=300" alt="placeholder" />
            </div>
            <div class="center">
                <blockquote class="blockquote-accent">
                    <p>
                        I am beyond pleased with Dustin’s impeccable service. He was
                        extremely attentive in understanding my business and provided very
                        personalized help. Great designer. I 100% recommend working with
                        him.
                    </p>
                    <footer>Jarod Hoover | CEO of Hoover Honey</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>