<div class="region center-intrinsic">
    <figure>
        <blockquote class="blockquote-accent">
            {{ props.content.quote }}
        </blockquote>
        <figcaption class="overline">{{ props.content.author }}</figcaption>
    </figure>
</div>