{# Status: TODO #}
<div class="region center-intrinsic">
    <figure>
        <blockquote class="blockquote-accent">
            <p>{{ props.content.quote }}</p>
        </blockquote>
        <figcaption class="overline">{{ props.content.footer }}</figcaption>
    </figure>
</div>