:root {
	--radius-s: 20px;
	--radius-l: 20px;
	--radius-btn: 999px;
}

#header::before {
	background-image: linear-gradient(to right bottom, #05313345, #14626645),
		url("../assets/hero-index.svg");
}

#services::before {
	background-image: linear-gradient(to right bottom, #05313345, #14626645),
		url("../assets/cafe.jpg");
}

#c2contact::before {
	background-image: linear-gradient(to right bottom, #05313345, #14626645),
		url("../assets/cafe.jpg");
}

#services > section {
	display: none;
}

#services > #services_img {
	display: block;
}

#services > section:target {
	display: block;
}

#services > section:target ~ #services_img {
	display: none;
}
