/** Global  */
:root {
	/*? Colors */
	--color-success-400: #05330e;
	--color-success-300: #146625;
	--color-success-200: #52cc6a;
	--color-success-100: #80ff99;

	--color-info-400: #050e33;
	--color-info-300: #142366;
	--color-info-200: #5268cc;
	--color-info-100: #8097ff;

	--color-warning-400: #333305;
	--color-warning-300: #666614;
	--color-warning-200: #cccc52;
	--color-warning-100: #ffff80;

	--color-danger-400: #330508;
	--color-danger-300: #66141a;
	--color-danger-200: #cc525a;
	--color-danger-100: #ff8088;

	/*? Color Aliases */
	--color-fg-primary: var(--color-neutral-700);
	--color-fg: var(--color-neutral-600);
	--color-fg-muted: var(--color-neutral-500);
	--color-border: var(--color-neutral-400);
	--color-bg-primary: var(--color-neutral-300);
	--color-bg: var(--color-neutral-200);
	--color-surface: var(--color-neutral-100);

	--color-brand-primary: var(--color-brand-400);
	--color-brand: var(--color-brand-300);
	--color-brand-border: var(--color-brand-200);
	--color-brand-muted: var(--color-brand-100);

	--color-success-primary: var(--color-success-400);
	--color-success: var(--color-success-300);
	--color-success-border: var(--color-success-200);
	--color-success-muted: var(--color-success-100);

	--color-info-primary: var(--color-info-400);
	--color-info: var(--color-info-300);
	--color-info-border: var(--color-info-200);
	--color-info-muted: var(--color-info-100);

	--color-warning-primary: var(--color-warning-400);
	--color-warning: var(--color-warning-300);
	--color-warning-border: var(--color-warning-200);
	--color-warning-muted: var(--color-warning-100);

	--color-danger-primary: var(--color-danger-400);
	--color-danger: var(--color-danger-300);
	--color-danger-border: var(--color-danger-200);
	--color-danger-muted: var(--color-danger-100);

	/*? Space  */
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 24px;
	--space-6: 32px;
	--space-7: 48px;
	--space-8: 64px;
	--space-9: 96px;
	--space-10: 128px;
	--space-11: 192px;
	--space-12: 256px;
	--space-13: 384px;
	--space-14: 512px;
	--space-15: 640px;
	--space-16: 768px;

	/*? Elevation  */
	--elevation-0: rgba(0, 0, 0, 0.2) 0px 4px 6px;
	--elevation-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--elevation-2: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
	--elevation-3: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
	--elevation-4: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
	--elevation-5: 0 20px 40px rgba(0, 0, 0, 0.2);

	--inset: inset 0 2px 2px rgba(0, 0, 0, 0.1);

	/*? Elevation Aliases  */
	--elevation-btn: var(--elevation-2);
	--elevation-btn-hover: var(--elevation-3);
	--elevation-btn-active: var(--elevation-1);
	--elevation-surface: var(--elevation-2);
	--elevation-dropdown: var(--elevation-3);
	--elevation-modal: var(--elevation-5);
	--elevation-input: var(--inset);
	--elevation-dragging: var(--elevation-4);
	--elevation-tooltip: var(--elevation-3);
	--elevation-notification: var(--elevation-3);

	/*? Typography  */
	--font-size-1: clamp(6px, 0.75rem, 24px);
	--font-size-2: clamp(7px, 0.875rem, 28px);
	--font-size-3: clamp(8px, 1rem, 32px);
	--font-size-4: clamp(9px, 1.125rem, 36px);
	--font-size-5: clamp(10px, 1.25rem, 40px);
	--font-size-6: clamp(12px, 1.75rem, 48px);
	--font-size-7: clamp(16px, 2rem, 64px);
	--font-size-8: clamp(18px, 2.25rem, 72px);
	--font-size-9: clamp(20px, 2.5rem, 80px);
	--font-size-10: clamp(24px, 3rem, 96px);
	--font-size-11: clamp(30px, 3.75rem, 120px);
	--font-size-12: clamp(36px, 4.5rem, 144px);
	--font-size-13: clamp(48px, 5.5rem, 192px);
	--font-size-14: clamp(64px, 8rem, 256px);
	--font-size-15: clamp(104px, 9rem, 416px);
	--font-size-16: clamp(128px, 16rem, 512px);

	--font-size-base: 100%;

	--font-family-heading: Impact;
	--font-family-body: Helvetica;
	--font-weight-heading: 700;
	--font-weight-body: 400;
	--font-weight-btn: 700;

	--measure-heading: 15ch;
	--measure-body: 66ch;

	--line-height-heading: 1.15;
	--line-height-body: 1.5;

	--letter-spacing-heading: initial;
	--letter-spacing-body: initial;
	--letter-spacing-overline: 0.05em;

	--text-transform-btn: capitalize;

	--icon-size-1: var(--font-size-3);
	--icon-size-2: var(--font-size-5);
	--icon-size-3: var(--font-size-6);
	--icon-size-4: var(--font-size-7);

	--gap-page: var(--space-9);
	--gap-section: var(--space-7);

	--inset-body: var(--space-8);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-fg-primary: var(--color-neutral-100);
		--color-fg: var(--color-neutral-200);
		--color-fg-muted: var(--color-neutral-300);
		--color-border: var(--color-neutral-400);
		--color-bg-primary: var(--color-neutral-500);
		--color-bg: var(--color-neutral-600);
		--color-surface: var(--color-neutral-700);

		--color-success-muted: var(--color-success-400);
		--color-success-border: var(--color-success-300);
		--color-success: var(--color-success-200);
		--color-success-primary: var(--color-success-100);

		--color-info-muted: var(--color-info-400);
		--color-info-border: var(--color-info-300);
		--color-info: var(--color-info-200);
		--color-info-primary: var(--color-info-100);

		--color-warning-muted: var(--color-warning-400);
		--color-warning-border: var(--color-warning-300);
		--color-warning: var(--color-warning-200);
		--color-warning-primary: var(--color-warning-100);

		--color-danger-muted: var(--color-danger-400);
		--color-danger-border: var(--color-danger-300);
		--color-danger: var(--color-danger-200);
		--color-danger-primary: var(--color-danger-100);
	}
}

/* Inset / Gap / Space */
:root {
}

/* Layout Modifiers */
:root {
	--masonry-columns: 3;
}

/* Focus */
:root {
	--color-outline: var(--color-brand);
	--offset-outline: 2px;
	--outline: var(--offset-outline) solid var(--color-outline);
}
