/* Color */
:root {
    /* Slate */
    --color-slate-50: #f8fafc;
    --color-slate-100: #e2e8f0;
    --color-slate-200: #94a3b8;
    --color-slate-300: #475569;
    --color-slate-400: #1e293b;
    --color-slate-550: #020617;

    /* Gray */
    --color-gray-50: #f9fafb;
    --color-gray-100: #e5e7eb;
    --color-gray-200: #9ca3af;
    --color-gray-300: #4b5563;
    --color-gray-400: #1f2937;
    --color-gray-500: #030712;

    /* Zinc */
    --color-zinc-50: #fafafa;
    --color-zinc-100: #e4e4e7;
    --color-zinc-200: #a1a1aa;
    --color-zinc-300: #52525b;
    --color-zinc-400: #27272a;
    --color-zinc-500: #09090b;

    /* Neutral */
    --color-neutral-50: #fafafa;
    --color-neutral-100: #e5e5e5;
    --color-neutral-200: #a3a3a3;
    --color-neutral-300: #525252;
    --color-neutral-400: #262626;
    --color-neutral-500: #0a0a0a;

    /* Stone */
    --color-stone-50: #fafaf9;
    --color-stone-100: #e7e5e4;
    --color-stone-200: #a8a29e;
    --color-stone-300: #57534e;
    --color-stone-400: #292524;
    --color-stone-500: #0c0a09;

    /* Red */
    --color-red-100: #fecaca;
    --color-red-200: #dc2626;
    --color-red-300: #450a0a;

    /* Orange */
    --color-orange-100: #fed7aa;
    --color-orange-200: #ea580c;
    --color-orange-300: #431407;

    /* Amber */
    --color-amber-100: #fde68a;
    --color-amber-200: #d97706;
    --color-amber-300: #451a03;

    /* Yellow */
    --color-yellow-100: #fef08a;
    --color-yellow-200: #ca8a04;
    --color-yellow-300: #422006;

    /* Lime */
    --color-lime-100: #d9f99d;
    --color-lime-200: #65a30d;
    --color-lime-300: #1a2e05;

    /* Green */
    --color-green-100: #bbf7d0;
    --color-green-200: #16a34a;
    --color-green-300: #052e16;

    /* Emerald */
    --color-emerald-100: #a7f3d0;
    --color-emerald-200: #059669;
    --color-emerald-300: #022c22;

    /* Teal */
    --color-teal-100: #99f6e4;
    --color-teal-200: #0d9488;
    --color-teal-300: #042f2e;

    /* Cyan */
    --color-cyan-100: #a5f3fc;
    --color-cyan-200: #0891b2;
    --color-cyan-300: #083344;

    /* Sky */
    --color-sky-100: #bae6fd;
    --color-sky-200: #0284c7;
    --color-sky-300: #082f49;

    /* Blue */
    --color-blue-100: #bfdbfe;
    --color-blue-200: #2563eb;
    --color-blue-300: #172554;

    /* Indigo */
    --color-indigo-100: #c7d2fe;
    --color-indigo-200: #4f46e5;
    --color-indigo-300: #1e1b4b;

    /* Violet */
    --color-violet-100: #ddd6fe;
    --color-violet-200: #7c3aed;
    --color-violet-300: #2e1065;

    /* Purple */
    --color-purple-100: #e9d5ff;
    --color-purple-200: #9333ea;
    --color-purple-300: #3b0764;

    /* Fuchsia */
    --color-fuchsia-100: #f5d0fe;
    --color-fuchsia-200: #c026d3;
    --color-fuchsia-300: #4a044e;

    /* Pink */
    --color-pink-100: #fbcfe8;
    --color-pink-200: #db2777;
    --color-pink-300: #500724;

    /* Rose */
    --color-rose-100: #fecdd3;
    --color-rose-200: #e11d48;
    --color-rose-300: #4c0519;

    /* UI */
    --color-ui-bg-tertiary: var(--color-stone-50);
    --color-ui-bg-secondary: var(--color-stone-100);
    --color-ui-bg-primary: var(--color-stone-200);
    --color-ui-fg-tertiary: var(--color-stone-300);
    --color-ui-fg-secondary: var(--color-stone-400);
    --color-ui-fg-primary: var(--color-stone-500);

    /* Primary */
    --color-primary-bg: var(--color-lime-100);
    --color-primary-ui: var(--color-lime-200);
    --color-primary-fg: var(--color-lime-300);

    /* Accent 1 */
    --color-accent1-bg: var(--color-amber-100);
    --color-accent1-ui: var(--color-amber-200);
    --color-accent1-fg: var(--color-amber-300);

    /* Accent 2 */
    --color-accent2-bg: var(--color-yellow-100);
    --color-accent2-ui: var(--color-yellow-200);
    --color-accent2-fg: var(--color-yellow-300);
}

dark mode {
    /* UI */
    --color-ui-bg-tertiary: var(--color-stone-500);
    --color-ui-bg-secondary: var(--color-stone-400);
    --color-ui-bg-primary: var(--color-stone-300);
    --color-ui-fg-tertiary: var(--color-stone-200);
    --color-ui-fg-secondary: var(--color-stone-100);
    --color-ui-fg-primary: var(--color-stone-50);

    /* Primary */
    --color-primary-bg: var(--color-lime-300);
    --color-primary-ui: var(--color-lime-200);
    --color-primary-fg: var(--color-lime-100);

    /* Accent 1 */
    --color-accent1-bg: var(--color-amber-300);
    --color-accent1-ui: var(--color-amber-200);
    --color-accent1-fg: var(--color-amber-100);

    /* Accent 2 */
    --color-accent2-bg: var(--color-yellow-300);
    --color-accent2-ui: var(--color-yellow-200);
    --color-accent2-fg: var(--color-yellow-100);
}

/* Typography */
:root {
    --font-family-headline: 'Charter', 'Bitstream Charter', 'Sitka Text',
        'Cambria', 'serif';
    --font-family-body: 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova',
        'Nimbus Sans', 'Arial', 'sans-serif';

    --font-size-xs: clamp(0.7rem, calc(0.81rem + -0.13vw), 0.78rem);
    --font-size-s: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
    --font-size-m: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --font-size-l: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
    --font-size-xl: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);
    --font-size-2xl: clamp(1.94rem, calc(1.59rem + 1.77vw), 2.96rem);
    --font-size-3xl: clamp(2.33rem, calc(1.77rem + 2.81vw), 3.95rem);
    --font-size-4xl: clamp(2.8rem, calc(1.94rem + 4.28vw), 5.26rem);

    --font-size-xs-px: calc(--font-size-xs * 1px);

    --line-height-headline: 1.2;
    --line-height-body: 1.5;

    --letter-spacing-headline: 0em;
    --letter-spacing-body: 0em;
    --letter-spacing-overline: 0.025em;

    --font-weight-headline: 700;
    --font-weight-body: 400;
}

/* Space */
:root {
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);
    --space-4xl: clamp(13.5rem, calc(12.98rem + 2.61vw), 15rem);
    --space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
    --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);
    --space-3xl-4xl: clamp(6.75rem, calc(3.88rem + 14.35vw), 15rem);
}

/* Shape */
:root {
    --border-radius-s: 0.25rem;
    --border-radius-m: 0.5rem;
    --border-radius-l: 1rem;
    --border-radius-pill: 999px;
    --border-radius-circle: 50%;
}

/* Elevation */
:root {
    --z-drawer: 700;
    --z-dialog: 800;
    --z-dropdown: 900;
    --z-toast: 950;
    --z-tooltip: 1000;

    --shadow-inset: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-s: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-m: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-l: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

/* TEMP */
:root {
    --inset-page: var(--space-m-l);
    --gap-page: var(--space-3xl-4xl);
    --gap-region: var(--space-2xl);
    --gap-section: var(--space-xs);
    --max-inline-size-region: 1200px;
}

.reverse {
    flex-direction: row-reverse;
}

/*? Utils */
.justify-start {
    justify-content: start !important;
}

.justify-end {
    justify-content: end !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-around {
    justify-content: space-around !important;
}

.justify-evenly {
    justify-content: space-evenly !important;
}

.justify-stretch {
    justify-content: stretch !important;
}

.align-start {
    align-items: start !important;
}

.align-end {
    align-items: end !important;
}

.align-center {
    align-items: center !important;
}

.align-stretch {
    align-items: stretch !important;
}

.align-baseline {
    align-items: baseline !important;
}

/** Components  */
/*? The Theme - Theme a page area */
header,
footer {
    padding: var(--inset-page);
}

footer {
    padding-block-end: calc(var(--inset-page) + 4rem);
}

.region {
    padding-inline: var(--inset, var(--inset-page));
    margin-inline: auto;
    max-inline-size: var(--max-inline-size-region);
    inline-size: 100%;
    --gap: var(--gap-region);
}

.region + .region {
    padding-block: var(--inset, var(--gap-page));
}

:is(.region, .section, header, footer) > * {
    --gap: initial;
}

/*? The Stack - Even veritcal space, lists */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * {
    margin-block: 0;
}

.stack > * + * {
    margin-block-start: var(--space-xl);
}

.stack:only-child {
    block-size: 100%;
}

.stack > .split {
    margin-block-end: auto;
}

/*? The Center - Center something */
.center {
    box-sizing: content-box;
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*? The Cluster - Horizontally laid out elements */
.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, var(--space-s));
    justify-content: flex-start;
    align-items: center;
}

/*? The Sidebar */
.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);
}

.with-sidebar > :first-child {
    flex-grow: 1;
}

.with-sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

/*? The Switcher - More flexible version of media queries */
.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

/*? The Cover - “Above the fold” introductory content */
.cover {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    inline-size: 100%;
    align-items: center;
    gap: var(--gap-region);
    padding: var(--inset, var(--inset-page));
}

.cover > :nth-child(2),
.cover > :only-child {
    margin-block: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*? The Grid - Browsing teasers for links or products */
.grid {
    display: grid;
    gap: var(--gap-section, var(--space-s));
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--size, 250px), 100%), 1fr)
    );
}

.grid > * {
    align-items: stretch;
    margin: 0;
}

.col-2 {
    --size: 500px;
}

.col-3 {
    --size: 325px;
}

.col-4 {
    --size: 250px;
}

.col-5 {
    --size: 200px;
}

.col-6 {
    --size: 150px;
}

/*? The Frame - Cropping media (videos and images) to a desired aspect ratio */
.frame {
    aspect-ratio: 3/2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame.square {
    aspect-ratio: 1/1;
}

.frame.photo {
    aspect-ratio: 3/2;
}

.frame.video {
    aspect-ratio: 16/9;
}

.frame > img,
.frame > video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

@media (orientation: 'portrait') {
    .frame {
        aspect-ratio: 1/1;
    }
}

/*? The Reel - Carousel, Mobile Navigation Sausage Links */
.reel {
    display: flex;
    block-size: auto;
    overflow-x: auto;
    overflow-y: hidden;
    gap: var(--gap-section, var(--space-s));
    /* scrollbar-color: #fff #000; */
}

.reel::-webkit-scrollbar {
    block-size: 1rem;
}

.reel::-webkit-scrollbar-track {
    /* background-color: #000; */
}

.reel::-webkit-scrollbar-thumb {
    /* background-color: #000; */
    /* background-image: linear-gradient(
		#000 0,
		#000 0.25rem,
		#fff 0.25rem,
		#fff 0.75rem,
		#000 0.75rem
	); */
}

.reel > * {
    flex: 0 0 auto;
}

.reel > img {
    block-size: 100%;
    inline-size: auto;
    flex-basis: auto;
}

/*? The Imposter */
.imposter {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
}

.imposter.contain {
    --margin: 0px;
    overflow: auto;
    max-inline-size: calc(100% - (var(--margin) * 2));
    max-block-size: calc(100% - (var(--margin) * 2));
}

/*? The Masonry - Product galleries, testimonials, blog posts, portfolio items */
/* Masonry style grid */
.masonry {
    gap: var(--gutter);
}

.masonry.col-2 {
    columns: 2;
}

.masonry.col-3 {
    columns: 3;
}

.masonry.col-4 {
    columns: 4;
}

.masonry.col-5 {
    columns: 5;
}

.masonry.col-6 {
    columns: 6;
}

.masonry > * + * {
    margin-block-start: var(--gutter);
    break-inside: avoid;
}

/*? The List  */
ol,
ul {
    columns: 2;
    column-gap: var(--gutter);
}

li {
    column-span: all;
}

li:nth-last-child(n + 3),
li:nth-last-child(n + 3) ~ * {
    column-span: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nowrap > * {
    white-space: nowrap;
}

.max-content {
    inline-size: max-content;
}

/*? The Split-Screen - Divide the screen into two equal or unequal parts */
.split-screen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap, var(--gap-region));
}

.split-screen.start {
    /* flex-direction: row-reverse; */
}

.split-screen > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
}

.split-screen.start > :first-child {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 50%;
}

.split-screen.start > :last-child {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
}

.split-screen.end > :first-child {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
}

.split-screen.end > :last-child {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 50%;
}

/*? The Card - Showcase products, services, blog posts, or other types of content  */
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-bg, var(--color-bg-primary));
    border: var(--border-thin) solid;
    padding: var(--space-m);
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-card);
    max-inline-size: 66ch;
    text-decoration: none;
    border: 2px solid var(--color-bg-secondary-text);
}

.card > p {
    margin-block-end: 0;
}

.card.media {
    padding: 0;
    transition: all 0.3s;
}

.card.media:hover {
    box-shadow: var(--shadow-card-hover);
}

.card > img {
    border-radius: var(--radius-m) var(--radius-m) 0 0;
    box-shadow: none;
}

.card > .inline {
    align-items: center;
}

/*? The Dropdown - Dropdown on hover */

/*? The Tooltip - Tooltip on hover */

/*? The Details - Details on click */

/*? The Navigation - Mobile/Desktop navigation  */
.mobile-navigation {
    display: none;
}

.desktop-navigation {
    display: flex;
    justify-content: center;
}

.desktop-navigation .navigation[aria-current='page'] {
    color: var(--primary-ui);
    background-size: 100% 2px;
    background-position-x: left;
}

@media (max-width: 767px) {
    .desktop-navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }
    main {
        margin-block-start: calc(4rem + var(--space-m));
    }

    header {
        padding: 0 !important;
    }

    .topbar {
        block-size: 4rem;
        padding-inline: var(--space-s);
        inline-size: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-block-end: 1px solid var(--grey);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }

    .bottombar {
        inline-size: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        z-index: 1;
        border-block-start: 1px solid var(--grey);
    }

    .bottombar > * {
        min-inline-size: 44px;
        min-block-size: 44px;
    }

    .bottombar > li {
        flex: 1;
    }

    .bottombar svg {
        inline-size: 20px !important;
        block-size: 20px !important;
    }

    .bottombar a {
        padding-block: 12px;
        inline-size: 100%;
        block-size: 100%;
        gap: 4px !important;
        font-size: var(--font-size--2) !important;
        font-weight: 700;
    }

    .navigation[aria-current='page'] {
        --headline-color: var(--primary-ui) !important;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-3xs);
        font-size: var(--font-size--1);
        position: relative;
        inline-size: max-content;
    }
}
