.two-column-section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 100vh;
}

.two-column-section .text-column {
  flex-basis: 50%;
  position: relative;
  overflow-y: scroll;
  padding: 2rem;
}

.two-column-section .image-column {
  flex-basis: 50%;
  position: sticky;
  top: 0;
  left: 0;
  block-size: 100vh;
  inline-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .two-column-section .text-column {
    flex-basis: 100%;
    padding: 1rem;
  }

  .two-column-section .image-column {
    flex-basis: 100%;
    position: relative;
    block-size: 50vh;
  }
}
