.input {
  font-family: var(--font-family-body);
  font-weight: 400;
  margin: 0;
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--color-bg-primary);
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  box-shadow: none;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-block-start: var(--space-2xs);
}

.input:focus {
  border-color: transparent;
  outline: 2px solid var(--color-primary-ui);
}

.input-filled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
}

.input-filled::placeholder {
  color: var(--color-fg-primary);
}

.input-filled:focus {
  background-color: #fff;
}

.input-underline {
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0 var(--space-2xs);
  border: none;
  border-block-end: 2px solid var(--color-bg-primary);
}

.input-underline:focus {
  outline: none;
  border-color: var(--color-fg-primary);
}

label:has(input[type="radio"]),
label:has(input[type="checkbox"]) {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-top: 1em;
  place-items: center;
}

label:has(input[type="radio"]):focus-within > input[type="radio"] {
  color: var(--color-primary-ui);
}

input[type="radio"] {
  appearance: none;
  background-color: var(--color-bg-tertiary);
  margin: 0;
  inline-size: 1.15em;
  block-size: 1.15em;
  border: 1px solid var(--color-bg-primary);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  inline-size: 0.45em;
  block-size: 0.45em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-bg-tertiary);
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus,
input[type="radio"]:checked {
  outline: none;
  background-color: var(--color-primary-ui);
  border: none;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--color-bg-tertiary);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: var(--border-radius-s);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(
    14% 44%,
    0 65%,
    50% 100%,
    100% 16%,
    80% 0%,
    43% 62%
  );
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-primary-ui);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: 2px solid var(--color-primary-ui);
  outline-offset: 2px;
}
