main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: var(--gap-page);
}

main > section:not(.stack) {
	gap: var(--gap-section);
}

main > section:is(.stack, .masonry) > * + * {
	margin-block-start: var(--gap-section);
}

main > :first-child {
	padding-block-start: var(--gap-page);
}

/* main > :last-child {
	padding-block-end: var(--gap-page);
} */

/* ? Gap Modifiers */
.gap-0:not(.stack) {
	gap: 0 !important;
}
.gap-1:not(.stack) {
	gap: var(--space-1) !important;
}
.gap-2:not(.stack) {
	gap: var(--space-2) !important;
}
.gap-3:not(.stack) {
	gap: var(--space-3) !important;
}
.gap-4:not(.stack) {
	gap: var(--space-4) !important;
}
.gap-5:not(.stack) {
	gap: var(--space-5) !important;
}
.gap-6:not(.stack) {
	gap: var(--space-6) !important;
}
.gap-7:not(.stack) {
	gap: var(--space-7) !important;
}
.gap-8:not(.stack) {
	gap: var(--space-8) !important;
}
.gap-9:not(.stack) {
	gap: var(--space-9) !important;
}
.gap-10:not(.stack) {
	gap: var(--space-10) !important;
}
.gap-11:not(.stack) {
	gap: var(--space-11) !important;
}
.gap-12:not(.stack) {
	gap: var(--space-12) !important;
}
.gap-13:not(.stack) {
	gap: var(--space-13) !important;
}
.gap-14:not(.stack) {
	gap: var(--space-14) !important;
}
.gap-15:not(.stack) {
	gap: var(--space-15) !important;
}
.gap-16:not(.stack) {
	gap: var(--space-16) !important;
}

.gap-0:is(.stack, .masonry) > * + * {
	margin-block-start: 0;
}
.gap-1:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-1);
}
.gap-2:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-2);
}
.gap-3:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-3);
}
.gap-4:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-4);
}
.gap-5:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-5);
}
.gap-6:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-6);
}
.gap-7:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-7);
}
.gap-8:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-8);
}
.gap-9:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-9);
}
.gap-10:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-10);
}
.gap-11:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-11);
}
.gap-12:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-12);
}
.gap-13:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-13);
}

.gap-14:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-14);
}
.gap-15:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-15);
}
.gap-16:is(.stack, .masonry) > * + * {
	margin-block-start: var(--space-16);
}
