.btn {
  color-scheme: light;
  font-family: var(--font-family-body);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-body);
  color: var(--color-gray-50);
  line-height: var(--line-height-body);
  font-size: var(--font-size-s);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-3xs);
  position: relative;
  inline-size: auto;
  cursor: pointer;
  background-color: var(--color-primary-ui);
  border-radius: var(--border-radius-pill);
  border: 1px solid transparent;
  padding: var(--space-2xs) var(--space-s);
  box-shadow: var(--shadow-xs);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: var(--shadow-m);
  background-color: var(--color-primary-ui-raised);
}

.btn-secondary {
  background-color: transparent;
  color: var(--color-primary-ui);
  border-color: var(--color-primary-ui);
  box-shadow: none;
}

.btn-secondary:hover {
  color: var(--color-primary-ui);
  border-color: var(--color-primary-ui);
  background-color: var(--color-gray-50);
  box-shadow: none;
}

.btn-tertiary {
  background-color: transparent;
  color: var(--color-primary-ui);
  border-color: transparent;
  box-shadow: none;
}

.btn-tertiary {
  font-size: var(--font-size-m);
  text-decoration: underline;
}
.btn-tertiary.btn-s {
  font-size: var(--font-size-s);
}

.btn-tertiary.btn-l {
  font-size: var(--font-size-l);
}

.btn-tertiary:hover {
  color: var(--color-primary-fg);
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

.btn-s {
  padding: var(--space-3xs) var(--space-xs);
}

.btn-l {
  padding: var(--space-2xs) var(--space-l);
}

.btn-circular {
  inline-size: 50px;
  block-size: 50px;
  padding: 0;
}

.btn-circular.btn-s {
  inline-size: 44px;
  block-size: 44px;
  padding: 0;
}

.btn-circular.btn-l {
  inline-size: 56px;
  block-size: 56px;
  padding: 0;
}
