---
layout: base
title: Page Not Found
description: The page you're looking for could not be found. Please use the navigation to find what you're looking for, or contact me for further assistance.
---

{{ action({ variant: 'simple', theme: 'primary', content: content.error }) }}