---
layout: base
eleventyNavigation:
key: Blog
order: 5
title: Accessibility & Sustainability Tips for Businesses & Nonprofits | Blog | Dustin Heisey
description: Explore my blog for insightful articles on user-centered, accessible, and environmentally sustainable web design practices. Stay updated with the latest trends and tips for eco-conscious businesses and nonprofits.
---

{{ intro({ variant: 'img-end', content: content.blog.hero }) }}
{{ gallery({ variant: 'masonry', categories: collections.category, posts: collections.post, content: content.blog.grid }) }}
{{ action({variant: 'bg-pattern', pattern: 'topogrophy', theme: 'primary', content: content.action }) }}