---
layout: base
title: Accessible and Sustainable Web Design Services
description: The portfolio of Dustin Heisey. I provide comprehensive, customized web design services that prioritize accessibility, sustainability, and social impact. Partner with me to create a website that showcases your social impact and aligns with your values.
---

<div class="cover region cover-nav">
  <div class="sidebar reverse sidebar-split gap-m">
    <div class="frame">
      {% image content.index.hero.img.src, content.index.hero.img.alt %}
    </div>
    <div class="prose auto fixed">
      <h1 class="hero-headline">
        <span class="color-primary">{{content.index.hero.accent}}</span>
        {{content.index.hero.headline}}
      </h1>
      <p>{{content.index.hero.body}}</p>
      <a href="{{content.index.hero.cta.url}}" class="btn">{{content.index.hero.cta.label}}</a>
    </div>
  </div>
</div>

<div class="region stack gap-xl">
  <section class="prose center">
    <h2 class="region-headline">{{content.index.problem.headline}}</h2>
  </section>
  <ul class="grid grid-2 gap-s">
    {% for item in content.index.problem.list %}
    <li class="inline align-start gap-xs">
      <svg focusable="false" class="icon icon-secondary">
        <use href="/assets/icons.svg#{{item.icon}}"></use>
      </svg>
      {{item.text}}
    </li>
    {% endfor %}
  </ul>
</div>

<div class="region sidebar sidebar-split gap-m">
  <div class="frame square">
    {% image content.index.guide.img.src, content.index.guide.img.alt %}
  </div>
  <div class="fixed prose">
    <p class="overline">{{content.index.guide.overline}}</p>
    <h2 class="region-headline">{{content.index.guide.headline}}</h2>
    <p>{{content.index.guide.body}}</p>
  </div>
</div>

<div class="stack region gap-xl">
  <section class="prose center center-intrinsic">
    <h2 class="region-headline">{{content.index.plan.headline}}</h2>
  </section>
  <div class="switcher switch-phone">
    <a href="{{content.index.plan.services[0].link}}" class="card card-link prose theme-secondary-container">
      <svg focusable="false" class="icon block icon-l">
        <use href="/assets/icons.svg#{{content.index.plan.services[0].icon}}"></use>
      </svg>
      <h3 class="title-headline">
        {{content.index.plan.services[0].headline}}
      </h3>
      <p>{{content.index.plan.services[0].body}}</p>
    </a>
    <a href="{{content.index.plan.services[1].link}}" class="card card-link prose theme-primary-container">
      <svg focusable="false" class="icon icon-l block">
        <use href="/assets/icons.svg#{{content.index.plan.services[1].icon}}"></use>
      </svg>
      <h3 class="title-headline">
        {{content.index.plan.services[1].headline}}
      </h3>
      <p>{{content.index.plan.services[1].body}}</p>
    </a>
    <a href="{{content.index.plan.services[2].link}}" class="card card-link prose theme-tertiary-container">
      <svg focusable="false" class="icon icon-l block">
        <use href="/assets/icons.svg#{{content.index.plan.services[2].icon}}"></use>
      </svg>
      <h3 class="title-headline">
        {{content.index.plan.services[2].headline}}
      </h3>
      <p>{{content.index.plan.services[2].body}}</p>
    </a>
  </div>
</div>

<div class="region sidebar reverse sidebar-split gap-m">
  <div class="frame square">
    {% image content.index.action.img.src, content.index.action.img.alt %}
  </div>
  <div class="prose fixed">
    <h2>{{content.index.action.headline}}</h2>
    <p>{{content.index.action.body}}</p>
    <a href="{{content.index.action.cta.url}}" class="btn">{{content.index.action.cta.label}}</a>
  </div>
</div>

<div class="region center-intrinsic">
  <figure>
    <blockquote class="blockquote-accent">
      <p>{{ content.index.success.quote }}</p>
    </blockquote>
    <figcaption class="overline">{{ content.index.success.footer }}</figcaption>
  </figure>
</div>