---
layout: base
title: See Some Past Projects
description: Check out some of my previous web design projects that prioritize accessibility, sustainability, and social impact.
---

{{ intro({ variant: 'img-end', content: content.portfolio.hero }) }}
{{ gallery({ variant: 'img-grid', content: content.portfolio.grid }) }}
{{ action({variant: 'bg-pattern', pattern: 'topogrophy', theme: 'primary', content: content.action }) }}