/** Components  */
/*? The Theme - Theme a page area */
header,
footer {
  padding: var(--inset-page);
}

footer {
  padding-block-end: calc(var(--inset-page) + 4rem);
}

.region {
  padding-inline: var(--inset, var(--inset-page));
  margin-inline: auto;
  max-inline-size: var(--max-inline-size-region);
  inline-size: 100%;
  --gap: var(--gap-region);
}

.region + .region {
  padding-block: var(--inset, var(--gap-page));
}

:is(.region, .section, header, footer) > * {
  --gap: initial;
}
