.mosaic {
  --mosaic: "1 1 2", "1 1 3", "4 5 6";
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: var(--mosaic);
}

.mosaic > :nth-child(1) {
  grid-area: "1";
}

.mosaic > :nth-child(2) {
  grid-area: "2";
}

.mosaic > :nth-child(3) {
  grid-area: "3";
}

.mosaic > :nth-child(4) {
  grid-area: "4";
}

.mosaic > :nth-child(5) {
  grid-area: "5";
}

.mosaic > :nth-child(6) {
  grid-area: "6";
}

.mosaic > :nth-child(7) {
  grid-area: "7";
}

.mosaic > :nth-child(8) {
  grid-area: "8";
}

.mosaic > :nth-child(9) {
  grid-area: "9";
}

.mosaic > :nth-child(10) {
  grid-area: "10";
}

.mosaic > :nth-child(11) {
  grid-area: "11";
}

.mosaic > :nth-child(12) {
  grid-area: "12";
}
```
```